<div class="modal-content">
  <%= form_for @profile, :url => { :action => "update"}, html: {:remote => true} do |avatar| %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <%= avatar.file_field :avatar, :required => true, :class => 'validate' %>
        </div>
        <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
        </div>
      </div>
      <hr />
      <!--<div class="input-field">-->
      <!--<input placeholder="URL" id="first_name2" type="text" class="validate">-->
      <!--</div>--></br>
      <%= avatar.submit 'Update Picture', :class => 'btn btn-large blue waves center' %>
  <% end %>
</div>
<div class="modal-footer">
  <!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>-->
  <!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>-->
</div>