<div id="wrapper" class="clearfix">
  <%= render :partial => 'shared/header' %>
    <section>
      <div class="container">
        <div class="row">
          <div class="co-sm-12 mt20">
            <div class="heading-block title-center"><h3>Create Your Profile</h3></div>
          </div>
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="tabs-animated">
              <ul class="nav nav-tabs tab-cust" role="tablist">
                <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">General</a></li>
                <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Account</a></li>
                <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Intrest</a></li>
                <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Contact/link</a></li>
                <li role="presentation"><a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">Image upload</a></li>
              </ul>
              <%= form_for [current_individual, @profile], url: individual_profile_path do |f| %>

              <div class="tab-content createpf">
                <div role="tabpanel" class="tab-pane fade in active clearfix" id="tab1">
                  <div class="col-sm-12">
                    <div class="mt30">
                      <span class="innerspan mb8">Choose your Domain</span>
                      <ul class="inputform">
                        <li><label class="radio-custom"><input type="radio" name="profile[individual_type]" value="STUDENT"><span class="radio-desing"></span>Student</label></li>
                        <li><label class="radio-custom"><input type="radio" name="profile[individual_type]" value="FREELANCER"><span class="radio-desing"></span>Freelancer</label></li>
                        <li><label class="radio-custom"><input type="radio" name="profile[individual_type]" value="PROFESSIONAL"><span class="radio-desing"></span>Professional</label></li>
                        <li><label class="radio-custom"><input type="radio" name="profile[individual_type]" value="AGENCY"><span class="radio-desing"></span>Agency</label></li>
                      </ul>
                    </div>
                    <div class="mt30">
                      <span class="innerspan">Type of Opportunities you are looking for:</span>
                      <div class="padlbox">
                        <div class="checkbox"><label class="text"><input type="checkbox" name="profile[type_job][]" value="part_time">Part time job</label></div>
                        <div class="checkbox"><label class="text"><input type="checkbox" name="profile[type_job][]" value="internship">Internship</label></div>
                        <div class="checkbox"><label class="text"><input type="checkbox" name="profile[type_job][]" value="project">Live Projects</label></div>
                        <div class="checkbox"><label class="text"><input type="checkbox" name="profile[type_job][]" value="startup">Startup Jobs</label></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mt15">
                    <div class="legend-bdr">
                      <span class="legend">Type of Work Environment looking for : </span>
                      <div class="checkbox mt"><label class="text"><%= f.check_box :looking_job, {multiple: true, 'data-required' => 'true'}, 'office', nil %>Office / Employer Location </label></div>
                      <div class="checkbox"><label class="text"><%= f.check_box :looking_job, {multiple: true, 'data-required' => 'true'}, 'workfromhome', nil %>Work from home</label></div>
                      <div class="checkbox"><label class="text"><%= f.check_box :looking_job, {multiple: true, 'data-required' => 'true'}, 'fieldwork', nil %>Field Work</label></div>
                      <div class="checkbox"><label class="text"><%= f.check_box :looking_job, {multiple: true, 'data-required' => 'true'}, 'startups', nil %>Corporate/Startup </label></div>

                    </div>
                  </div>
                  <div class="buttonBox">
                    <a href="#tab2" data-toggle="tab" class="btn btn-my btnmyR">Next</a>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade clearfix" id="tab2">
                  <div class="col-sm-12">
                    <div class="mt20"><h4 class="about_heading pad left">Tell us about yourself</h4></div>
                    <div class="row createpf mt15">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <span>First Name</span>
                          <input type="text" name="profile[first_name]" class="form-control" placeholder="Type your first name">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <span>Last Name</span>
                          <input type="text" name="profile[last_name]" class="form-control" placeholder="Type your last name">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <span>Age</span>
                          <input type="text" name="profile[age]" class="form-control" placeholder="Type your age">
                        </div>
                      </div>
                      <div class="col-sm-6 mt10">
                        <div class="form-group">
                          <span>Birth Date</span>
                          <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                            <input type="text" name="profile[birth_date]" class="form-control" id="exampleInputAmount" placeholder="05-08-2016">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <span>Gender</span>
                          <select class="form-control" name="profile[gender]">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="O">Others</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <span>Phone Number</span>
                          <input type="text" name="profile[contact_no]" class="form-control" placeholder="Optional">
                        </div>
                      </div>

                      <div class="col-sm-6">
                        <div class="form-group">
                          <span>Category your category</span>
                          <select class="form-control" name="profile[category_id]">
                            <%
                              unless @categories.blank?
                               @categories.each do |cat|
                            %>
                            <option value="<%= cat.id %>"><%= cat.name %></option>
                            <% end
                               end
                            %>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <span>Education</span>
                          <select class="form-control" name="profile[education]">
                            <option value="btech">Btech</option>
                            <option value="bcom">Bcom</option>
                            <option value="law">Law</option>
                            <option value="others">Others</option>
                          </select>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="text-center">
                    <a href="#tab1" data-toggle="tab" class="btn btn-my btnmyL">Prev</a>
                    <a href="#tab3" data-toggle="tab" class="btn btn-my btnmyR">Next</a>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade clearfix" id="tab3">
                  <div class="col-sm-12">
                    <div class="mt20"><h4 class="about_heading pad left">What are you intrest</h4></div>

                    <div class="form-group mt15">
                      <input type="text" name="" class="form-control" placeholder="Type your full name">
                    </div>

                    <!--<ul class="list-inline">-->
                      <!--<li><label class="text"><input type="checkbox" value=""> Music</label></li>-->
                      <!--<li><label class="text"><input type="checkbox" value=""> Game</label></li>-->
                      <!--<li><label class="text"><input type="checkbox" value=""> Accounting</label></li>-->
                      <!--<li><label class="text"><input type="checkbox" value=""> Field job</label></li>-->
                      <!--<li><label class="text"><input type="checkbox" value=""> Computer/technology</label></li>-->
                    <!--</ul>-->

                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span>Salary Per Hour </span>
                      <select class="form-control" name="profile[hr_salary]">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="N/A">Not Applicable</option>
                        <option value="100">100-500</option>
                        <option value="500">500-1000</option>
                        <option value="1000">1000-2000</option>
                        <option value="2000">2000+</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span>Salary Per Month </span>
                      <select class="form-control" name="profile[month_salary]">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="N/A">Not Applicable</option>
                        <option value="1000">1000-5000</option>
                        <option value="5000">5000-10000</option>
                        <option value="10000">10000-15000</option>
                        <option value="15000">15000-20000</option>
                        <option value="20000">20000-25000</option>
                        <option value="25000">25000-30000</option>
                        <option value="30000">30000-40000</option>
                        <option value="40000">40000-50000</option>
                        <option value="50000">50000-60000</option>
                        <option value="60000">60000-80000</option>
                        <option value="80000">80000-1lac</option>
                        <option value="1lac">1lac+</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span>Salary Per Annum </span>
                      <select class="form-control" name="profile[annum_salary]">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="N/A">Not Applicable</option>
                        <option value="10000">10000-50000</option>
                        <option value="50000">50000-1lac</option>
                        <option value="1lac">1lac-1.5lac</option>
                        <option value="1.5lac">1.5lac-2lac</option>
                        <option value="2lac">2lac-3lac</option>
                        <option value="3lac">3lac-4lac</option>
                        <option value="4lac">4lac-5lac</option>
                        <option value="5lac">5lac-6lac</option>
                        <option value="6lac">6lac-7lac</option>
                        <option value="7lac">7lac-8lac</option>
                        <option value="8lac">8lac-9lac</option>
                        <option value="9lac">9lac-10lac</option>
                        <option value="10lac">10lac+</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span>Salary Per Project </span>
                      <select class="form-control" name="profile[project_salary]">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="N/A">Not Applicable</option>
                        <option value="10000">10000-50000</option>
                        <option value="50000">50000-1lac</option>
                        <option value="1lac">1lac-1.5lac</option>
                        <option value="1.5lac">1.5lac-2lac</option>
                        <option value="2lac">2lac-3lac</option>
                        <option value="3lac">3lac-4lac</option>
                        <option value="4lac">4lac-5lac</option>
                        <option value="5lac">5lac-6lac</option>
                        <option value="6lac">6lac-7lac</option>
                        <option value="7lac">7lac-8lac</option>
                        <option value="8lac">8lac-9lac</option>
                        <option value="9lac">9lac-10lac</option>
                        <option value="10lac">10lac+</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span>Current City</span>
                      <input type="text" name="profile[current_city]" class="form-control" placeholder="Optional">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span>Preferred City to work</span>
                      <input type="text" name="profile[preferred_city]" class="form-control" placeholder="Type the city you want to work in">
                    </div>
                  </div>
                  <div class="col-sm-6 mt15">
                    <div class="legend-bdr">
                      <span class="legend">Weekday Availability</span>
                      <div class="checkbox mt"><label class="text"><%= f.check_box :weekday_availability, {multiple: true,  'data-required' => 'true'}, 'morning', nil %>Morning</label></div>
                      <div class="checkbox"><label class="text"><%= f.check_box :weekday_availability, {multiple: true,  'data-required' => 'true'}, 'afternoon', nil %>Afternoon</label></div>
                      <div class="checkbox"><label class="text"><%= f.check_box :weekday_availability, {multiple: true,  'data-required' => 'true'}, 'evening', nil %>Evening</label></div>
                      <div class="checkbox"><label class="text"><%= f.check_box :weekday_availability, {multiple: true,  'data-required' => 'true'}, 'night', nil %>Night</label></div>

                    </div>
                  </div>
                  <div class="col-sm-6 mt15">
                    <div class="legend-bdr">
                      <span class="legend">Weekend Availability</span>
                      <div class="checkbox mt"><label class="text"><%= f.check_box :weekend_availability, {multiple: true,  'data-required' => 'true'}, 'morning', nil %>Morning</label></div>
                      <div class="checkbox"><label class="text"><%= f.check_box :weekend_availability, {multiple: true,  'data-required' => 'true'}, 'afternoon', nil %>Afternoon</label></div>
                      <div class="checkbox"><label class="text"><%= f.check_box :weekend_availability, {multiple: true,  'data-required' => 'true'}, 'evening', nil %>Evening</label></div>
                      <div class="checkbox"><label class="text"><%= f.check_box :weekend_availability, {multiple: true,  'data-required' => 'true'}, 'night', nil %>Night</label></div>

                    </div>
                  </div>


                  <div class="">
                    <a href="#tab2" data-toggle="tab" class="btn btn-my btnmyL">Prev</a>
                    <a href="#tab4" data-toggle="tab" class="btn btn-my btnmyR">Next</a>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane fade clearfix" id="tab4">
                  <div class="col-sm-12">
                    <div class="mt20"><h4 class="about_heading pad left">Type your contact info</h4></div>
                    <div class="mt15">
                      <!--<div class="form-group">-->
                        <!--<span>Contact No</span>-->
                        <!--<input type="text" name="profile[mobile_no]" class="form-control" placeholder="7827821676">-->
                      <!--</div>-->
                      <div class="form-group">
                        <span>Facebook Link</span>
                        <input type="text" name="profile[facebook_profile]" class="form-control" placeholder="www.facebook.com">
                      </div>
                      <div class="form-group">
                        <span>Twitter Link </span>
                        <input type="text" name="profile[twitter_profile]" class="form-control" placeholder="www.twitter.com">
                      </div>
                      <div class="form-group">
                        <span>Linkedin Link</span>
                        <input type="text" name="profile[linkedin_profile]" class="form-control" placeholder="www.linkedin.com">
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <a href="#tab3" data-toggle="tab" class="btn btn-my btnmyL">Prev</a>
                    <a href="#tab5" data-toggle="tab" class="btn btn-my btnmyR">Next</a>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tab5">
                  <div class="col-sm-12">
                    <div class="mt20"><h4 class="about_heading pad left">Choose your profile picture</h4></div>
                    <div class="mt15">
                      <div class="form-group">
                        <%#= f.file_field :avatar, :class=>'form-control' %>
                      </div>
                      <div class="form-group text-center">
                        <button class="btn btnmy btn-sm">Upload</button>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <a href="#tab4" data-toggle="tab" class="btn btn-my btnmyL">Prev</a>
                    <%= f.submit 'Create Profile', :class=>'btn btn-success btnmyR'  %>
                    <!--<button class="btn btn-success btnmyR">Create Profile</button>-->
                  </div>
                </div>

              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

