<div style="background: #ee6e73; width: 100%;"><h3 class="center-align" style="color: #fff;font-weight: 600 !important;">Upload CV</h3></div>
<div class="modal-content">
  <%= form_for(Document.new, :url => resume_upload_individual_profile_path, :html => {:multipart => true, :remote => true } ) do |f| %>
  <%#= form_tag  resume_upload_individual_profile_path, :multipart => true do  %>
      <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :profile_id, @profile.id %>
      <div class="row">

        <div class="file-field input-field">
          <div class="btn">
            <span>Choose Document</span>
            <i class="material-icons prefix">input</i>
            <%= file_field_tag :document, :required => true %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>

      </div>

      </div>
      <div class="modal-footer">
        <button type="submit" style="float: left;margin-top: 0%;" class="waves-effect waves-light btn-large  "><i class="material-icons left">cloud</i>Submit</button>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
  <% end %>