<%= stylesheet_link_tag 'dropify' %>
<%#= stylesheet_link_tag 'demo-dropify' %>
<div class="modal-content">



    <!--<a href="https://github.com/JeremyFagis/dropify" target="_blank"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1000;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Upload images" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>-->
  <% if individual_signed_in? && @profile.individual_id == current_individual.id %>
      <%= form_for @portfolio_photo, :url => portfolio_photo_uplaod_individual_profile_path(:profile_id => current_individual.profile.id), :method => :POST, :html => { :multipart => true } do |f| %>
          <%= f.hidden_field :profile_id, :value => current_individual.profile.id %>

      <div class="row">

        <div class="col s3" style="width: 32%">


                  <input type="file" name="portfolio_photos[]" id="input-file-to-destroy" class="dropify"  data-max-file-size="2M" data-max-height="2000" />
        </div>
        <div class="col s3" style="width: 32%">
          <input type="file" name="portfolio_photos[]" id="input-file-to-destroy" class="dropify"  data-max-file-size="2M" data-max-height="2000" />
        </div>
        <div class="col s3" style="width: 32%">


          <input type="file" name="portfolio_photos[]" id="input-file-to-destroy" class="dropify" data-max-file-size="2M" data-max-height="2000" />
        </div>




          <!--<label for="input-file-to-destroy">Multiple options are available</label>-->

</br>
          <!--<p class="help">Only portrait or square images, 2M max and 2000px max-height.</p>-->


      </div>





</div>
<div class="modal-footer row">
  <%= f.submit "Upload Images", :class =>'waves-green btn', :style => 'margin-top: 38px;font-weight: 500 !important;' %>
  <div class="right">


  </div>
      <% end %>
  <% end %>

  <script>

      // Basic
      $('.dropify').dropify();

      // Translated


      // Used events
      var drEvent = $('#input-file-events').dropify();

      drEvent.on('dropify.beforeClear', function(event, element){
          return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
      });

      drEvent.on('dropify.afterClear', function(event, element){
          alert('File deleted');
      });

      drEvent.on('dropify.errors', function(event, element){
          console.log('Has Errors');
      });

      var drDestroy = $('#input-file-to-destroy').dropify();
      drDestroy = drDestroy.data('dropify')
      $('#toggleDropify').on('click', function(e){
          e.preventDefault();
          if (drDestroy.isDropified()) {
              drDestroy.destroy();
          } else {
              drDestroy.init();
          }
      })

  </script>
</div>