<div style="background: #ee6e73; width: 100%;"><h3 class="center-align" style="color: #fff;font-weight: 600 !important;">Upload Video</h3></div>
  <div class="modal-content">
    <%= form_for Video.new, :url => videos_path(@profile) do |f| %>
        <%= f.hidden_field :profile_id, :value => @profile.id %>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">theaters</i>
        <%= f.text_field :link %>
        <label for="link">Youtube link</label>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" style="float: left;margin-top: 0%;" class="waves-effect waves-light btn-large  "><i class="material-icons left">cloud</i>Submit</button>
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
    <% end %>