<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'materialize' %>
<%= render :partial => 'shared/header' %>
<style>
    .bootstrap-tagsinput {
        width: 379px;
    }
    .landing {
        background: #fff !important;
        color: #000 !important;
    }
    .bootstrap-tagsinput > input {
        width: 10em !important;
    }
    label {
        color: #000 !important;
    }
</style>

<%# end %>
<%= stylesheet_link_tag 'stepsForm' %>
<%= javascript_include_tag 'stepsForm'%>
<br>
<br>
<br>
<div id="form-container">

  <%= form_for [current_individual, @profile], url: update_profile_individual_profile_path, method: :post do |f| %>
      <div class="stepsForm" >
        <form>
          <div class="sf-steps">
            <div class="sf-steps-content">
              <div>
                <span>1</span> Profile
              </div>
              <div>
                <span>2</span> Skills
              </div>
              <div>
                <span>3</span> Submit
              </div>
            </div>
          </div>
          <div class="sf-steps-form sf-radius">

            <ul class="sf-content"> <!-- form step one -->
              <li>
                <label>I am a :</label>
                <div class="sf-radio">
                  <label><%= f.radio_button :individual_type, 'Professional' %><span></span> Professional</label>
                  <label><%= f.radio_button :individual_type, 'Job-Seeker' %><span></span> Job Seeker</label>
                  <label><%= f.radio_button :individual_type, 'Student' %><span></span> Student</label>
                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>First Name</label>
                  <%= f.text_field :first_name, :placeholder => 'Please Enter Your First Name', 'data-required' => 'true'  %>

                </div>
                <div class="sf_columns column_3">
                  <label>Last Name</label>
                  <%= f.text_field :last_name, :placeholder => 'Please Enter Your Last Name', 'data-required' => 'true' %>
                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>Your Field Category</label>
                  <label class="sf-select">
                    <%= f.collection_select :category_id, @categories, :id, :name,{prompt: "Select a category"}, {class: "form-control ", 'data-required' => 'true'} %>
                    <span></span>
                  </label>
                </div>
                <div class="sf_columns column_3">
                  <label>Gender</label>
                  <div class="sf-radio">
                    <label><%= f.radio_button :gender, 'male', 'data-required' => 'true' %><span></span> Male</label>
                    <label><%= f.radio_button :gender, 'female', 'data-required' => 'true' %><span></span> Female</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="sf_columns column_6">
                  <label>Type of Jobs You prefer</label>
                  <div class="sf-check">
                    <label>Office / Employer Location <%= f.check_box :looking_job, {multiple: true, 'data-required' => 'true', checked: (@profile.looking_job.include? 'office')}, 'office', nil %><span></span> </label>
                    <label>Work from home <%= f.check_box :looking_job, {multiple: true, 'data-required' => 'true', checked: (@profile.looking_job.include? 'workfromhome')}, 'workfromhome', nil %><span></span> </label>
                    <label>Field Work <%= f.check_box :looking_job, {multiple: true, 'data-required' => 'true', checked: (@profile.looking_job.include? 'fieldwork')}, 'fieldwork', nil %><span></span> </label>
                    <label> Corporate/Startup Jobs <%= f.check_box :looking_job, {multiple: true, 'data-required' => 'true', checked: (@profile.looking_job.include? 'startupjob')}, 'startupjob', nil %><span></span> </label>
                  </div>
                </div>
              </li>
              <li>
                <div class="sf_columns column_6">
                  <label>I am Available on</label></br>

                  <div class="sf-check">
                    Weekdays : &nbsp
                    <label><%= f.check_box :weekday_availability, {multiple: true,  'data-required' => 'true', checked: (@profile.weekday_availability.include? 'morning')}, 'morning', nil %><span></span>morning </label>
                    <label><%= f.check_box :weekday_availability, {multiple: true, 'data-required' => 'true', checked: (@profile.weekday_availability.include? 'afternoon')}, 'afternoon', nil %><span></span>afternoon </label>
                    <label><%= f.check_box :weekday_availability, {multiple: true, 'data-required' => 'true', checked: (@profile.weekday_availability.include? 'evening')}, 'evening', nil %><span></span> evening</label>
                    <label><%= f.check_box :weekday_availability, {multiple: true, 'data-required' => 'true', checked: (@profile.weekday_availability.include? 'night')}, 'night', nil %><span></span>night </label>
                  </div>
                  <div class="sf-check">
                    Weekends : &nbsp
                    <label><%= f.check_box :weekend_availability, {multiple: true, 'data-required' => 'true', checked: (@profile.weekend_availability.include? 'morning') }, 'morning', nil %><span></span>morning </label>
                    <label><%= f.check_box :weekend_availability, {multiple: true, 'data-required' => 'true', checked: (@profile.weekend_availability.include? 'afternoon')}, 'afternoon', nil %><span></span>afternoon </label>
                    <label><%= f.check_box :weekend_availability, {multiple: true, 'data-required' => 'true', checked: (@profile.weekend_availability.include? 'evening')}, 'evening', nil %><span></span> evening</label>
                    <label><%= f.check_box :weekend_availability, {multiple: true, 'data-required' => 'true', checked: (@profile.weekend_availability.include? 'night')}, 'night', nil %><span></span>night </label>
                  </div>
                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>Contact</label>
                  <%= f.text_field :contact_no, :placeholder => 'Provide your contact no.' %>

                </div>
              </li>
              <li>
                <div class="sf_columns column_6">
                  <label>Description</label> </br>
                  <%= f.text_area :description, :placeholder => 'Please tell us about your self', 'data-required' => 'true' %>
                </div>
              </li>
            </ul>

            <ul class="sf-content"> <!-- form step two -->
              <li>
                <div class="sf_columns column_3">
                  <label>Education</label>
                  <%= f.text_field :education, :placeholder => 'Please Enter Your highest degree', 'data-required' => 'true' %>
                </div>
                <div class="sf_columns column_3">
                  <label>Salary Expected per month(Rs.)</label>

                  <label class="sf-select">
                    <select class="form-control" data-required="true" name="profile[month_salary]" id="profile_month_salary"><option value="">Select salary in Rs.</option>
                      <option value="2000-5000">2000-5000</option>
                      <option value="5000-8000">5000-8000</option>
                      <option value="8000-12000">8000-12000</option>
                      <option value="12000-15000">12000-15000</option>
                      <option value="15000-20000">15000-20000</option>
                      <option value="20000-25000">20000-25000</option>
                      <option value="25000-30000">25000-30000</option>
                      <option value="30000-40000">30000-40000</option>
                      <option value="40000-50000">40000-50000</option>
                      <option value="Above 50000">Above 50000</option>
                    </select>
                    <span></span>
                  </label>
                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>Salary Expected per hour(optional)</label>
                  <label class="sf-select">
                    <select class="form-control" name="profile[hr_salary]" id="profile_hr_salary"><option value="">Optional(in Rs.)</option>
                      <option value="100-200">100-200</option>
                      <option value="200-300">200-300</option>
                      <option value="300-400">300-400</option>
                      <option value="400-500">400-500</option>
                      <option value="400-500">500-700</option>
                      <option value="700-900">700-900</option>
                      <option value="Above 1000">Above 1000</option>
                    </select>
                    <span></span>
                  </label>
                </div>


                <label>Key Skills(type a skill and hit enter)</label>
                <%= f.text_field :tag_list, 'data-role'=>'tagsinput', :id => 'tags-field' %>

                <%#= f.text_field :key_skills, :id => 'mySingleField', :placeholder => 'start typing your skills' %>
                <script>
                    $('bootstrap-tagsinput').find('input[type=text],textarea,select')
                </script>
              </li>
              <div class="sf_columns column_6">
                <div class="sf-check">
                  <label><input checked type="checkbox" value="true" id="checkbox-agree" name="accept" data-required="true"><span></span> By providing the details you agree that the information you have provided are true </label>
                </div>
              </div>
            </ul>

            <ul class="sf-content"> <!-- form step tree -->
              <li>

                <div class="sf_columns column_3">
                  <label>facebook Link</label>
                  <%= f.text_field :facebook_profile, :placeholder => 'Optional' %>
                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>Linkedin Link</label>
                  <%= f.text_field :linkedin_profile, :placeholder => 'Optional' %>
                </div>
              </li>
              <li>

              </li>
              <%= f.submit 'Submit', :class => 'sf-button', :style => 'margin-left: 2%;' %>
            </ul>
          </div>

          <div class="sf-steps-navigation sf-align-right">
            <span id="sf-msg" class="sf-msg-error"></span>
            <button id="sf-prev" type="button" class="sf-button">Previous</button>
            <button id="sf-next" type="button" class="sf-button">Next</button>
          </div>

        </form>
      </div>
  <% end %>
</div>

<script>
    function setSelectValue (id, val) {
        document.getElementById(id).value = val;
    }
    setSelectValue('profile_month_salary', '<%= @profile.month_salary %>');
    <% unless @profile.hr_salary.blank? %>
    setSelectValue('profile_hr_salary', '<%= @profile.hr_salary %>');
        <% end %>

</script>