<style>
    /* text-based popup styling */
    .white-popup {
        position: relative;
        background: #FFF;
        padding: 25px;
        width: auto;
        max-width: 400px;
        margin: 0 auto;
    }

    /*

    ====== Zoom effect ======

    */
    .mfp-zoom-in {
        /* start state */
        /* animate in */
        /* animate out */
    }
    .mfp-zoom-in .mfp-with-anim {
        opacity: 0;
        transition: all 0.2s ease-in-out;
        transform: scale(0.8);
    }
    .mfp-zoom-in.mfp-bg {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .mfp-zoom-in.mfp-ready .mfp-with-anim {
        opacity: 1;
        transform: scale(1);
    }
    .mfp-zoom-in.mfp-ready.mfp-bg {
        opacity: 0.8;
    }
    .mfp-zoom-in.mfp-removing .mfp-with-anim {
        transform: scale(0.8);
        opacity: 0;
    }
    .mfp-zoom-in.mfp-removing.mfp-bg {
        opacity: 0;
    }
    .header-link {
        color: #fff !important;
    }
</style>

<%= render :partial => 'shared/header_profiles' %>
<div id="header" style="margin-top: 50px !important;">
  <div class="top">

    <!-- Logo -->

    <div id="logo">

      <% if @profile.avatar_file_name.nil? %>
          <a href="#test-popup" id="inline-popups" class="image avatar48" style="width: 100%; height: 120px;" data-effect="mfp-zoom-in"><img src="/assets/avatar.jpg"  alt="" /></a>
      <% else %>
          <a href="#test-popup" id="inline-popups" class="image avatar48" style="width: 100%; height: 120px;" data-effect="mfp-zoom-in"> <%= image_tag @profile.avatar.url %></a>
      <% end %>
      <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
        <%= form_for @profile, :url => { :action => "update"} do |avatar| %>
            <%= avatar.file_field :avatar %>
            <%= avatar.submit 'Update Picture' %>
        <% end %>
      </div>


      <h1 style="margin-left: -10px !important;" id="title"><%=@profile.first_name %> <%=@profile.last_name %> </h1>
      <p style="font-size: 20px"><%= @profile.individual_type %></p>


      <!--<a href="#0" class="cd-popup-trigger">View Pop-up</a>-->
      <!--<div class="cd-popup" role="alert">-->
      <!--<div class="cd-popup-container">-->
      <!--<p id="text-para" class="text-para">Are you sure you want to delete this element?</p>-->
      <!--<ul class="cd-buttons">-->

      <!--<li><button type="submit" value="accept"></button></li>-->


      <!--</ul>-->
      <!--<a href="#0" class="cd-popup-close img-replace">Close</a>-->
      <!--</div>-->
      <!--</div> -->

    </div>
    <a href="#" class="icon fa-users fa-1x "><span class="follower-count" id="followed-count"><%= @profile.followers_count %> followers</span></a></br>
    <div id="follow-button">
      <% if individual_signed_in? %>
          <% if current_individual.following?(@profile)  %>
              <%= form_tag (unfollow_individual_individual_profile_path), :remote => true, :id => 'unfollow-form' do  %>
                  <%= button_tag 'unfollow', :type => 'submit', :class => 'btn btn-default' %>
              <% end %>
          <% elsif @profile.individual_id == current_individual.id %>
          <% else %>
              <%= form_tag (follow_individual_individual_profile_path), :remote => true, :id => 'follow-form' do  %>
                  <%= button_tag 'follow', :type => 'submit', :class => 'btn btn-default' %>
              <% end %>
          <% end %>
      <% elsif company_signed_in? %>
          <% if current_company.following?(@profile) %>
              <%= form_tag (unfollow_individual_individual_profile_path), :remote => true, :id => 'unfollow-form' do  %>
                  <%= button_tag 'unfollow', :type => 'submit', :class => 'btn btn-default' %>
              <% end %>
          <% else %>
              <%= form_tag (follow_individual_individual_profile_path), :remote => true, :id => 'follow-form' do  %>
                  <%= button_tag 'follow', :type => 'submit', :class => 'btn btn-default' %>
              <% end %>
          <% end %>
      <% else %>
          please sign in to follow
      <% end %>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <!--

          Prologue's nav expects links in one of two formats:

          1. Hash link (scrolls to a different section within the page)

             <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

          2. Standard link (sends the user to another page/site)

             <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

      -->
      <ul>
        <li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
        <li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
        <li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
        <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
      </ul>
    </nav>
    <% if company_signed_in? && @find_req.present? %>
        <% if  @find_req.status == "inprocess"  && @find_req.company_id.to_s == current_company.id.to_s %>
            <%= form_for @request_approve, :url => request_event_path(@request_approve.id), :method => :PATCH do |f| %>
                <%= f.hidden_field :status, :value => "onhold" %>
                <%= f.submit "Onhold" %>
            <% end %>

        <% elsif @find_req.status == "onhold"  && @find_req.company_id.to_s == current_company.id.to_s %>

            <%= form_for @request_approve, :url => request_event_path(@request_approve.id), :method => :PATCH do |f| %>
                <%= f.hidden_field :status, :value => "approved" %>
                <%= f.submit "Approve" %>
            <% end %>
            <%= form_for @request_approve, :url => request_event_path(@request_approve.id), :method => :PATCH do |f| %>
                <%= f.hidden_field :status, :value => "rejected" %>
                <%= f.submit "Reject" %>
            <% end %>

            <%#= form_tag ( edit_request_event_path(@find_req)), method: :patch do  %>
            <%#= hidden_field_tag :status, :value => "onhold" %>
            <%#= submit_tag "Approve" %>
            <%# end %>
        <% end %>
    <% end %>

  </div>


  <div class="bottom">


    <!-- Social Icons -->
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>

  </div>

</div>

<!-- Main -->
<div id="main">

  <!-- Intro -->
  <section id="top">
    <!--<img src="/assets/coverphoto.jpg" id="cover1" alt="" />-->

    <!--Details Table-->

    <h2><small>My Details</small></h2>
    <div class="well"><% @profile.tag_list.each do |tag| %>
                    <span class="tag label label-info"><%= link_to tag, tag_path(tag) %></span>
                <% end %>
      <table class="table table-striped">
        <tbody>
        <tr>
          <td>Category</td>
          <td><%= @profile.category.name unless @profile.category.blank? %></td>
        </tr>
        <tr>
          <td>Jobs preferred</td>
          <td> <%= JSON.parse(@profile.looking_job).join(', ')  %></td>
        </tr>
        <tr>
          <td>skills</td>
          <td> <% @profile.tag_list.each do |tag| %>
                <span class="tag label label-info"><%= link_to tag, tag_path(tag) %></span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>Salary Expected</td>
          <td>Monthly : <%= @profile.month_salary %></br>Weekly : <%= @profile.hr_salary %>
          </td>
        </tr>
        <tr>
          <td>availability</td>
          <td>Weekday : <%= JSON.parse(@profile.weekday_availability).join(', ')  %><br>Weekend :
            <%= JSON.parse(@profile.weekend_availability).join(', ')  %> </td>
        </tr>
        </tbody>
      </table>
    </div>



  </section>

  <!-- Portfolio -->
  <section id="portfolio" class="two">


    <div class="container">

      <header>
        <h2>Portfolio</h2>
      </header>
      <% if true %>
          No Data available
      <% else %>
          <div class="row">
            <% if individual_signed_in? && @profile.individual_id == current_individual.id %>
                <div class="col-md-4">
                  <a href="#" id="upload-event">Upload Photos</a>
                  <div id="upload-photo" style="display: none;">
                    <%= form_for @portfolio_photo, :url => portfolio_photo_uplaod_individual_profile_path(:profile_id => current_individual.profile.id), :method => :POST, :html => { :multipart => true } do |f| %>
                        <%= f.hidden_field :profile_id, :value => current_individual.profile.id %>
                        <%= file_field_tag 'portfolio_photos[]', multiple: true %>
                        <%= f.submit "submit" %>

                    <% end %>
                  </div>
                </div>
                <div class="col-md-4">
                  <a href="#">Upload Videos</a>
                  <div style="display: none;">
                    video upload
                  </div>
                </div>
                <div class="col-md-4">
                  <a href="#">Upload Project</a>
                </div>


                </div>


            <% end %>

            <script>
                $('#upload-event').click(function (e) {
                    e.preventDefault()
                    $("#upload-photo").toggle();
                })
            </script>

            <h3>Photos</h3>
            <div class="row">
              <% if @profile.individual_photos.present? %>
                  <% @profile.individual_photos.each do |photo| %>
                      <div class="4u 12u$(mobile)">
                        <article class="item">
                          <%= image_tag photo.portfolio_photo.url, :size => '200x200', :class => 'image fit' %>
                          <header>
                            <h3>My image</h3>
                          </header>
                        </article>
                      </div>
                  <% end %>
              <% else %>
                  <div class="col-md-offset-5">no images available</div>
              <% end %>
            </div>
      <% end %>

    </div>
  </section>

  <!-- About Me -->
  <section id="about" class="three">
    <div class="container">

      <header>
        <h2>About Me</h2>
      </header>

      <a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

      <p>Hi, I am Nishant Varshney and I mostly attend great gigs </p>

    </div>
  </section>

  <!-- Contact -->
  <section id="contact" class="four">
    <div class="container">

      <header>
        <h2>Contact</h2>
      </header>

      <p>Elementum sem parturient nulla quam placerat viverra
        mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
        donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
        orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>

      <form method="post" action="#">
        <div class="row">
          <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
          <div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
          <div class="12u$">
            <textarea name="message" placeholder="Message"></textarea>
          </div>
          <div class="12u$">
            <input type="submit" value="Send Message" />
          </div>
        </div>
      </form>

    </div>
  </section>

</div>

<!-- Footer -->
<!--<div id="footer">-->

<!--&lt;!&ndash; Copyright &ndash;&gt;-->
<!--<ul class="copyright">-->
<!--<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
<!--</ul>-->

<!--</div>-->
<!--<footer class="navbar navbar-default navbar-fixed-bottom" style="margin-left: 301px;">-->
<!--<p>Created by Joshua Eagle</p>-->
<!--</footer>-->