<%= stylesheet_link_tag 'mainwelcome' %>
<%= stylesheet_link_tag 'cmc_css_profile' %>
<%= stylesheet_link_tag 'font-awesome.min' %>
<link rel="stylesheet" href="source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css">


<%= render partial: 'shared/header_profiles' %>
<style>
    .side-nav {
        margin-top: 6.5%;
    }
</style>
<!-- Side Navigation -->
<div class="col l2" style="z-index: inherit !important; margin-top: -1.5% !important;">

  <ul id="slide-out" class="side-nav side-nav-cmc fixed">

    <i class="material-icons small" style="color: #fff;">accessibility</i>
    <% if individual_signed_in? && current_individual.id == @profile.individual_id %>

        <i class="material-icons green circle editButton">add</i>
        <li class="center-align nohover editImage valign-wrapper">
          <% if @profile.avatar_file_name.nil? %>

              <a class="modal-trigger" href="#modal1" style="margin-bottom:100px;">
                <img src="/assets/person.png" style="width:130px;" alt="profile-picture" class="circle" />
              </a>

          <% else %>

              <a class="modal-trigger" href="#modal1" style="margin-bottom:100px;"> <%= image_tag @profile.avatar.url, :class => 'circle', :style => 'width: 150px; height:150px;' %></a>

          <% end %>
        </li>



    <% else %>

        <li class="center-align nohover editImage valign-wrapper">
          <% if @profile.avatar_file_name.nil? %>
              <img src="/assets/person.png" style="width:130px;" alt="profile-picture" class="circle" />
          <% else %>
              <%= image_tag @profile.avatar.url, :class => 'circle', :style => 'width: 90%' %>
          <% end %>
        </li>
    <% end %>

    <li class="nohover anchor"><a href="#"><p style="color:white; font-size:1em;"><%=@profile.first_name %> <%=@profile.last_name %></p></a></li>
    <li class="nohover anchor"><a href="#"><p style="color:white; font-size:.9em;"><%= @profile.individual_type %></p></a></li>
    <li class="nohover anchor" id="follow-count-placeholder"><a href="#"><p id="followed-count" style="color:white; font-size:.9em;"> Followers <i class="material-icons">supervisor_account</i> : &nbsp<%= @profile.followers_count %></p></a></li>
    <div class=" section table-of-contents">
      <li class="nohover anchor"><a href="#aboutus" style="height: 39px;line-height: 39px;"><p style="color:white;font-size: .9em;">About</p></a></li>
      <li class="nohover anchor"><a href="#description" style="height: 39px;line-height: 39px;" ><p style="color:white;font-size: .9em;">Description</p></a></li>
      <li class="nohover anchor"><a href="#portfolio" style="height: 39px;line-height: 39px;" ><p style="color:white;font-size: .9em;">Portfolio</p></a></li>
      <li class="nohover anchor"><a href="#video" style="height: 39px;line-height: 39px;"><p style="color:white;font-size: .9em;">Video</p></a></li>
      <!--<li class="nohover anchor"><a href="#projects"><p style="color:white;">Projects</p></a></li>-->
    </div>
    <br />
 <div id="follow-button-placeholder">
    <div id="follow-button">

      <% if individual_signed_in? %>
          <% if current_individual.following?(@profile)  %>
              <%= form_tag (unfollow_individual_individual_profile_path), :remote => true, :id => 'unfollow-form' do  %>
                  <li class="nohover anchor"><%= button_tag 'unfollow', :type => 'submit', :class => 'btn btn-default' %> </li>
              <% end %>
          <% elsif @profile.individual_id == current_individual.id %>
          <% else %>
              <%= form_tag (follow_individual_individual_profile_path), :remote => true, :id => 'follow-form' do  %>
                  <!--<a href="#" class="btn" style="height:50px; width:80%;"><p>Follow</p></a></li>-->
                  <li class="nohover anchor"><%= button_tag 'follow', :type => 'submit', :class => 'btn btn-default' %></li>
              <% end %>
          <% end %>
      <% elsif company_signed_in? %>
          <% if current_company.following?(@profile) %>
              <%= form_tag (unfollow_individual_individual_profile_path), :remote => true, :id => 'unfollow-form' do  %>
                  <li class="nohover anchor"> <%= button_tag 'unfollow', :type => 'submit', :class => 'btn btn-default' %></li>
              <% end %>
          <% else %>
              <%= form_tag (follow_individual_individual_profile_path), :remote => true, :id => 'follow-form' do  %>
                  <li class="nohover anchor"> <%= button_tag 'follow', :type => 'submit', :class => 'btn btn-default' %></li>
              <% end %>
          <% end %>
      <% else %>
          please sign in to follow
      <% end %>
      <br />
    </div>
 </div>




          <% if company_signed_in? && @find_req.present? %>
        <li class="nohover anchor">
          <a href="#" class="btn popper" style="height:50px; width:80%;"><p>Respond</p></a>
          <div class="webui-popover-content">
            <div class="center-align">
              <% if  @find_req.status == "inprocess"  && @find_req.company_id.to_s == current_company.id.to_s %>
                  <%= form_for @request_approve, :url => request_event_path(@request_approve.id), :method => :PATCH do |f| %>
                      <%= f.hidden_field :status, :value => "onhold" %>
                      <%= f.submit "Onhold" %>
                  <% end %>

              <% elsif @find_req.status == "onhold"  && @find_req.company_id.to_s == current_company.id.to_s %>

                  <%= form_for @request_approve, :url => request_event_path(@request_approve.id), :method => :PATCH do |f| %>
                      <%= f.hidden_field :status, :value => "approved" %>
                      <%= f.submit "Approve" %>
                  <% end %>
                  <%= form_for @request_approve, :url => request_event_path(@request_approve.id), :method => :PATCH do |f| %>
                      <%= f.hidden_field :status, :value => "rejected" %>
                      <%= f.submit "Reject" %>
                  <% end %>

                  <%#= form_tag ( edit_request_event_path(@find_req)), method: :patch do  %>
                  <%#= hidden_field_tag :status, :value => "onhold" %>
                  <%#= submit_tag "Approve" %>
                  <%# end %>
              <% end %>
              </div>
              </div>
              </li>
          <% end %>

          <!--<a class="waves-effect waves-light btn" >Accept</a>-->
          <!--<a class="waves-effect waves-light btn yellow" >Onhold</a>-->
          <!--<a class="waves-effect waves-light btn red " >Reject</a>-->

  </ul>
</div>

<div id="modal-resume" class="modal modal-fixed-footer modal-size-cmc" style="height: 45% !important;width: 62% !important;">
  <%= render partial: 'resume_upload' %>
</div>





<div id="modal1" class="modal">
  <%= render partial: 'avatar_upload' %>
</div>
<ul class="right hide">
  <i class="material-icons green circle editButton">add</i>
  <li class="center-align nohover editImage valign-wrapper">
    <a class="modal-trigger" href="#modal1" style="margin-bottom:100px;">
      <img src="assets/person.png" style="width:130px;" alt="profile-picture" class="circle" />
    </a>
  </li>
  <li class="nohover anchor"><a href="#"><p style="color:white; font-size:1.3em;"><%=@profile.first_name %> <%=@profile.last_name %></p></a></li>
  <li class="nohover anchor"><a href="#"><p style="color:white; font-size:1.1em;"><%= @profile.individual_type %></p></a></li>
  <li class="nohover anchor"><a href="#"><p style="color:white; font-size:1.1em;">Followers <i class="material-icons">supervisor_account</i></p></a></li>
  <div class=" section table-of-contents">
    <li class="nohover anchor"><a href="#portfolio"><p style="color:white;">Portfolio</p></a></li>
    <li class="nohover anchor"><a href="#aboutus"><p style="color:white;">About</p></a></li>
    <li class="nohover anchor"><a href="#description"><p style="color:white;">Description</p></a></li>
    <li class="nohover anchor"><a href="#video"><p style="color:white;">Video</p></a></li>
    <!--<li class="nohover anchor"><a href="#projects"><p style="color:white;">Projects</p></a></li>-->
  </div>
  <br />
  <li class="nohover anchor"><a href="#" class="btn" style="height:50px; width:70%;"><p>Follow</p></a></li><br />
  <li class="nohover anchor">
    <a href="#" class="btn popper" style="height:50px; width:80%;"><p>Contact</p></a>
    <div class="webui-popover-content">
      <div class="center-align">
        <a class="waves-effect waves-light btn" >Accept</a><br />
        <a class="waves-effect waves-light btn yellow" >Onhold</a><br />
        <a class="waves-effect waves-light btn red " >Reject</a><br />
      </div>
    </div>

  </li>
  <li ><a href="#"><i class="material-icons green circle editButton">face</i></a></li>
  <li ><a href="#"><i class="material-icons green circle editButton">face</i></a></li>
  <li><a class="modal-trigger waves-effect waves-light btn col l2 offset-l6 btn-align-cmc3" style="float: right;" href="#modal-resume">Upload Images</a></li>
</ul>

<!-- Side Navigation ends -->
<!-- Site Content -->

<!-- About us -->
<div class="row section scrollspy" id="aboutus">
  <div class="col l9 col s12 offset-l2">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" >
          <h5 class="center-align align-cmc2 hide-on-med-and-down left_td"  style="font-size: 2rem; padding-left:55px; padding-right:85px;">About</h5>
          <h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> About </h5>
         <p><%= @profile.description %></p>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- About us ends -->
<style>
  .left_td {
      font-weight :700 !important;
  }
</style>

<!--descripton-->
<div class="row section scrollspy" id="description">
  <div class="col l9 col s12 offset-l2">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" id="description">
          <h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;"> Description </h5>
          <h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> Description </h5>
          <table class="highlight">
            <thead>
            <tr>
              <th data-field="id"></th>
              <th data-field="name"></th>

            </tr>
            </thead>

            <tbody>
            <tr>
              <td class="left_td">Category</td>
              <td><%= @profile.category.name unless @profile.category.blank? %></td>

            </tr>
            <tr>
              <td class="left_td">Jobs preferred</td>
              <td><%= JSON.parse(@profile.looking_job).join(', ')  %></td>

            </tr>
            <tr>
              <td class="left_td">skills</td>
              <td><% @profile.tag_list.each do |tag| %>
                    <span class="chip" style="color: blue;"><%= link_to tag, tag_path(tag) %></span>
                <% end %></td>

            </tr>
            <tr>
              <td class="left_td">Salary Expected</td>
              <td>Monthly : <%= @profile.month_salary %> Rs</br>Hourly : <%= @profile.hr_salary %> Rs</td>

            </tr>
            <tr>
              <td class="left_td">Availability</td>
              <td>Weekday : <%= JSON.parse(@profile.weekday_availability).join(', ')  %><br>Weekend :
                <%= JSON.parse(@profile.weekend_availability).join(', ')  %></td>

            </tr>
            </tbody>
          </table>

            <% if individual_signed_in? && current_individual.id == @profile.individual_id   %>
                <% if @profile.document.blank? %>
                    <a class="modal-trigger waves-effect waves-light btn col l2 offset-l8 btn-align-cmc3 red darken-1" style="float:right;" href="#modal-resume">CV Upload</a>
                <% else %>
                    <a class="modal-trigger waves-effect waves-light btn col l2 offset-l6 btn-align-cmc3 red darken-1" style="float:right;" href="<%= @profile.document.document.url(:original, false) %>">CV Download </a>
                <% end %>
            <% else %>
                <% unless @profile.document.blank? %>
                    <a class="modal-trigger waves-effect waves-light btn col l2 offset-l6 btn-align-cmc3 red darken-1" style="float:right;" href="<%= @profile.document.document.url(:original, false) %>">CV Download </a>
                <% end %>
            <% end %>

        </div>
      </div>
    </section>
  </div>
</div>
<!--discription ends-->

<!-- Portfolio start -->
<div class="row section scrollspy" id="portfolio">
  <div class="col l9 col s12 offset-l2">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" >
          <h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;">Portfolio</h5>
          <h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> Portfolio </h5>
          <div class="row" style="margin-left: 0%;">
            <% if @profile_photos.blank? %>

            <h5 class="center-align add-align-cmc " style="font-size: 1.4rem; margin-left: 32% !important;">No Images Available</h5>
                <% else %>

            <% @profile_photos.each do |portfolio| %>
                    <div class="col s3 m2 l3">

              <div class="card">
                <% if individual_signed_in? && current_individual.id == @profile.individual_id   %>
                <%= link_to '<i class="material-icons" style="color:#fff;background: #000;z-index: 2;position: relative;">close</i>'.html_safe, delete_portfolio_individual_profile_path(:portfolio => portfolio.id), method: :post, data: { confirm: 'Are you sure you want to delete this?' }  %>
                    <% end %>
                <div class="card-image" style="height: 171px;">
                  <%= image_tag portfolio.portfolio_photo.url, :style => 'height: 171px;margin-top: -15%;' %>

                </div>
                <div class="card-action">
                  <div class="row">
                  <h4 style="color: #000;font-weight: 600 !important;">Title - </h4><p> <%= truncate(portfolio.portfolio_photo_file_name, :length => 17) %></p>
                  </div>
                </div>
              </div>
                    </div>
                <% end %>

                <% end %>

          </div>
          <% if individual_signed_in? && current_individual.id == @profile.individual_id   %>
          <a class="modal-trigger waves-effect waves-light btn col l2 offset-l6 btn-align-cmc3 red darken-1" style="float: right;" href="#modal-portfolio">Upload Images</a>
              <% end %>
          <div id="modal-portfolio" class="modal modal-fixed-footer modal-size-cmc">
            <%= render partial: 'upload_portfolio' %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!--<div class="row hide-on-med-and-down" style="background-color:white;">-->

    <!--<div class="carousel">-->
      <!--<div class="left-scroll">-->
      <!--</div>-->
      <!--<div class="row carousel-image">-->
        <!--<div class="col l12">-->
          <!--<a class="fancybox" rel="group"  rel="group"  href="images/large/01.jpg"><div class="col l3 offset-l2 image-cmc z-depth-2 "></div></a>-->
          <!--<a class="fancybox"  rel="group" href="images/large/02.jpg"><div class="col l3 col s12 offset-l0 image-cmc z-depth-2 "></div></a>-->
          <!--<a class="fancybox" rel="group"  href="images/large/03.jpg"><div class="col l3 offset-l0 image-cmc z-depth-2 "></div></a>-->
          <!--<a class="fancybox"  rel="group" href="images/large/04.jpg"><div class="col l3 offset-l2 image-cmc z-depth-2 "></div></a>-->
          <!--<a class="fancybox"   rel="group" href="images/large/05.jpg"><div class="col l3 offset-l0 image-cmc z-depth-2 "></div></a>-->
          <!--<a class="fancybox"   rel="group" href="images/large/06.jpg"><div class="col l3 offset-l0 image-cmc z-depth-2 "></div></a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="right-scroll">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="center-align">-->
      <!--&lt;!&ndash; Modal Trigger &ndash;&gt;-->

      <!--<a class="modal-trigger waves-effect waves-light btn col l2 offset-l6 btn-align-cmc3" href="#modal2">See More</a>-->
      <!--&lt;!&ndash; Modal Structure &ndash;&gt;-->
      <!--<div id="modal2" class="modal modal-fixed-footer modal-size-cmc">-->
        <!--<div class="modal-content">-->
          <!--<h4>Modal Header</h4>-->
          <!--<div class="">-->
            <!--<div class="row modal-size2-cmc">-->
              <!--<div class="col l3 offset-l2 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l2 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l2 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="modal-footer row">-->
          <!--<form action="#" class="form-cmc">-->
            <!--<div class="file-field input-field modal-input-cmc">-->
              <!--<div class="btn btn-cmc">-->
                <!--<span>File</span>-->
                <!--<input type="file" multiple>-->
              <!--</div>-->
              <!--<div class="file-path-wrapper">-->
                <!--<input class="file-path validate" type="text" placeholder="Upload one or more files">-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
          <!--<div class="right">-->
            <!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn">Upload Images</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--for mobile-->
<!--<div class="row hide-on-large-only">-->
  <!--<div class="col l10 offset-l1 section scrollspy" id="portfolio">-->
    <!--<h4 class="center-align add-align-cmc-m">Portfolio</h4>-->
    <!--<div class="row">-->
      <!--<div class="col l3 offset-l2 col s12 image-cmc-m z-depth-2 "></div>-->
      <!--<div class="col l3 offset-l0 image-cmc-m col s12 z-depth-2 "></div>-->
      <!--<div class="col l3 offset-l0 image-cmc-m col s12 z-depth-2 "></div>-->
      <!--<div class="col l3 offset-l2 image-cmc-m col s12 z-depth-2 "></div>-->
      <!--<div class="col l3 offset-l0 image-cmc-m col s12 z-depth-2 "></div>-->
      <!--<div class="col l3 offset-l0 image-cmc-m col s12 z-depth-2 "></div>-->
    <!--</div>-->
    <!--<div class="center-align">-->
      <!--&lt;!&ndash; Modal Trigger &ndash;&gt;-->
      <!--<a class="modal-trigger2 waves-effect waves-light btn col l2 offset-l6" href="#modal3">See More</a>-->
      <!--&lt;!&ndash; Modal Structure &ndash;&gt;-->
      <!--<div id="modal3" class="modal modal-fixed-footer modal-size-cmc">-->
        <!--<div class="modal-content">-->
          <!--<h4>Modal Header</h4>-->
          <!--<div class="">-->
            <!--<div class="row modal-size2-cmc">-->
              <!--<div class="col l3 offset-l2 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l2 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l2 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
              <!--<div class="col l3 offset-l0 modal-cmc z-depth-2 "></div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="modal-footer row">-->
          <!--<form action="#" class="form-cmc">-->
            <!--<div class="file-field input-field modal-input-cmc">-->
              <!--<div class="btn btn-cmc">-->
                <!--<span>File</span>-->
                <!--<input type="file" multiple>-->
              <!--</div>-->
              <!--<div class="file-path-wrapper">-->
                <!--<input class="file-path validate" type="text" placeholder="Upload one or more files">-->
              <!--</div>-->
            <!--</div>-->
          <!--</form>-->
          <!--<div class="right">-->
            <!--<a href="#!" class="modal-action modal-close waves-effect waves-green btn">Upload Images</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--for mobile ends -->
<!-- Portfolio ends -->

<div class="row section scrollspy" id="video">
  <div class="col l9 col s12 offset-l2">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" >
          <h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;">Videos</h5>
          <h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> Videos </h5>
          <div class="row" style="margin-left: 0%;">
            <% if @profile_videos.blank? %>
                <h5 class="center-align add-align-cmc " style="font-size: 1.4rem; margin-left: 32% !important;">No Videos Available</h5>
                <% else %>
            <% @profile_videos.each do |video| %>
            <div class="col s3"><iframe width="200" height="150" src="<%= video.link.sub! 'watch?v=', 'embed/' %>" frameborder="0" allowfullscreen></iframe></div>

            <!--<div class="video-container">-->
              <!--<iframe width="533" height="300" src="https://www.youtube.com/embed/uxTXp0-iZrY" frameborder="0" allowfullscreen></iframe>-->
            <!--</div>-->

            <!--<h4 class="center-align add-align-cmc left_td" style="font-size: 2rem;">Videos</h4>-->
            <!--<div class="row hide-on-med-and-down section scrollspy" style="margin-left:95px;" id="video">-->
              <!--<div class="col l3   offset-l2 video-cmc">-->
                <!--<div class="video-container" controls>-->
                  <!--<iframe width="533" height="300" src="https://www.youtube.com/embed/uxTXp0-iZrY" frameborder="0" allowfullscreen></iframe>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col l3 video-cmc">-->
                <!--<div class="video-container" controls>-->
                  <!--<iframe width="533" height="300" src="https://www.youtube.com/embed/uxTXp0-iZrY" frameborder="0" allowfullscreen></iframe>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col l3 video-cmc">-->
                <!--<div class="video-container" controls>-->
                  <!--<iframe width="533" height="300" src="https://www.youtube.com/embed/uxTXp0-iZrY" frameborder="0" allowfullscreen></iframe>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="row hide-on-large-only">-->
            <!--<div class="col l3   offset-l2 video-cmc">-->
            <!--<div class="video-container" controls>-->
            <!--<iframe width="533" height="300" src="https://www.youtube.com/embed/uxTXp0-iZrY" frameborder="0" allowfullscreen></iframe>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col l3 video-cmc">-->
            <!--<div class="video-container" controls>-->
            <!--<iframe width="533" height="300" src="https://www.youtube.com/embed/uxTXp0-iZrY" frameborder="0" allowfullscreen></iframe>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col l3 video-cmc">-->
            <!--<div class="video-container" controls>-->
            <!--<iframe width="533" height="300" src="https://www.youtube.com/embed/uxTXp0-iZrY" frameborder="0" allowfullscreen></iframe>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
    <% end %>
      <% end %>



          </div>
          <% if individual_signed_in? && current_individual.id == @profile.individual_id   %>
          <a class="modal-trigger waves-effect waves-light btn col l2 red darken-1"  style="float: right;" href="#modal-video">Upload Videos</a>
              <% end %>
          <div id="modal-video" class="modal modal-fixed-footer modal-size-cmc" style="height: 45% !important;width: 62% !important;">
            <%= render partial: 'upload_videos' %>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- video -->
<br />




<!-- video ends -->

<!--projects starts -->

<div style="background-color:white;">
  <!--<div  id="projects" class="col l2 offset-l6 center-align section scrollspy">-->
    <!--<h4 class="center-align hide-on-med-and-down left_td" style="margin-left:105px !important; font-size: 2rem;">Projects</h4>-->
    <!--<h4 class="center-align hide-on-large-only">Projects</h4>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col l9 offset-l3">-->
      <!--<div class="card col l3 project-card-cmc">-->
        <!--<div class="card-image waves-effect waves-block waves-light">-->
          <!--<img class="activator" src="https://pbs.twimg.com/profile_images/454621509147832321/PGfhv9JD_400x400.png">-->
        <!--</div>-->
        <!--<div class="card-content">-->
          <!--<span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>-->
          <!--<p><a href="#">This is a link</a></p>-->
        <!--</div>-->
        <!--<div class="card-reveal">-->
          <!--<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>-->
          <!--<p>Here is some more information about this product that is only revealed once clicked on.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card col l3 project-card-cmc offset-l0 ">-->
        <!--<div class="card-image waves-effect waves-block waves-light">-->
          <!--<img class="activator" src="https://pbs.twimg.com/profile_images/454621509147832321/PGfhv9JD_400x400.png">-->
        <!--</div>-->
        <!--<div class="card-content">-->
          <!--<span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>-->
          <!--<p><a href="#">This is a link</a></p>-->
        <!--</div>-->
        <!--<div class="card-reveal">-->
          <!--<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>-->
          <!--<p>Here is some more information about this product that is only revealed once clicked on.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card col l3 project-card-cmc offset-l0">-->
        <!--<div class="card-image waves-effect waves-block waves-light">-->
          <!--<img class="activator" src="https://pbs.twimg.com/profile_images/454621509147832321/PGfhv9JD_400x400.png">-->
        <!--</div>-->
        <!--<div class="card-content">-->
          <!--<span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>-->
          <!--<p><a href="#">This is a link</a></p>-->
        <!--</div>-->
        <!--<div class="card-reveal">-->
          <!--<span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>-->
          <!--<p>Here is some more information about this product that is only revealed once clicked on.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="row hide-on-med-and-down">-->
    <!--<div class="col l4 offset-l4">-->
      <!--<h4 class="center-align" style="margin-left:105px !important;">Upload jobs </h4>-->
      <!--<button class="btn waves-effect waves-light center-align" style="margin-left:181px !important;" type="submit" name="action">Submit-->
        <!--<i class="material-icons right">send</i>-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row hide-on-large-only">-->
    <!--<div class="col l4 offset-l4">-->
      <!--<h4 class="center-align">Upload jobs </h4>-->
      <!--<button class="btn waves-effect waves-light center-align" type="submit" name="action">Submit-->
        <!--<i class="material-icons right">send</i>-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
</div>

<!--projects end -->
<!-- Footer -->

<footer class="page-footer center-align">
  <div class="container">
    <div class="row">
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text">Lets Login</h5>
        <p class="grey-text text-lighten-4">Our vision is to find the best opportunity for every talent. Since its inception, the company aims to flourish the part-time culture in the country and set a trend. The part-time industry in India is on boom but highly disorganised and untapped</p>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text"> About </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/"> Home </a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="/about_us"> About Us </a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="/#working-how"> How it Works ?</a></li>

        </ul>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text"> Site Map </h5>
        <ul>
          <li><%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'All Jobs',  events_path, :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Lets Login  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Made with <i class="material-icons" style="padding-top:0px;">favorite</i> by <a style="color:white;" href="http://www.letslogin.in">LetsLogin Team</a>
      <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
      <ul class="icons">
        <li><a href="https://twitter.com/Letsloginhere" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/weloggedin/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="in.linkedin.com/in/letslogin" class="icon fa-linkedin"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- Footer ends -->


<!-- Site content ends -->

<section>
  <div class="row">
    <div class="col l2 offset-l2"></div>
    <div class="col l2 "></div>
    <div class="col l2 "></div>
    <div class="col l2 "></div>
  </div>
</section>

<!-- Scripts -->

<script type="text/javascript">
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        //$('.collapsible').collapsible();
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
        $('.modal-trigger2').leanModal();
        $('.modal-trigger3').leanModal();
        $('.scrollspy').scrollSpy();
        $('.dropdown-button').dropdown({
                    inDuration: 300,
                    constrain_width: false,
                    outDuration: 225,
                    hover: false, // Activate on hover
                    belowOrigin: true, // Displays dropdown below the button
                    alignment: 'right' // Displays dropdown with edge aligned to the left of button
                }
        );
    });
</script>

<!--<script src="js/carousel.js"></script>-->
<!--<script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>-->
<!--<script type="text/javascript" src="source/jquery.fancybox.pack.js?v=2.1.5"></script>-->
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
<script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('a.popper').webuiPopover({placement:'right',animation: 'pop'});
    });
</script>
<!-- All scripts ends -->




