<div class="cd-timeline-block">
  <div class="cd-timeline-img cd-picture">
    <img src="/assets/cd-icon-picture.svg" alt="Picture">
  </div> <!-- cd-timeline-img -->

  <div class="cd-timeline-content">
    <p><%= image_tag activity.owner.company_profile.company_avatar.url, :class => "img-rounded", :size => "80x80" %><%= link_to activity.owner.company_profile.company_name, company_company_profile_path(activity.owner.company_profile), :class => "feed-name" %> created a new event <%= link_to activity.trackable.name, company_event_path(id: activity.trackable.id, company_id: activity.trackable.company_id), :class => "feed-name"  %></p>
    <!--<a href="#0" class="cd-read-more">Read more</a>-->
    <span class="cd-date"><%= time_ago_in_words(activity.created_at) %> ago</span>
  </div> <!-- cd-timeline-content -->
</div> <!-- cd-timeline-block -->

