<div class="container">
  <div class="row">
    <div class="col l4 s12 center-align ">
      <h5 class="white-text">LetsLogin</h5>
      <p class="grey-text text-lighten-4">Our vision is to find the best opportunity for every talent. Since its inception, the company aims to flourish the part-time culture in the country and set a trend. The part-time industry in India is on boom but highly disorganised and untapped</p>
    </div>
    <div class="col l3 offset-l1 s12 center-align">
      <h5 class="white-text"> About </h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="/"> Home </a></li>
        <li><a class="grey-text text-lighten-3" target="_blank" href="/about_us"> About Us </a></li>
        <li><a class="grey-text text-lighten-3" target="_blank" href="/#working-how"> How it Works ?</a></li>
        <!--<li><a class="grey-text text-lighten-3" href="#!"> Team </a></li>-->
      </ul>
    </div>
    <div class="col l3 offset-l1 s12 center-align ">
      <h5 class="white-text"> Site Map </h5>
      <ul>
        <li><%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
        <li><%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
        <li><%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
        <li><%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
        <li><%= link_to 'All Jobs',  events_path, :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    © 2016 Lets Login  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Made with <i class="material-icons">favorite</i> by <a style="color:white;" href="http://www.letslogin.in">LetsLogin Team</a>
    <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
    <ul class="icons">
      <li><a href="https://twitter.com/Letsloginhere" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.facebook.com/JobzGO" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="in.linkedin.com/in/letslogin" class="icon fa-linkedin"><span class="label">Github</span></a></li>
      <!--<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
      <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
    </ul>
  </div>
</div>