<div class="row">
  <% if @seekers.blank? %>
      <div class="col l8 col s12  all-user-cmc z-depth-2" style="margin-left: -113%;width: 200%;color:rgba(35, 46, 53, 0.89) !important;margin-top: 21%;">

        <h4 class="center-align">No Seekers available </h4>

      </div>
<% else %>
  <% @seekers.each do |seeker| %>
          <% unless seeker.individual.blank? %>
      <div class="col l8 col s12  all-user-cmc z-depth-2 hide-on-med-and-down" style="margin-left: 21%; width: 50%;color:rgba(35, 46, 53, 0.89) !important;">
        <div class="col l3 col s4 " style="background: rgba(35, 46, 53, 0.89) !important;height: 100%;">
          <% if seeker.avatar_file_name.nil? %>
              <img src="/assets/person.png" style="width: 108%;margin-top: 20%;" alt="profile-picture" class="circle" />
          <% else %>
              <%= image_tag seeker.avatar.url, :class => 'circle', :style => 'width: 138px;height: 150px; margin-top: 20%;' %>
          <% end %>
        </div>
        <div class="col l6 col s8"><h4 class="font-color" style="font-size: 1.6rem;font-weight: 500 !important;"><%=seeker.first_name %> <%=seeker.last_name %></h4></div>
        <div class="col l3 col s4 btn-position-cmc font-color" ><%= link_to 'View', individual_profile_path(seeker.individual), :class=> 'btn hide-on-med-and-down waves-effect waves-light right red darken-1 ', :target=> '_blank' %></div>
        <div class="col l3 col s4 btn-position-cmc font-color"><%= link_to 'View', individual_profile_path(seeker.individual), :class=> 'btn hide-on-large-only waves-effect waves-light right red darken-1', :target=> '_blank' %></div>
        <div class="col l6 col s4 hide-on-large-only font-color xxx"><h5><%= seeker.individual_type %></h5><% seeker.tag_list.each do |tag| %>
              <span class="chip" style="color: blue;"><%= link_to tag, tag_path(tag) %></span><% end %></div>
        <div class="col l6 col s4 hide-on-med-and-down font-color " style="margin-left: 1% "><h5 style="font-size: 1.2rem;font-weight: 500 !important;"><%= seeker.individual_type %></h5><% seeker.tag_list.each do |tag| %>
              <span class="chip" style="color: blue;"><%= link_to tag, tag_path(tag) %></span><% end %></div>
        <div class="right col l3 col s4 " style=" margin-top: -9%;"><h5 style="font-size: 1.3rem;">Followers : <%= seeker.followers_count %></h5></div>
      </div>

          <div class="col l8 col s12  all-user-cmc z-depth-2 hide-on-large-only" style=" width: 90%;color:rgba(35, 46, 53, 0.89) !important;">
            <div class="col l3 col s4 " style="background: rgba(35, 46, 53, 0.89) !important;height: 100%;">
              <% if seeker.avatar_file_name.nil? %>
                  <img src="/assets/person.png" style="width: 108%;margin-top: 20%;" alt="profile-picture" class="circle" />
              <% else %>
                  <%= image_tag seeker.avatar.url, :class => 'circle', :style => 'width: 138px;height: 150px; margin-top: 20%;' %>
              <% end %>
            </div>
            <div class="col l6 col s8"><h4 class="font-color" style="font-size: 1.6rem;font-weight: 500 !important;"><%=seeker.first_name %> <%=seeker.last_name %></h4></div>
            <div class="col l3 col s4 btn-position-cmc font-color" ><%= link_to 'View', individual_profile_path(seeker.individual), :class=> 'btn hide-on-med-and-down waves-effect waves-light right red darken-1 ', :target=> '_blank' %></div>
            <div class="col l3 col s4 btn-position-cmc font-color"><%= link_to 'View', individual_profile_path(seeker.individual), :class=> 'btn hide-on-large-only waves-effect waves-light right red darken-1', :target=> '_blank' %></div>
            <div class="col l6 col s4 hide-on-large-only font-color xxx"><h5><%= seeker.individual_type %></h5><% seeker.tag_list.each do |tag| %>
                  <span class="chip" style="color: blue;"><%= link_to tag, tag_path(tag) %></span><% end %></div>
            <div class="col l6 col s4 hide-on-med-and-down font-color " style="margin-left: 1% "><h5 style="font-size: 1.2rem;font-weight: 500 !important;"><%= seeker.individual_type %></h5><% seeker.tag_list.each do |tag| %>
                  <span class="chip" style="color: blue;"><%= link_to tag, tag_path(tag) %></span><% end %></div>
            <div class="right col l3 col s4 " style=" "><h5 style="font-size: 1.3rem;">Followers : <%= seeker.followers_count %></h5></div>
          </div>
  <% end %>
          <% end %>
      <% end %>
</div>
<div class="paginate" style="margin-left: 16%;">
<%= will_paginate unless @seekers.blank?  %>
</div>