<%= stylesheet_link_tag 'mainwelcome' %>
<%= stylesheet_link_tag 'lets_all_jobs' %>
<%= stylesheet_link_tag 'cmc_css' %>
<%= stylesheet_link_tag 'materialize' %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">







<style>
    #header .button {
        box-shadow: none !important;
    }
    body {
        background: url("/assets/background.jpg");
    }

</style>

<style>
    nav ul a {
        font-size: 1rem;
    }
    .icon_margin {
        margin-top : 5px;
    }



    .all-user-cmc{
        height: 200px;
        width: 100%;
        background-color: #ffffff;
        margin-top: 20px;
        padding-left: 0px !important;
    }
    .user-image-cmc{
        height: 200px;
        width: 100%;
        background-image: url("http://southernstatesinsurance.com/wp-content/uploads/2013/09/Jim-Profile-Picture-200px.jpg");
    }
    .btn-position-cmc{
        padding-top: 10px !important;
    }

    .font-color{
        color: rgba(35, 46, 53, 0.89) !important;
        font-weight: 400 !important;
    }
    .pagination {
        width: 100%;
    }

</style>
<%= render partial: 'shared/header_profiles' %>
<section>
  <div class="job">
    <div class="row">

      <div class="col l2 filter"  id="nav-mobile">

        <%= form_for_filterrific @filterrific do |f| %>
            <%= f.hidden_field :source , :value => 'profile' %>
            <div class="black">
              <ul id="slide-out" class="side-nav side-nav-no-overlap fixed collapsible"   data-collapsible="accordion" style="background-color: #222629 !important; <% if individual_signed_in? && current_individual.confirmed_at.blank? %> margin-top: 6.6% !important; <% end %>" >
                <li class="center-align nohover valign-wrapper">
                  <div class="center-align ">
                    <h4 class="text-size" style="color: #fff;font-weight: 400 !important;font-size: 24px !important;">Filter Search</h4>
                    <%= render_filterrific_spinner %>

                  </div>
                </li>
                <li style="background: #222629 !important;">
                  <div class="collapsible-header" style="color: #fff;"><i class="material-icons" style="color: #fff">search</i> Search </div>
                  <div class="collapsible-body nohover">
                    <form action="#" class="col s12">
                      <div class="row" style="background: #222629 !important;color: #fff;">
                        <div class="input-field col s12">
                          <%= f.text_field(
                                      :search_query,
                                      class: 'filterrific-periodically-observed validate',
                                      id: 'first_name'
                              ) %>
                          <label for="textarea1">Textarea</label>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
                <li style="background: #222629 !important; color: #fff !important;">
                  <div class="collapsible-header" style="color: #fff;"><i class="material-icons">subtitles</i> Category </div>
                  <div class="collapsible-body nohover">
                    <div class="col s12">
                      <% Category.all.each_with_index do |a, index| %>

                          <%= check_box_tag("with_category_id[]", a.id, false, id: index) %>
                          <label style="color: #fff !important;" for=<%= index %>  ><%= a.name %></label></br>
                      <% end %>
                    </div>
                  </div>
                </li>
                <!--<li style="background: #222629 !important;">-->
                  <!--<div class="collapsible-header" style="color: #fff;"><i class="material-icons">place</i> Place </div>-->
                  <!--<div class="collapsible-body nohover">-->
                    <!--<div class="col s12">-->
                      <!--<p class="field">-->
                        <!--<%#= check_box_tag("with_place[]", "Noida", false, id: "noida") %>-->
                        <!--<label style="color: #fff !important;" for="noida">Noida</label>-->
                      <!--</p>-->
                      <!--<p class="field">-->
                        <!--<%#= check_box_tag("with_place[]", "Ghaziabad", false, id: "ghaziabad") %>-->
                        <!--<label style="color: #fff !important;" for="ghaziabad">Mumbai</label>-->
                      <!--</p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</li>-->
                <li style="background: #222629 !important;">
                  <div class="collapsible-header" style="color: #fff;"><i class="material-icons">description</i> Type </div>
                  <div class="collapsible-body nohover">
                    <div class="col s12">
                      <p class="field" >
                        <%= check_box_tag("with_type[]", "Professional", false, id: "Professional") %>
                        <label for="Professional">Professional</label>
                      </p>
                      <p class="field" >
                        <%= check_box_tag("with_type[]", "Job-Seeker", false, id: "Job-Seeker") %>
                        <label for="Job-Seeker">Job-Seeker</label>
                      </p>
                      <p class="field" >
                        <%= check_box_tag("with_type[]", "Student", false, id: "Student") %>
                        <label for="Student">Student</label>
                      </p>

                    </div>
                  </div>
                </li>
              </ul>

            </div>
        <% end %>
            <ul class="right hide">
          <%= form_for_filterrific @filterrific do |f| %>
              <li class="center-align nohover">
                <div class="center-align ">
                  <h4 class="text-size">Filter Search</h4>
                  <%= render_filterrific_spinner %>
                </div>
              </li>
              <li class="nohover">
                <div class="collapsible-header"><i class="material-icons">search</i> Search </div>
                <div class="collapsible-body">
                  <div class="col s12">
                    <div class="row" style="background: #222629 !important;color: #fff;">
                      <div class="input-field col s12">
                        <%= f.text_field(
                                    :search_query,
                                    class: 'filterrific-periodically-observed validate',
                                    id: 'first_name'
                            ) %>
                        <label for="textarea1">Textarea</label>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nohover">
                <div class="collapsible-header"><i class="material-icons">subtitles</i> Category </div>
                <div class="collapsible-body">
                  <div>
                    <%# Category.all.each_with_index do |a, index| %>

                        <%#= check_box_tag("with_category_id[]", a.id, false, id: index) %>
                        <label for=<%#= index %> ><%#= a.name %></label></br>
                    <%# end %>
                  </div>
                </div>
              </li>
              <!--<li class="nohover">-->
                <!--<div class="collapsible-header"><i class="material-icons">place</i> Place </div>-->
                <!--<div class="collapsible-body">-->

                  <!--<p class="field">-->
                    <!--<%#= check_box_tag("with_place[]", "Noida", false, id: "noida") %>-->
                    <!--<label for="noida">Delhi</label>-->
                  <!--</p>-->
                  <!--<p class="field">-->
                    <!--<%#= check_box_tag("with_place[]", "Ghaziabad", false, id: "ghaziabad") %>-->
                    <!--<label for="test9">Mumbai</label>-->
                  <!--</p>-->


                <!--</div>-->
              <!--</li>-->
              <li class="nohover">
                <div class="collapsible-header"><i class="material-icons">description</i> Type </div>
                <div class="collapsible-body">

                    <p class="field" >
                      <%= check_box_tag("with_type[]", "Professional", false, id: "Professional") %>
                      <label for="Professional">Professional</label>
                    </p>
                    <p class="field" >
                      <%= check_box_tag("with_type[]", "Job-Seeker", false, id: "Job-Seeker") %>
                      <label for="Job-Seeker">Job-Seeker</label>
                    </p>
                  <p class="field" >
                    <%= check_box_tag("with_type[]", "Student", false, id: "Student") %>
                    <label for="Student">Student</label>
                  </p>


                </div>
              </li>
          <% end %>
        </ul>
        <!--<a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>-->
      </div>

      <div class="row">
        <div class=" center-align hide-on-med-and-down" style="width: 300px; margin-left: 54%;background: #ee6e73;color: #fff;height: 49px;">
          <h4  style="font-size: 24px;color: #fff;font-weight: 500 !important;margin-top: 10px;margin-left: -8%" >Seekers</h4>
        </div>
        <div class=" center-align hide-on-large-only" style="width: 300px; margin-left: 0%;background: #ee6e73;color: #fff;height: 49px;">
          <h4 style="font-size: 24px;color: #fff;font-weight: 500 !important;margin-top: 10px;margin-left: -8%" >Seekers</h4>
        </div>
      </div>
      <div class="row" id="filterrific_results">



        <%= render(
                    partial: 'seekers/seeker_list',

            ) %>


      </div>





      <div class="col l2 offset-l9 left-align z-depth-1 quick hide-on-med-and-down " style="height: 242px; background: rgba(35, 46, 53, 0.89) !important;">
        <h5 class="center-align" style="color: #fff; font-weight: 500 !important; font-size: 24px;"> Quick Search </h5>
        <ul>
          <li><%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500; text-transform:none' %></li>
          <li><%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff; font-weight: 500;text-transform:none' %></li>
          <li><%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500;text-transform:none' %></li>
          <li><%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500;text-transform:none' %></li>
          <li><%= link_to 'All Jobs',  events_path, :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500;text-transform:none' %></li>
        </ul>

      </div>
    </div>
  </div>
</section>
<!--<section>-->
<!--<h5 class="center-align ">Top Companies </h5>-->
<!--<div class="row space-cmc hide-on-med-and-down ">-->
<!--<div class="col l1 s1 offset-s3 offset-l3 spon-jobs z-depth-1 "></div>-->
<!--<div class="col l1 s1 offset-s1 offset-l1 spon-jobs z-depth-1 "></div>-->
<!--<div class="col l1 s1 offset-s1 offset-l1 spon-jobs z-depth-1 "></div>-->
<!--<div class="col l1 s1 offset-s1 offset-l1 spon-jobs z-depth-1 "></div>-->
<!--</div>-->
<!--</section>-->
<!--<section class="hide-on-large-only ">-->
<!--<div class="row">-->
<!--<div class="col s3  test1 "></div>-->
<!--<div class="col s3  test2 "></div>-->
<!--<div class="col s3  test3 "></div>-->
<!--<div class="col s3  test4 "></div>-->
<!--</div>-->
<!--</section>-->
<section>
  <!--<div class="row ">-->
  <!--<div class="col l4 offset-l5 col s10 offset-s1 m8 offset-m4 nxt_cmc">-->
  <!--<ul class="pagination">-->
  <!--<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>-->
  <!--<li class="active"><a href="#!">1</a></li>-->
  <!--<li class="waves-effect"><a href="#!">2</a></li>-->
  <!--<li class="waves-effect"><a href="#!">3</a></li>-->
  <!--<li class="waves-effect"><a href="#!">4</a></li>-->
  <!--<li class="waves-effect"><a href="#!">5</a></li>-->
  <!--<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>-->
  <!--</ul>-->

  <!--</div>-->

  <!--</div>-->
</section>
<footer class="page-footer hide-on-med-and-down" id="f" style="width: 100%;">
  <%= render partial: 'footer_container' %>
</footer>
<footer class="page-footer hide-on-large-only" id="f" >
  <%= render partial: 'footer_container' %>
</footer>

</div>
<section>
  <div class="fixed-action-btn">
    <a href="#contact" class="btn-floating btn-large waves-effect waves-light red dropdown-button" data-activates='dropdown2'><i class="material-icons">forum</i></a>
  </div>
  <div class="us  fixed-action dropdown-content" id="dropdown2">
    <h5 style="margin-bottom:20px;"> Contact Us </h5>
    <%= form_for Query.new, :url => queries_path do |f| %>
        <div>
          <div class="input-field">
            <i class="material-icons prefix">phone</i>
            <%= f.text_field :phone  %>
            <label for="phone"> phone </label>
          </div>
          <div class="input-field" style="margin-bottom:30px;">
            <i class="material-icons prefix">email</i>
            <%= f.text_field :email  %>
            <label for="email"> email </label>
          </div>
          <div class="input-field" style="margin-bottom:20px;">
            <i class="material-icons prefix">question_answer</i>
            <%= f.text_area :query, :class => 'materialize-textarea'  %>
            <!--<input id="contact_query" type="" class="validate">-->

            <label for="email"> query </label>
          </div>
          <button class="btn waves-effect waves-light small" type="submit" name="action" onclick="Materialize.toast('Your Query has been submitted, We will contact you very soon', 3000)" >Submit<i class="small material-icons right">send</i></button>
        </div>
    <% end %>
  </div>
</section>

<!-- Scripts -->

<script type="text/javascript">


            $(".button-collapse").sideNav();


</script>
















<!--<br><br>-->

<!-- -->









<!--<div class="row">-->

<!--<div id="test1"  class="col s12">-->



<!--</div>-->



<!--</div>

<script>
    $('.select-filter').material_select();
</script>