<% if activity.trackable.followable_type == "Event" %>
   <% if activity.trackable.follower_type == "Individual" %>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <img src="/assets/cd-icon-picture.svg" alt="Picture">
          </div> <!-- cd-timeline-img -->
          <div class="cd-timeline-content">
            <p><%= image_tag activity.owner.profile.avatar.url, :class => "img-rounded", :size => "80x80" %><%= link_to activity.owner.profile.first_name, individual_profile_path(activity.owner.profile), :class => "feed-name" %> followed <%= link_to activity.trackable.followable.name, company_event_path(id: activity.trackable.followable.id, company_id: activity.trackable.followable.company_id), :class => "feed-name" %></p>
            <!--<a href="#0" class="cd-read-more">Read more</a>-->
            <span class="cd-date"><%= time_ago_in_words(activity.created_at) %> ago</span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


   <% else %>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <img src="/assets/cd-icon-picture.svg" alt="Picture">
          </div> <!-- cd-timeline-img -->

          <div class="cd-timeline-content">
            <p><%= image_tag activity.owner.company_profile.company_avatar.url, :class => "img-rounded", :size => "80x80" %><%= link_to activity.owner.company_profile.company_name, company_company_profile_path(activity.owner.company_profile), :class => "feed-name" %> followed <%= link_to activity.trackable.followable.name, company_event_path(id: activity.trackable.followable.id, company_id: activity.trackable.followable.company_id), :class => "feed-name"  %></p>
            <!--<a href="#0" class="cd-read-more">Read more</a>-->
            <span class="cd-date"><%= time_ago_in_words(activity.created_at) %> ago</span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    <% end %>
<% elsif activity.trackable.followable_type == "Profile" %>
    <% if activity.trackable.follower_type == "Individual" %>
      <%= link_to activity.owner.profile.first_name, individual_profile_path(activity.owner.profile) %> followed <%= link_to activity.trackable.followable.first_name, individual_profile_path(id: activity.trackable.followable.id, individual_id: activity.trackable.followable.individual_id) %>
    <% else %>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <img src="/assets/cd-icon-picture.svg" alt="Picture">
          </div> <!-- cd-timeline-img -->
          <div class="cd-timeline-content">
            <p><%= image_tag activity.owner.company_profile.company_avatar.url, :class => "img-rounded", :size => "80x80" %><%= link_to activity.owner.company_profile.company_name, company_company_profile_path(activity.owner.company_profile), :class => "feed-name" %> followed <%= link_to activity.trackable.followable.first_name, individual_profile_path(id: activity.trackable.followable.id, individual_id: activity.trackable.followable.individual_id), :class => "feed-name" %></p>
            <!--<a href="#0" class="cd-read-more">Read more</a>-->
            <span class="cd-date"><%= time_ago_in_words(activity.created_at) %> ago</span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    <% end %>
<% else %>
    <% if activity.trackable.follower_type == "Individual" %>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <img src="/assets/cd-icon-picture.svg" alt="Picture">
          </div> <!-- cd-timeline-img -->
          <div class="cd-timeline-content">
            <p><%= image_tag activity.owner.profile.avatar.url, :class => "img-rounded", :size => "80x80" %><%= link_to activity.owner.profile.first_name, individual_profile_path(activity.owner.profile), :class => "feed-name"  %> followed <%= link_to activity.trackable.followable.company_name, company_company_profile_path(id: activity.trackable.followable.id, company_id: activity.trackable.followable.company_id), :class => "feed-name"  %></p>
            <!--<a href="#0" class="cd-read-more">Read more</a>-->
            <span class="cd-date"><%= time_ago_in_words(activity.created_at) %> ago</span>
          </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


    <% else %>
      <%= link_to activity.owner.company_profile.company_name, company_company_profile_path(activity.owner.company_profile) %> followed <%= link_to activity.trackable.followable.company_name,  company_company_profile_path(id: activity.trackable.followable.id, company_id: activity.trackable.followable.company_id) %>
    <% end %>
<% end %>