<%= stylesheet_link_tag 'job_feeds' %>
<%= render partial: 'shared/header' %>

<div class="row">
  <div class="col s6 offset-s3" style="background: #fff;">
    <div class="row">
      <% if individual_signed_in? %>
        <% if current_individual.profile.avatar_file_name.nil? %>
          <img src="/assets/person.png" class="circle header-avatar" alt="profile-picture" />
        <% else %>
          <%= image_tag current_individual.profile.avatar.url, :class => 'circle header-avatar' %>
              <a href="#post-feed" class="modal-trigger"> What are you upto?</a>
        <% end %>
      <% end %>
      <% if company_signed_in? %>
          <% if current_company.company_profile.company_avatar_file_name.nil? %>
              <img src="/assets/person.png" class="circle header-avatar" alt="profile-picture" />
          <% else %>
              <%= image_tag current_company.company_profile.company_avatar.url, :class => 'circle header-avatar' %>
          <% end %>
      <% end %>
      <div id="post-feed" class="modal modal-fixed-footer modal-size-cmc">
        <%= render partial: 'post_form' %>
      </div>
    </div>
    <hr>
    <div class="row">
      this is the frst row
    </div>
  </div>
</div>