<header id="header" class=" page-section dark ">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="index.html" class="standard-logo" data-dark-logo="/assets/logo-dark.png"><img src="/assets/logo-dark.png" alt="Let's Login Logo"></a>
        <a href="index.html" class="retina-logo" data-dark-logo="/assets/logo-dark@2x.png"><img src="/assets/logo-dark@2x.png" alt="Let's Login Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu">

        <ul class="one-page-menu">
          <li class="current"><a href="#" data-href="#header"><div>About</div></a></li>
          <li><a href="#" data-href="#section-features"><div>Events</div></a></li>
          <li><a href="#" data-href="#section-pricing"><div>Membership</div></a></li>
          <% if !individual_signed_in? && !company_signed_in? %>
          <li><a href="#" data-href="#section-testimonials"><div>Login</div></a></li>
          <li><a href="#" data-href="#section-specs"><div>Register</div></a></li>
              <% end %>
          <li><a href="#" data-href="#section-buy"><div>Contact</div></a></li>
         <% if individual_signed_in? %>
              <li><%= link_to "log out", destroy_individual_session_path, method:  :delete %></li>
         <% elsif company_signed_in? %>
              <li><%= link_to "log out", destroy_company_session_path, method:  :delete %></li>
          <% end %>
        </ul>

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->