<style>
    nav ul a {
        font-size: 1rem;
        height: 65px;
    }

    .icon_margin {
        margin-top : 5px;
    }

    .header-avatar {
        width: 36px;
        height: 33px;
        margin-bottom: -9px;
    }

    .dropdown-content li {
        margin-left: -10.8%;
        width: 111%;

    }
    .dropdown-content li > a {
        font-size: 1rem;
        color: #fff;
        display: block;
        padding: 1rem 2rem;
    }
</style>

<!-- Navigation Bar-->

<div class="navbar-fixed" style="font-weight: 400;">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo" href="/"><img style="width: 153px;" src="/assets/letslogin-logo.png"></a>
      <a href="#!" class="brand-logo center center-cmc hide-on-med-and-down "></a>
      <ul class="right" style="margin-right: 5%;">

        <% if individual_signed_in?  %>
            <li><%= link_to "Home", root_path %></li>
            <li><a id="profile-dropdown-individual" href='#' data-activates='dropdown1'><% if current_individual.profile.avatar_file_name.nil? %><img src="/assets/person.png" class="circle header-avatar" alt="profile-picture" /><% else %><%= image_tag current_individual.profile.avatar.url, :class => 'circle header-avatar' %><% end %><%= current_individual.profile.first_name %><i class="material-icons small" style="float: right;margin-top: 6px;">keyboard_arrow_down</i></a></li>


            <ul id='dropdown1' class='dropdown-content' style="background-color: #ee6e73 !important;">
              <li><%= link_to "Profile", individual_profile_path(current_individual) %></li>
              <li class="divider"></li>
              <li><%= link_to "Edit Profile", edit_individual_profile_path(current_individual) %></li>
              <li class="divider"></li>
              <li><%= link_to "log out", destroy_individual_session_path, method:  :delete %></li>

            </ul>
            </ul>
        <% elsif company_signed_in? %>
            <li><%= link_to "Home", root_path %></li>&nbsp&nbsp
            <li><%= link_to "Profile", company_company_profile_path(current_company) %></li>&nbsp&nbsp
            <li><%= link_to "log out", destroy_company_session_path, method:  :delete %></li>
            <!--<li><a class='dropdown-button' href="#" data-activates='notification_dropdown'><i class="material-icons icon_margin">notifications</i></a></li>-->
            <!--<ul id='notification_dropdown' class='dropdown-content'>-->
              <!--<li><a href="#!"><i class="small material-icons" style="display:inline;">notifications</i> coming soon<span class="badge"></span></a></li>-->
              <!--&lt;!&ndash;<li><a href="#!"><i class="small material-icons" style="display:inline;">notifications</i> notification one<span class="badge">2d ago</span></a></li>&ndash;&gt;-->
              <!--&lt;!&ndash;<li><a href="#!"><i class="small material-icons" style="display:inline;">notifications</i> notification one<span class="badge">2d ago</span></a></li>&ndash;&gt;-->
            <!--</ul>-->
            <li><a href="/"><i class="material-icons icon_margin">exit_to_app</i></a></li>
        <% else %>

            <!-- Dropdown Trigger -->
            <!--<li><a class='dropdown-button' href='#' data-activates='dropdown2'>Sign In </a>-->
              <!--&lt;!&ndash; Dropdown Structure &ndash;&gt;-->
              <!--<ul id='dropdown2' class='dropdown-content'>-->
                <!--<li><%#= link_to "Employee Login", new_individual_session_path %></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><%#= link_to "Company Login", new_company_session_path %></li>-->
              <!--</ul>-->
            <!--</li>-->

            <li><%= link_to "Employee Login", new_individual_session_path %></li>
            <li><%= link_to "Company Login", new_company_session_path %></li>
            <li><a href="/about_us">About Us</a></li>
            <li><a href="/"><i class="material-icons icon_margin">exit_to_app</i></a></li>
        <% end %>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>

<script>
    $('#profile-dropdown-individual').dropdown({
        belowOrigin: true

    });
</script>