<style>
    nav ul a {
        font-size: 1rem;
    }
    .icon_margin {
        margin-top : 5px;
    }

    .header-avatar {
        width: 36px;
        height: 33px;
        margin-bottom: -9px;
    }

    .dropdown-content li {
        margin-left: -10.8%;
        width: 111%;

    }
    .dropdown-content li > a {
        font-size: 1rem;
        color: #fff;
        display: block;
        padding: 1rem 2rem;
    }
</style>
<div class="navbar-fixed" style="font-weight: 400;">
  <nav>
    <a class="brand-logo" href="/"><img style="width: 153px;" src="/assets/letslogin-logo.png"></a>
    <ul class="right hide-on-med-and-down" style="margin-right: 5%;">
      <% if individual_signed_in?  %>



          <li><%= link_to "Home", root_path %></li>
          <li><%#= link_to "Job Feeds", job_feeds_path %></li>

          <!--<li><a href="/"><i class="material-icons icon_margin">exit_to_app</i></a></li>-->

          <li><a class="profile-dropdown-individual" href='#' data-activates='dropdown1'><% if current_individual.profile.avatar_file_name.nil? %><img src="/assets/person.png" class="circle header-avatar" alt="profile-picture" /><% else %><%= image_tag current_individual.profile.avatar.url, :class => 'circle header-avatar' %><% end %><%= current_individual.profile.first_name %><i class="material-icons small" style="float: right;margin-top: 6px;">keyboard_arrow_down</i></a></li>


          <ul id='dropdown1' class='dropdown-content' style="background-color: #ee6e73 !important;">
            <li><%= link_to "Profile", individual_profile_path(current_individual) %></li>
            <li class="divider"></li>
            <li><%= link_to "Edit Profile", edit_individual_profile_path(current_individual) %></li>
            <li class="divider"></li>
            <li><%= link_to "log out", destroy_individual_session_path, method:  :delete %></li>

          </ul>

      <% elsif company_signed_in? %>
          <li><%= link_to "Home", root_path %></li>&nbsp&nbsp
          <li><%= link_to "Profile", company_company_profile_path(current_company) %></li>&nbsp&nbsp
          <li><%= link_to "log out", destroy_company_session_path, method:  :delete %></li>
          <!--<li><a class='dropdown-button' href="#" data-activates='notification_dropdown'><i class="material-icons icon_margin">notifications</i></a></li>-->
          <!--<ul id='notification_dropdown' class='dropdown-content'>-->
          <!--<li><a href="#!"><i class="small material-icons" style="display:inline;">notifications</i> coming soon<span class="badge"></span></a></li>-->
          <!--&lt;!&ndash;<li><a href="#!"><i class="small material-icons" style="display:inline;">notifications</i> notification one<span class="badge">2d ago</span></a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li><a href="#!"><i class="small material-icons" style="display:inline;">notifications</i> notification one<span class="badge">2d ago</span></a></li>&ndash;&gt;-->
          <!--</ul>-->
          <li><a href="/"><i class="material-icons icon_margin">exit_to_app</i></a></li>
      <% else %>


          <!-- Dropdown Trigger -->
          <!--<li><a class='dropdown-button' href='#' data-activates='dropdown2'>Sign In </a>-->
          <!--&lt;!&ndash; Dropdown Structure &ndash;&gt;-->
          <!--<ul id='dropdown2' class='dropdown-content'>-->
          <!--<li><%#= link_to "Employee Login", new_individual_session_path %></li>-->
          <!--<li class="divider"></li>-->
          <!--<li><%#= link_to "Company Login", new_company_session_path %></li>-->
          <!--</ul>-->
          <!--</li>-->
          <li><%= link_to "Employee Login", new_individual_session_path %></li>
          <li><%= link_to "Company Login", new_company_session_path %></li>
          <li><a href="/about_us">About Us</a></li>
          <li><a href="/"><i class="material-icons icon_margin">exit_to_app</i></a></li>
      <% end %>
    </ul>
    <ul id="slide-out" style="background: #fff !important;"  class="side-nav">
      <% if individual_signed_in?  %>
          <li><%= link_to "Home", root_path %></li>
          <li><a class="profile-dropdown-individual" href='#' data-activates='dropdown1-mobile'><% if current_individual.profile.avatar_file_name.nil? %><img src="/assets/person.png" class="circle header-avatar" alt="profile-picture" /><% else %><%= image_tag current_individual.profile.avatar.url, :class => 'circle header-avatar' %><% end %><%= current_individual.profile.first_name %><i class="material-icons small" style="float: right;margin-top: 6px;">keyboard_arrow_down</i></a></li>
          <ul id='dropdown1-mobile' class='dropdown-content' style="background-color: #ee6e73 !important;">
            <li><%= link_to "Profile", individual_profile_path(current_individual) %></li>
            <li class="divider"></li>
            <li><%= link_to "Edit Profile", edit_individual_profile_path(current_individual) %></li>
            <li class="divider"></li>
            <li><%= link_to "log out", destroy_individual_session_path, method:  :delete %></li>

          </ul>
      <% elsif company_signed_in? %>
          <li><%= link_to "Home", root_path, :class => 'button' %></li>&nbsp&nbsp
          <li><%= link_to "Profile", company_company_profile_path(current_company) %></li>&nbsp&nbsp
          <li><%= link_to "log out", destroy_company_session_path, method:  :delete %></li>
      <% else %>


          <!-- Dropdown Trigger -->
          <!--<li><a class='dropdown-button' href='#' data-activates='dropdown1'>Sign In </a>-->
          <!--&lt;!&ndash; Dropdown Structure &ndash;&gt;-->
          <!--<ul id='dropdown1' class='dropdown-content'>-->
          <!--<li><%#= link_to "Employee Login", new_individual_session_path %></li>-->
          <!--<li class="divider"></li>-->
          <!--<li><%#= link_to "Company Login", new_company_session_path %></li>-->
          <!--</ul>-->
          <!--</li>-->
          <li><%= link_to "Employee Login", new_individual_session_path %></li>
          <li><%= link_to "Company Login", new_company_session_path %></li>
          <li><a href="/about_us">About Us</a></li>
          <li><a href="/"><i class="material-icons icon_margin">exit_to_app</i></a></li>
      <% end %>
    </ul>
    <a style="float: left;" href="#" id="side-nav-profile" data-activates="slide-out-profile" class="button-collapse2 hide-on-large-only"><i  class="material-icons">swap_horiz</i></a>
    <a style="float: right;" href="#" id="side-nav-header" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </nav>
</div>

<script>
    $('#side-nav-header').sideNav({
                menuWidth: 300, // Default is 240
                edge: 'right', // Choose the horizontal origin
                closeOnClick: false // Closes side-nav on <a> clicks, useful for Angular/Meteor
            }
    );

    $('.profile-dropdown-individual').dropdown({
        belowOrigin: true

    });

</script>
