<%= stylesheet_link_tag 'materialize' %>
<%= stylesheet_link_tag 'mainwelcome' %>
<%= render partial: 'shared/header' %>
<style>
  body {
      background: url("/assets/lets-wallpaper.jpg") !important;
  }
</style>
<div class="row">
  <div class="col l3 card offset-l1 s12 center-align " style="width: 38.5%;margin-left: 29.9%;background: #ee6e73;color: #fff;height: 66px;">
    <h4 style="font-size: 32px;color: #fff;font-weight: 400;" >About Us</h4>
  </div>
</div>

<div class="row section scrollspy" id="description">
  <div class="col l9 col s12 offset-l2">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" style="margin-left: -1%; height:600px; background: #fff;">

          <p class="hide-on-med-and-down center" style=""><h4 style="width: 70%;margin-left: 17%;font-size: 20px; font-weight: 500">
          Our vision is to find the best opportunity for every talent. Since its inception, the company aims to flourish the part-time culture in the country and set a trend. The part-time industry in India is on boom but highly disorganised and untapped. A mismatch between demand (jobs) and supply (candidates) is the biggest challenge faced by the industry. LetsLogin plans to address this issue with its technology-based solutions. On our platforms, we strive to provide the best part-time work opportunities for candidates and the best talent pool to employers. Our objective is not only to transform the current part-time job market, but also expand this network to new sectors and create more opportunities

        </h4></p>

        </div>
      </div>
    </section>
  </div>
</div>
<%= render partial: 'shared/footer' %>