<%= stylesheet_link_tag 'materialize' %>
<%= stylesheet_link_tag 'mainwelcome' %>
<%= stylesheet_link_tag 'lets_login' %>
<%= stylesheet_link_tag 'slick' %>
<%= stylesheet_link_tag 'slick-theme' %>


<!-- Navigation Bar -->
<%= render(
            partial: 'shared/header',

    )%>

<style type="text/css">
    .sas {
        background-image: url("/assets/sas.png");
        background-repeat: no-repeat;
    }
    body {
        background: url("/assets/background.jpg");
    }
    .job-button {
        background-color: #ee6e73;
        color: #fff !important;
        font-weight: 600 !important;
    }
</style>


<div id="page-wrapper" style="background: #f5b9a5;">

  <div class="col l2 offset-l9 left-align quick hide-on-med-and-down " style="width: 16%;float: right;z-index: 2">
    <ul class="collapsible col s12 l6" style="width: 100%;box-shadow: none; border: none;margin-top: 0;" data-collapsible="accordion">

      <li>
        <div class="collapsible-header" style="background: rgba(35, 46, 53, 0.89) !important; color: #fff;box-shadow: none;width: 100%; "><i class="material-icons" style="width:16px;">keyboard_arrow_down</i>Quick Search</div>
        <div class="collapsible-body" style="background: rgba(35, 46, 53, 0.89) !important;box-shadow: none; position:fixed;">
          <%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500; text-transform:none' %>
          <%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff; font-weight: 500;text-transform:none' %>
          <%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500;text-transform:none' %>
          <%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500;text-transform:none' %>
          <%= link_to 'Job Seekers',  seekers_path, :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500;text-transform:none' %>
        </div>
      </li>

    </ul>
  </div>

  <div class="col l2 offset-l9 left-align quick hide-on-large-only " style="width: 29%;float: right;z-index: 2">
    <ul class="collapsible col s12 l6" style="width: 100%;box-shadow: none; border: none;margin-top: 0;" data-collapsible="accordion">
      <li>
        <div class="collapsible-header" style="background: rgba(35, 46, 53, 0.89) !important; color: #fff;box-shadow: none;width: 100%; "><i class="material-icons" style="width:16px;">keyboard_arrow_down</i>Quick Search</div>
        <div class="collapsible-body" style="background: rgba(35, 46, 53, 0.89) !important;box-shadow: none; position:fixed;">
          <%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500; text-transform:none' %>
          <%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff; font-weight: 500;text-transform:none' %>
          <%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500;text-transform:none' %>
          <%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500;text-transform:none' %>
          <%= link_to 'Job Seekers',  seekers_path, :target => '_blank', :class => 'waves-effect waves-red btn-flat', :style => 'color: #fff;font-weight: 500;text-transform:none' %>
        </div>
      </li>

    </ul>
  </div>
  <!-- Banner -->
  <section id="banner"  >
    <h2 class="hide-on-large-only" style="font-weight: 600 !important;color: #222629;margin-top: 1%;margin-left:28%;">Lets Login</h2>
    <h2 class="hide-on-med-and-down" style="font-weight: 600 !important;color: #222629;margin-top: 1%; z-index: 1">Lets Login</h2>
    <p class="tag-line" style="font-weight: 600 !important;color: #ee6e73;">Learning &nbsp&nbsp Opportunity &nbsp&nbsp Growth</p>
    <ul class="actions">
      <li><%= link_to 'Find A Job', events_path,:style => ' background-color: #ee6e73;color: #fff !important;font-weight: 600 !important; text-transform: none;', :class => 'waves-effect waves-light btn' %></li>
      <li><% if company_signed_in? %>
            <%#= link_to "Create Event", new_company_event_path(current_company), :class => 'btn btn-large waves-effect waves-light create-button' %>
            <%= link_to "Post A Job", new_job_company_events_path(current_company), :style => ' background-color: #ee6e73;color: #fff !important;font-weight: 600 !important;text-transform: none;', :class => 'waves-effect waves-light btn' %>
        <% elsif individual_signed_in? %>
            <%#= link_to "Create Event",'#' , :class => 'btn btn-large waves-effect waves-light create-button', :onclick => 'alert("You need to Sign in as the Company");' %>
            <%= link_to "Post A Job", '#', :class => 'waves-effect waves-light btn', :style => ' background-color: #ee6e73;color: #fff !important;font-weight: 600 !important;text-transform: none;', :onclick => 'alert("You need to Sign in as the Company");' %>
        <% else %>
            <%#= link_to "Create Event", new_company_session_path , :class => 'btn btn-large waves-effect waves-light create-button' %>
            <%= link_to "Post A Job", new_company_session_path, :style => ' background-color: #ee6e73;color: #fff !important;font-weight: 600 !important;text-transform: none;', :class => 'waves-effect waves-light btn' %>
        <% end %></li>

    </ul>
  </section>
  <!-- Banner ends -->


  <!-- Main -->
  <section id="main" class="container">
    <section class="box special" >
      <header class="major">
        <h2 style="font-weight: 300 !important;color: #222629;">The online market place for part-time, temporary,<br />flexible and freelance jobs.</h2>
      </header>
      <div class="slider" style="height:350px;">
        <ul class="slides" style="height:285px;">
          <li>
            <img src="/assets/slide-image1.jpg"> <!-- random image -->
            <div class="caption center-align">
              <!--<h3 style="color:#fff; font-size: 24px;font-weight:400 !important;">First Tag</h3>-->
              <!--<h5 class="light grey-text text-lighten-3" style="font-size: 34px;font-weight:600 !important;">"Work in your free time and get extra income!” we get you the best event jobs"</h5>-->
            </div>
          </li>
          <li>
            <img src="/assets/slide-image2.jpg"> <!-- random image -->
            <div class="caption left-align">
              <!--<h3 style="color: #fff">Left Aligned Caption</h3>-->
              <!--<h5 class="light grey-text text-lighten-3" style="font-size: 34px;font-weight:600 !important;">Browse through the best paid projects across all categories </h5>-->
            </div>
          </li>
          <li>
            <img src="/assets/slide-image3.jpg"> <!-- random image -->
            <div class="caption right-align">
              <!--<h3>Right Aligned Caption</h3>-->
              <!--<h5 class="light grey-text text-lighten-3" style="font-size: 24px;font-weight:400 !important;">Be a part of booming startup culture!</h5>-->
            </div>
          </li>
          <li>
            <img src="/assets/slide-image4.jpg"> <!-- random image -->
            <div class="caption center-align">
              <!--<h3>This is our big Tagline!</h3>-->
              <!--<h5 class="light grey-text text-lighten-3" style="font-size: 24px;font-weight:400 !important;">Biggest corporate and MNCs are hiring professionals for various projects. Get the updates here.</h5>-->
            </div>
          </li>
        </ul>
      </div>
    </section>
  </section>
  <!-- Main ends -->


  <!--  Job Cards -->

  <div style="background-color:#ee6e73; height:430px;">
    <h3 class="center-align" style="padding-top:30px; color: #fff; font-weight: 600 !important; font-size: 31px;">Sponsored Jobs</h3>

    <div class="row" style="margin-left: 0%;">
      <div id="card-widgets" class="center-align">
        <div class="borderless">
          <div class="slider single-item container">

            <% @sponsored_events.each do |event| %>
                <div class="col l3 borderless">
                  <div class="card" >
                    <div class="card-image  sas"  style="height: 155px;">
                      <h4 style="width:70%; font-size:1.4em; padding-left:10px;font-weight: 500 !important; color: rgba(0, 0, 0, 0.71);"><%= link_to event.name, company_event_path(event.company.id, event.id) %></h4>

                    </div></br></br>
                    <p style="padding-left:10px; float: left; margin-top: -40px; ">Category: <%= event.category.name %></p>
                    <a class="btn-floating waves-effect waves-light orange accent-4 right" style="margin-top:-55px; margin-right:10px; ">
                      <i class="fa  <% case event.job_classify
                                         when "Freelance" %>
                          fa-child
                          <% when "Corporate" %>
                          fa-area-chart
                          <% when "Startup" %>
                          fa-cloud
                          <% when "Event" %>
                          fa-star
                          <% end %>"></i>
                    </a>
                    <div class="card-content" style="padding-bottom:0px;">
                      <p class="row" style="margin-top:-35px;">
	                        <span class="left" style="margin-left:-40px;">
	                          <p  style="font-size: 19px;font-weight: 400; color:#ff6d00"><%= event.type_job %></p>
	                        </span>
	                        <span class="right">
	                          <%= time_ago_in_words(event.created_at) %>&nbsp Ago
	                        </span>
                      </p>
                    </div>
                  </div>
                </div>

            <% end %>


          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Job Cards end -->

  <!-- Job Cards end -->

  <!-- Types of jobs -->

  <section class="container" style="margin-top:100px; font-size: .9rem;">
    <section class="box special features">
      <div class="features-row">
        <section>
          <a href="/classify/Freelance" target="_blank"><span class="icon major fa-child accent2"></span></a>
          <h3><%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank' %></h3>
          <p>Are you a Freelance professional? </br>
            We’ve got exciting projects for you.</p>
        </section>
        <section>
          <a href="/classify/Corporate" target="_blank"><span class="icon major fa-area-chart accent3"></span></a>
          <h3><%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank' %></h3>
          <p>Corporate companies are hiring professionals </br>
            on contractual basis. Get updates here.</p>
        </section>
      </div>
      <div class="features-row">
        <section>
          <a href="/classify/Startup" target="_blank"><span class="icon major fa-cloud accent4"></span></a>
          <h3><%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank' %></h3>
          <p>The startup culture is on fire! Are you game for it?</br>
            Register with us for best  part-time startup work opportunities</p>
        </section>
        <section>
          <a href="/classify/Event" target="_blank"><span class="icon major fa-star accent5"></span></a>
          <h3><%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank' %></h3>
          <p>Earn extra income  by working on weekends !</br>
            Get the best event job updates here .</p>
        </section>
      </div>
      <div id="working-how">

      </div>
    </section>

  </section>

  <!-- Types of jobs ends -->


  <!-- How it work -->

  <div style="background-color:#ee6e73; margin-bottom:-30px;"  >
    <h3 style="color:#fff; padding-top:25px;" class="center-align" id="working" >How it Works ? </h3>
    <div class="row" style="font-size: 1.2rem;">
      <div class="col s12 m4 center-align">
        <h4 style="color:#fff;" class="center-align">Step-1</h4>
        <i class="material-icons center-align large" style="color:#fff;">perm_identity</i>

        <h5 style="color:#fff;" class="center-align">Get started with free and simple registration.</h5>
      </div>
      <div class="col s12 m4 center-align">
        <h4 style="color:#fff;" class="center-align">Step-2</h4>
        <i class="material-icons center-align large" style="color:#fff;">search</i>
        <h5 style="color:#fff;" class="center-align">Browse through millions of PART-TIME job opportunities with filters.</h5>
      </div>
      <div class="col s12 m4 center-align">
        <h4 style="color:#fff;" class="center-align">Step-3</h4>
        <i class="material-icons center-align large" style="color:#fff;">work</i>
        <h5 style="color:#fff; padding-bottom:88px;" class="center-align">Apply for the job. And, you are good to GO!</h5>
      </div>
    </div>
  </div>

  <!-- How it works ends -->

  <!-- Beta signup -->
  <section id="cta">
    <h2 style="font-size: 29px !important;font-weight: 400 !important;color: rgba(0, 0, 0, 0.71) !important; ">Sign up for Premium access</h2>
    <form>
      <div class="row">
        <div class="input-field col l10 offset-l0 s6">
          <i class="material-icons prefix">email</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone" style="color: #000;"> Enter your Email </label>
        </div>
        <div class="col l2 offset-l0">
          <button class="btn-large waves-effect waves-light medium" type="submit" name="action" onclick="Materialize.toast('Submited', 1000)" >Submit
            <i class="material-icons right" >send</i>
          </button>
        </div>
      </div>
    </form>
  </section>
  <!-- Beta signup ends -->


  <!-- Footer -->

  <footer class="page-footer" >


    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">LetsLogin</h5>
          <p class="grey-text text-lighten-4">Our vision is to find the best opportunity for every talent. Since its inception, the company aims to flourish the part-time culture in the country and set a trend. The part-time industry in India is on boom but highly disorganised and untapped</p>
        </div>
        <div class="col l3 offset-l1 s12">
          <h5 class="white-text"> About </h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/"> Home </a></li>
            <li><a class="grey-text text-lighten-3" href="/about_us"> About Us </a></li>
            <li><a class="grey-text text-lighten-3" id="works" href="#"> How it Works? </a></li>
            <!--<li><a class="grey-text text-lighten-3" href="#!"> Team </a></li>-->
          </ul>
        </div>
        <div class="col l3 offset-l1 s12">
          <h5 class="white-text"> Site Map </h5>
          <ul>
            <li><%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
            <li><%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
            <li><%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
            <li><%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
            <li><%= link_to 'All Jobs',  events_path, :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="icons" style="margin-left: 38%; color: #757575;">
      <h3>Follow Us</h3>
      <li><a href="https://twitter.com/Letsloginhere" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.facebook.com/JobzGO" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="in.linkedin.com/in/letslogin" class="icon fa-linkedin"><span class="label">Github</span></a></li>
      <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
    </ul>
    <div class="footer-copyright">
      <div class="container">
        © 2016 Lets Login  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Made with <i class="material-icons" style="padding-top:0px;">favorite</i> by <a style="color:white;" href="http://www.letslogin.in">LetsLogin Team</a>
        <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
      </div>
    </div>
  </footer>

  <!-- Contact button -->
  <section>
    <div class="fixed-action-btn">
      <a href="#" class="btn-floating btn-large waves-effect waves-light red dropdown-button" data-activates='dropdown3'><i class="material-icons">forum</i></a>
    </div>
    <div class="us fixed-action dropdown-content" id="dropdown3">
      <h4 style="margin-bottom:20px;"> Contact Us </h4>
      <%= form_for Query.new, :url => queries_path do |f| %>
          <div>
            <div class="input-field">
              <i class="material-icons prefix">phone</i>
              <%= f.text_field :phone  %>
              <label for="phone"> phone </label>
            </div>
            <div class="input-field" style="margin-bottom:30px;">
              <i class="material-icons prefix">email</i>
              <%= f.text_field :email  %>
              <label for="email"> email </label>
            </div>
            <div class="input-field" style="margin-bottom:20px;">
              <i class="material-icons prefix">question_answer</i>
              <%= f.text_area :query, :class => 'materialize-textarea'  %>
              <!--<input id="contact_query" type="" class="validate">-->

              <label for="email"> query </label>
            </div>
            <button class="btn waves-effect waves-light small red-darken1" type="submit" name="action" onclick="Materialize.toast('Your Query has been submitted, We will contact you very soon', 3000)" >Submit<i class="small material-icons right">send</i></button>
          </div>
      <% end %>
    </div>
  </section>


  <script>
      $("#works").click(function(e) {
          $('html,body').animate({
                      scrollTop: $("#working-how").offset().top},
                  'slow');
          e.preventDefault();

      });
  </script>

  <!-- Footer ends -->




</div>
<!-- Contact button ends -->

<!-- Scripts -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.slider').slider({full_width: true});
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){


        $("#side-nav-profile").sideNav();

    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.single-item').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1

        });
    });
    $('.quicksearch-dropdown-individual').dropdown({
        belowOrigin: true

    });
    $('.collapsible-quick').collapsible({
        accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
</script>

<!-- All scripts ends -->

