
<script>
  $('#header').addClass('transparent-header');
</script>
<!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="clearfix">
  <!-- Header
  ============================================= -->
  <%= render :partial => 'shared/header' %>
  <section id="slider" style="background: url(/assets/landing2.jpg) center; overflow: visible;" data-height-lg="550" data-height-md="500" data-height-sm="600" data-height-xs="600" data-height-xxs="600">
    <div class="container clearfix">
    <% if !individual_signed_in? && !company_signed_in? %>
      <div class="contact-widget" data-loader="button">
        <div class="contact-form-result"></div>
        <!--<form action="include/landing-5.php" method="post" role="form" class="landing-wide-form landing-form-overlay dark nobottommargin clearfix">-->
          <%= form_for(Individual.new, :as => :individual, :url => registration_path(:individual), :html => { :class => 'landing-wide-form landing-form-overlay dark nobottommargin clearfix', :id => 'signup-home'}) do |f| %>
            <div class="heading-block nobottommargin nobottomborder">
              <h2>Signup for FREE</h2>
              <span>Free and unlimited for all</span>
            </div>
            <div class="line" style="margin: 10px 0 15px;"></div>
              <div class="col_full">
                <%= f.email_field :email, :class => 'form-control required input-lg not-dark', :id => 'sign-email', :placeholder => 'Your Email*' %>
              </div>
             <div class="col_full">
                <%= f.password_field :password, :class => 'form-control required input-lg not-dark', :id => 'sign-password', :placeholder => 'Choose Password*' %>
             </div>
             <div class="col_full">
                <%= f.password_field :password, :class => 'form-control required input-lg not-dark', :id => 'sign-c-password', :placeholder => 'Confirm Password*' %>
             </div>
             <div class="col_full">
               <h5 class="nobottommargin notopmargin">I'm :
               </h5>
               <input id="individual-radio" class="radio-style signup-radio" name="radio-group-3" type="radio" checked>
               <label for="individual-radio" class="radio-style-3-label">Individual</label>
               <input id="company-radio" class="radio-style signup-radio" name="radio-group-3" type="radio">
               <label for="company-radio" class="radio-style-3-label">Company</label>
             </div>
             <div class="col_full hidden">
               <input type="text" id="template-landing5-botcheck" name="template-landing5-botcheck" value="" class="form-control" />
             </div>
             <div class="col_full nobottommargin">
               <%= f.submit 'START FREE ACCESS ', :class => 'btn btn-lg btn-danger btn-block nomargin' %>
            <!--<button class="btn btn-lg btn-danger btn-block nomargin" value="submit" type="submit" style="">START FREE TRIAL</button>-->
             </div>
             <div class="line" style="margin: 10px 0 15px;"></div>

             <div class="">
               <a href="#myModal1" data-lightbox="inline" class="button button-large button-block nomargin button-green col_full nobottommargin"><center>Login Now</center></a>
             </div>
          <% end %>
          <div class="modal1 mfp-hide" id="myModal1">
            <div class="block divcenter" style="background-color: #FFF; max-width: 700px;">
              <div class="row nomargin clearfix">
                <div class="col-sm-6" data-height-lg="556" data-height-md="556" data-height-sm="556" data-height-xs="0" data-height-xxs="0" style="background-image: url(/assets/loginmodal.jpg); background-size: cover;"></div>
                <div class="col-sm-6 col-padding" data-height-lg="556" data-height-md="556" data-height-sm="556" data-height-xs="556" data-height-xxs="556">
                  <div>
                    <h4 class="uppercase ls1">Login now to your awesome portal</h4>
                    <%= form_for(:individual, :url => session_path(:individual), :html => {:class => 'clearfix', :id => 'home-login-form', :style => 'max-width: 400px;'}) do |f| %>
                        <!--<form action="#" class="clearfix" style="max-width: 300px;">-->
                          <div class="col_full">
                            <label for="" class="capitalize t600">Username or Email:</label>
                              <%= f.email_field :email, :class => 'sm-form-control', :id => 'login-email' %>
                            <!--<input type="email" id="template-op-form-email" name="template-op-form-email" value="" class="sm-form-control" />-->
                          </div>
                          <div class="col_full">
                            <label for="" class="capitalize t600">Password:</label>
                            <%= f.password_field :password, :class => 'sm-form-control', :id => 'login-password' %>
                            <!--<input type="password" id="template-op-form-password" name="template-op-form-password" value="" class="sm-form-control" />-->
                          </div>
                        <div class="col_full">
                          <h5 class="nobottommargin notopmargin">Sign in as :
                          </h5>
                          <input id="individual-login-radio" class="radio-style login-radio" name="radio-group-3" type="radio" checked>
                          <label for="individual-login-radio" class="radio-style-3-label">Individual</label>
                          <input id="company-login-radio" class="radio-style login-radio" name="radio-group-3" type="radio">
                          <label for="company-login-radio" class="radio-style-3-label">Company</label>
                        </div>
                          <div class="col_full nobottommargin">
                            <button type="submit" class="button button-rounded button-small button-dark nomargin" value="submit">Login Now</button>
                          </div>

                    <% end %>
                    <p class="nobottommargin"><small class="t300"><em>* Awesome people click this button a lot</em></small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>

      <% end %>

    </div>
  </section>

  <!-- Content
  ============================================= -->
  <section id="content" style="overflow: visible;">

    <div class="content-wrap">

      <div class="promo promo-dark promo-full landing-promo header-stick">
        <div class="container clearfix">
          <h3>A little content about Lets Login goes here  <i class="icon-circle-arrow-right" style="position:relative;top:2px;"></i></h3>
          <span>Little detailed content about lets login goes here to explain the consept a little</span>
        </div>
      </div>

      <div class="container clearfix">

        <div class="clear bottommargin-lg"></div>

        <div id="section-features" class="heading-block title-center page-section">
          <h3>Click on Play button to see how it works!</h3>
						<span>This section is required to explain better to customers or users<br> <br>
							<!-- Portfolio Single Video
						============================================= -->
						<div class="col_full portfolio-single-image">
                          <iframe src="http://player.vimeo.com/video/80975867" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                          <div class="clear"></div>

                        </div><!-- .portfolio-single-image end -->
						</span>

        </div>

        <div class="container clearfix">
          <div class="col_one_fourth nobottommargin">
            <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
              <div class="fbox-icon">
                <a href="#"><i class="i-alt noborder icon-shop"></i></a>
              </div>
              <h3>Freelance Jobs<span class="subtitle">Quick feature of lets login here</span></h3>
            </div>
          </div>

          <div class="col_one_fourth nobottommargin">
            <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
              <div class="fbox-icon">
                <a href="#"><i class="i-alt noborder icon-wallet"></i></a>
              </div>
              <h3>Feature 2<span class="subtitle">for those who are not watching video</span></h3>
            </div>
          </div>

          <div class="col_one_fourth nobottommargin">
            <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
              <div class="fbox-icon">
                <a href="#"><i class="i-alt noborder icon-megaphone"></i></a>
              </div>
              <h3>Feature 3<span class="subtitle">Quick feature of lets login here</span></h3>
            </div>
          </div>

          <div class="col_one_fourth nobottommargin col_last">
            <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
              <div class="fbox-icon">
                <a href="#"><i class="i-alt noborder icon-fire"></i></a>
              </div>
              <h3>Feature 4<span class="subtitle">Quick feature of lets login here</span></h3>
            </div>
          </div>


        </div>

      </div>
  </div>
  </section>

  <div id="section-services" class="page-section notoppadding">

    <div class="section nomargin">
      <div class="container clearfix">
        <div class="divcenter center" style="max-width: 900px;">
          <h2 class="nobottommargin t300 ls1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</h2>
        </div>
      </div>
    </div>

  </div>

  <section class="container">

    <div class="heading-block center topmargin">
      <h3>FEW OF OUR FEATURED EVENTS</h3>
    </div>

    <div class="clear"></div>

    <div class="col_one_third ">
      <div class="feature-box center media-box fbox-bg">
        <div class="fbox-media">
          <a href="#"><img class="image_fade" src="/assets/portfolio/3/1.jpg" alt="Featured Box Image"></a>
        </div>
        <div class="fbox-desc">
          <h3>Event<span class="subtitle">Subheading goes here</span></h3>
          <p><a href="#" class="btn btn-default">Check Out</a></p>
        </div>
      </div>
    </div>

    <div class="col_one_third ">
      <div class="feature-box center media-box fbox-bg">
        <div class="fbox-media">
          <a href="#"><img class="image_fade" src="/assets/portfolio/3/2.jpg" alt="Featured Box Image"></a>
        </div>
        <div class="fbox-desc">
          <h3>Part Time<span class="subtitle">Subheading goes here</span></h3>
          <p><a href="#" class="btn btn-default">Check Out</a></p>
        </div>
      </div>
    </div>

    <div class="col_one_third col_last ">
      <div class="feature-box center media-box fbox-bg">
        <div class="fbox-media">
          <a href="#"><img class="image_fade" src="/assets/portfolio/3/3.jpg" alt="Featured Box Image"></a>
        </div>
        <div class="fbox-desc">
          <h3>Internships<span class="subtitle">Subheading goes here</span></h3>
          <p><a href="#" class="btn btn-default">Check Out</a></p>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="col_one_third nobottommargin">
      <div class="feature-box center media-box fbox-bg">
        <div class="fbox-media">
          <a href="#"><img class="image_fade" src="/assets/portfolio/3/3.1.jpg" alt="Featured Box Image"></a>
        </div>
        <div class="fbox-desc">
          <h3>Campus Ambassador<span class="subtitle">Subheading goes here</span></h3>
          <p><a href="#" class="btn btn-default">Check Out</a></p>
        </div>
      </div>
    </div>

    <div class="col_one_third nobottommargin">
      <div class="feature-box center media-box fbox-bg">
        <div class="fbox-media">
          <a href="#"><img class="image_fade" src="/assets/portfolio/3/3.2.jpg" alt="Featured Box Image"></a>
        </div>
        <div class="fbox-desc">
          <h3>Live Projects<span class="subtitle">Subheading goes here</span></h3>
          <p><a href="#" class="btn btn-default">Check Out</a></p>
        </div>
      </div>
    </div>

    <div class="col_one_third col_last nobottommargin">
      <div class="feature-box center media-box fbox-bg">
        <div class="fbox-media">
          <a href="#"><img class="image_fade" src="/assets/portfolio/3/3.jpg" alt="Featured Box Image"></a>
        </div>
        <div class="fbox-desc">
          <h3>6th Category<span class="subtitle">Subheading goes here</span></h3>
          <p><a href="#" class="btn btn-default">Check Out</a></p>
        </div>
      </div>
    </div>

    <div class="clear"></div>

  </section>



  <section>
    <div class="section ">
      <div class="container clearfix">

        <div class="row ">

          <div class="heading-block center">
            <h3>FEW OF OUR FEATURED EVENTS</h3>
          </div>

          <div class="col-md-3 col-sm-6 bottommargin">

            <div class="team">
              <div class="team-image">
                <img src="/assets/team/3.jpg" alt="John Doe">
              </div>
              <div class="team-desc team-desc-bg">
                <div class="team-title"><h4>Event Name</h4><span>Event Subcategory</span></div>

              </div>
            </div>

          </div>

          <div class="col-md-3 col-sm-6 bottommargin">

            <div class="team">
              <div class="team-image">
                <img src="/assets/team/3.jpg" alt="John Doe">
              </div>
              <div class="team-desc team-desc-bg">
                <div class="team-title"><h4>Event Name</h4><span>Event Subcategory</span></div>

              </div>
            </div>

          </div>

          <div class="col-md-3 col-sm-6 bottommargin">

            <div class="team">
              <div class="team-image">
                <img src="/assets/team/3.jpg" alt="John Doe">
              </div>
              <div class="team-desc team-desc-bg">
                <div class="team-title"><h4>Event Name</h4><span>Event Subcategory</span></div>

              </div>
            </div>

          </div>

          <div class="col-md-3 col-sm-6 bottommargin">

            <div class="team">
              <div class="team-image">
                <img src="/assets/team/3.jpg" alt="John Doe">
              </div>
              <div class="team-desc team-desc-bg">
                <div class="team-title"><h4>Event Name</h4><span>Event Subcategory</span></div>

              </div>
            </div>

          </div>

          <div class="col-md-3 col-sm-6 bottommargin">

            <div class="team">
              <div class="team-image">
                <img src="/assets/team/3.jpg" alt="John Doe">
              </div>
              <div class="team-desc team-desc-bg">
                <div class="team-title"><h4>Event Name</h4><span>Event Subcategory</span></div>

              </div>
            </div>

          </div>

          <div class="col-md-3 col-sm-6 bottommargin">

            <div class="team">
              <div class="team-image">
                <img src="/assets/team/3.jpg" alt="John Doe">
              </div>
              <div class="team-desc team-desc-bg">
                <div class="team-title"><h4>Event Name</h4><span>Event Subcategory</span></div>

              </div>
            </div>

          </div>

          <div class="col-md-3 col-sm-6 bottommargin">

            <div class="team">
              <div class="team-image">
                <img src="/assets/team/3.jpg" alt="John Doe">
              </div>
              <div class="team-desc team-desc-bg">
                <div class="team-title"><h4>Event Name</h4><span>Event Subcategory</span></div>

              </div>
            </div>

          </div>

          <div class="col-md-3 col-sm-6 bottommargin">

            <div class="team">
              <div class="team-image">
                <img src="/assets/team/3.jpg" alt="John Doe">
              </div>
              <div class="team-desc team-desc-bg">
                <div class="team-title"><h4>Event Name</h4><span>Event Subcategory</span></div>

              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

    <div class="container clearfix">
    </div>

    <div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-margin="100" data-loop="true" data-nav="false" data-autoplay="4000" data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="5" data-items-lg="6">

      <div class="oc-item"><a href="#"><img src="/assets/clients/1.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/clients/2.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/clients/3.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/clients/4.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/clients/5.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/clients/6.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/clients/7.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/clients/8.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/clients/9.png" alt="Clients"></a></div>
      <div class="oc-item"><a href="#"><img src="/assets/clients/10.png" alt="Clients"></a></div>

    </div>

    <div class="section  footer-stick">

      <div class="container clearfix">

        <div id="section-buy" class="heading-block title-center  page-section">
          <h2> A LITTLE CONTENT ABOUT BENEFITS OF THE LOGIN</h2>
          <span>Subheading of the above</span>
        </div>

        <div class="bottommargin center">

          <a href="#" data-animate="tada" class="button button-3d button-teal button-xlarge nobottommargin"><i class="icon-star3"></i>LOGIN NOW</a> - OR - <a href="#" data-scrollto="#section-pricing" class="button button-3d button-red button-xlarge nobottommargin"><i class="icon-user2"></i>SIGN UP FOR FREE</a>

        </div>

      </div>





    </div>

  </section><!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark" style="background: url('/assets/footer-bg.jpg') repeat; background-size: cover;">

    <div class="container">

      <!-- Footer Widgets
      ============================================= -->
      <div class="footer-widgets-wrap clearfix">

        <div class="col_two_third">

          <div class="widget clearfix">

            <img src="/assets/logo-dark.png" alt="" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

            <p>A brief about <strong>Lets Login</strong>goes in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

            <div class="line" style="margin: 30px 0;"></div>

            <div class="row">

              <div class="col-md-3 col-xs-6 bottommargin-sm widget_links">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>

              <div class="col-md-3 col-xs-6 bottommargin-sm widget_links">
                <ul>
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                  <li><a href="#">Link 5</a></li>
                </ul>
              </div>

              <div class="col-md-3 col-xs-6 bottommargin-sm widget_links">
                <ul>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Work Policy</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Return Policy</a></li>
                  <li><a href="#">Policy Policy</a></li>
                </ul>
              </div>

              <div class="col-md-3 col-xs-6 bottommargin-sm widget_links">
                <ul>
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                  <li><a href="#">Link 5</a></li>
                </ul>
              </div>

            </div>

          </div>

        </div>

        <div class="col_one_third col_last">

          <div class="widget clearfix" style="margin-bottom: -20px;">

            <div class="row">

              <div class="col-md-6 bottommargin-sm">
                <div class="counter counter-small" style="color: #35BBAA;"><span data-from="50" data-to="5065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                <h5 class="nobottommargin">Live Projects</h5>
              </div>

              <div class="col-md-6 bottommargin-sm">
                <div class="counter counter-small" style="color: #2CAACA;"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                <h5 class="nobottommargin">Clients</h5>
              </div>

            </div>

          </div>

          <div class="widget subscribe-widget clearfix">
            <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
            <div class="widget-subscribe-form-result"></div>
            <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
              <div class="input-group divcenter">
                <span class="input-group-addon"><i class="icon-email2"></i></span>
                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
              </div>
            </form>
          </div>

          <div class="widget clearfix" style="margin-bottom: -20px;">

            <div class="row">

              <div class="col-md-6 clearfix bottommargin-sm">
                <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
              </div>
              <div class="col-md-6 clearfix">
                <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
                  <i class="icon-rss"></i>
                  <i class="icon-rss"></i>
                </a>
                <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
              </div>

            </div>

          </div>

        </div>

      </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          <div class="copyrights-menu copyright-links clearfix">
            <a href="#">Home</a>/<a href="#">Events</a>/<a href="#">Membership</a>/<a href="#">Login</a>/<a href="#">Register</a>/<a href="#">Contact</a>
          </div>
          Made by Wish A Design <br> Copyrights &copy; 2016 All Rights Reserved by Lets Login Pvt. Ltd.
        </div>

        <div class="col_half col_last tright">
          <div class="fright clearfix">
            <a href="#" class="social-icon si-small si-borderless nobottommargin si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless nobottommargin si-gplus">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless nobottommargin si-pinterest">
              <i class="icon-pinterest"></i>
              <i class="icon-pinterest"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless nobottommargin si-vimeo">
              <i class="icon-vimeo"></i>
              <i class="icon-vimeo"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless nobottommargin si-github">
              <i class="icon-github"></i>
              <i class="icon-github"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless nobottommargin si-yahoo">
              <i class="icon-yahoo"></i>
              <i class="icon-yahoo"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
          </div>
        </div>

      </div>

    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->


</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<!--<script type="text/javascript" src="js/jquery.js"></script>-->
<!--<script type="text/javascript" src="js/plugins.js"></script>-->

<!--&lt;!&ndash; Footer Scripts-->
<!--============================================= &ndash;&gt;-->
<!--<script type="text/javascript" src="js/functions.js"></script>-->

<script type="text/javascript">
    $(function() {
        jQuery( "#side-navigation" ).tabs({ show: { effect: "fade", duration: 400 } });
    });
</script>