<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'materialize' %>
<%= render :partial => 'shared/header' %>
<%= stylesheet_link_tag 'stepsForm' %>
<%= javascript_include_tag 'stepsForm'%>
<style>
    .landing {
        background: #fff !important;
        color: #000 !important;
    }
        label {
            color: #000 !important;
        }
</style>
<br>
<div id="form-container">

  <%= form_for [current_company, @company_profile], url: company_company_profile_path do |f| %>
      <div class="stepsForm">
        <form>
          <div class="sf-steps">
            <div class="sf-steps-content">
              <div>
                <span>1</span> Profile
              </div>
              <div>
                <span>2</span> Contact
              </div>
              <div>
                <span>3</span> Social links
              </div>
            </div>
          </div>
          <div class="sf-steps-form sf-radius">

            <ul class="sf-content"> <!-- form step one -->
              <li>
                <div class="sf_columns column_3">
                  <label>Company Name</label>
                  <%= f.text_field :company_name, :placeholder => 'Please Enter Your Company Name', 'data-required' => 'true'  %>

                </div>
                <div class="sf_columns column_3">
                  <label>Formed Date</label>
                  <%= f.text_field :formed_date, :placeholder => 'When your company was formed',:id => 'datepicker', 'data-required' => 'true'  %>

                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>Your Field Category</label>
                  <label class="sf-select">
                    <%= f.collection_select :category_id, @categories, :id, :name,{prompt: "Select a category"}, {class: "form-control", 'data-required' => 'true'} %>
                    <span></span>
                  </label>
                </div>

                <div class="sf_columns column_3">
                  <label>Select type of company</label>
                  <label class="sf-select">
                    <%= f.select(:type_company, ['Startup', 'Event', 'Mnc', 'Ngo', 'Other'], {include_blank: "Select Type"}, { :class => 'form-control', 'data-required' => 'true' }) %>

                    <span></span>
                  </label>
                </div>

              </li>
              <li>
                <div class="sf_columns column_6">
                  <label>Company Bio.</label>
                  <%= f.text_area :bio, :placeholder => 'Please tell us about your company', 'data-required' => 'true' %>
                </div>
              </li>

            </ul>

            <ul class="sf-content"> <!-- form step two -->
              <li>
                <div class="sf_columns column_3">
                  <label>address 1</label>
                  <%= f.text_field :address1, :placeholder => 'Please Enter address lane 1', 'data-required' => 'true'  %>
                </div>
                <div class="sf_columns column_3">
                  <label>address 2</label>
                  <%= f.text_field :address2, :placeholder => 'Please Enter address lane 2'  %>
                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>City</label>
                  <%= f.text_field :city, :placeholder => 'Please enter the city', 'data-required' => 'true'  %>
                </div>
                <div class="sf_columns column_3">
                  <label>State</label>
                  <%= f.text_field :state, :placeholder => 'Please Enter the state', 'data-required' => 'true'  %>
                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>Country</label>
                  <%= f.text_field :country, :placeholder => 'Please Enter the country', 'data-required' => 'true'  %>
                </div>
                <div class="sf_columns column_3">
                  <label>Pincode</label>
                  <%= f.text_field :pincode, :placeholder => 'Please Enter the pin code', 'data-required' => 'true'  %>
                </div>
              </li>
            </ul>

            <ul class="sf-content"> <!-- form step tree -->
              <li>
                <div class="sf_columns column_3">
                  <%= f.text_field :facebook_profile, :placeholder => 'Facebook Profile link' %>

                </div>
                <div class="sf_columns column_3">
                  <%= f.text_field :twitter_profile, :placeholder => 'twitter Profile link' %>

                </div>

              </li>
              <li>
                <div class="sf_columns column_3">
                  <%= f.text_field :linkedin_profile, :placeholder => 'linkedin Profile link' %>

                </div>

              </li>
              <li>
                <div class="sf_columns column_6">
                  <div class="sf-check">
                    <label><input type="checkbox" value="test" name="test" data-required="true"><span></span> By checking this box you agree that the provided information is true.</label>
                  </div>
                </div>
              </li>
             <li><%= f.submit 'Submit', :class => 'sf-button', :style => 'margin-left: 15px !important' %></li>
            </ul>
          </div>

          <div class="sf-steps-navigation sf-align-right">
            <span id="sf-msg" class="sf-msg-error"></span>
            <button id="sf-prev" type="button" class="sf-button">Previous</button>
            <button id="sf-next" type="button" class="sf-button">Next</button>

          </div>

        </form>
      </div>
  <% end %>
</div>
<script>
//    $(document).ready(function() {
//        $('select').material_select();
//    });
</script>