<%= stylesheet_link_tag 'mainwelcome' %>
<%= stylesheet_link_tag 'materialize' %>
<style>
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

        border: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #ee6e73" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if individual_signed_in?  %>
            <li><%= link_to "Home", root_path, :class => 'header-link' %></li>
            <li><%= link_to "Profile", individual_profile_path(current_individual), :class => 'header-link' %></li>
            <li><%= link_to 'Edit profile', edit_individual_registration_path, :class => 'header-link' %></li>
            <li><%= link_to "log out", destroy_individual_session_path, method:  :delete, :class => 'header-link' %></li>
        <% elsif company_signed_in? %>
            <li><%= link_to "Home", root_path, :class => 'header-link' %></li>
            <li><%= link_to "Profile", company_company_profile_path(current_company), :class => 'header-link' %></li>
            <li><%= link_to 'Edit profile', edit_company_registration_path, :class => 'header-link' %></li>
            <li><%= link_to "log out", destroy_company_session_path, method:  :delete, :class => 'header-link' %></li>
        <% else %>
            <li><%= link_to "login(individual)", new_individual_session_path, :class => 'header-link' %></li>
            <li><%= link_to "login(company)", new_company_session_path, :class => 'header-link' %></li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<style>
  body {
      background-color: gainsboro;
  }
</style>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a class="active btn btn-large blue" style="color: white;" href="#test1">Pending Jobs</a></li>
      <li class="tab col s3"><a class="btn btn-large green" style="color: white;" href="#test2">Approved Jobs</a></li>
      <li class="tab col s3"><a class="btn btn-large red" style="color: white;" href="#test3">Declined Jobs</a></li>
      <li class="tab col s3"><a class="btn btn-large grey" style="color: white;" href="#test4">Closed Jobs</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <% @all_job.each do |event| %>
        <% if event.job_status == 'pending'  %>
        <div class = "container" >
          <div class="row" >
            <div class="card-panel hoverable job_card" style="width: 100% !important;">
              <div class="card-image">
                <!--<span class="card-title">Card Title</span>-->
              </div>
              <h5><%= link_to event.name, company_event_path(event.company.id, event.id), :style => 'color :#000;' %> <sup style="color: #ff4408;"><%= event.type_job %></sup>
              </h5>
              By <span class="blue-text text-darken-2"> <%= link_to event.company.company_profile.company_name  %> </span></br>
              <i class="fa fa-map-marker"></i> <span> <%= event.locality %></span></br>
              <i class="fa fa-anchor"></i> Category - <%= event.category.name if event.category.present? %></br>
              <span class="bold-text">Details :- </span>
              <p> Need a Freelancer for the content management for a website
              </p> </br>
              <span class="bold-text"> Skills</span>- Tags will come in version 2
              </br>
            </div>
          </div>
        </div>
            <% end %>
    <% end %>

  </div>
  <div id="test2" class="col s12">
    <% @all_job.each do |event| %>
        <% if event.job_status == 'approved'  %>
            <div class = "container" >
              <div class="row" >
                <div class="card-panel hoverable job_card" style="width: 100% !important;">
                  <div class="card-image">
                    <!--<span class="card-title">Card Title</span>-->
                  </div>
                  <h5><%= link_to event.name, company_event_path(event.company.id, event.id), :style => 'color :#000;' %> <sup style="color: #ff4408;"><%= event.type_job %></sup>
                  </h5>
                  By <span class="blue-text text-darken-2"> <%= link_to event.company.company_profile.company_name  %> </span></br>
                  <i class="fa fa-map-marker"></i> <span> <%= event.locality %></span></br>
                  <i class="fa fa-anchor"></i> Category - <%= event.category.name if event.category.present? %></br>
                  <span class="bold-text">Details :- </span>
                  <p> Need a Freelancer for the content management for a website
                  </p> </br>
                  <span class="bold-text"> Skills</span>- Tags will come in version 2
                  </br>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
  <div id="test3" class="col s12">
    <% @all_job.each do |event| %>
        <% if event.job_status == 'rejected'  %>
            <div class = "container" >
              <div class="row" >
                <div class="card-panel hoverable job_card" style="width: 100% !important;">
                  <div class="card-image">
                    <!--<span class="card-title">Card Title</span>-->
                  </div>
                  <h5><%= link_to event.name, company_event_path(event.company.id, event.id), :style => 'color :#000;' %> <sup style="color: #ff4408;"><%= event.type_job %></sup>
                  </h5>
                  By <span class="blue-text text-darken-2"> <%= link_to event.company.company_profile.company_name  %> </span></br>
                  <i class="fa fa-map-marker"></i> <span> <%= event.locality %></span></br>
                  <i class="fa fa-anchor"></i> Category - <%= event.category.name if event.category.present? %></br>
                  <span class="bold-text">Details :- </span>
                  <p> Need a Freelancer for the content management for a website
                  </p> </br>
                  <span class="bold-text"> Skills</span>- Tags will come in version 2
                  </br>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
  <div id="test4" class="col s12">
    <% @all_job.each do |event| %>
        <% if event.job_status == 'closed'  %>
            <div class = "container" >
              <div class="row" >
                <div class="card-panel hoverable job_card" style="width: 100% !important;">
                  <div class="card-image">
                    <!--<span class="card-title">Card Title</span>-->
                  </div>
                  <h5><%= link_to event.name, company_event_path(event.company.id, event.id), :style => 'color :#000;' %> <sup style="color: #ff4408;"><%= event.type_job %></sup>
                  </h5>
                  By <span class="blue-text text-darken-2"> <%= link_to event.company.company_profile.company_name  %> </span></br>
                  <i class="fa fa-map-marker"></i> <span> <%= event.locality %></span></br>
                  <i class="fa fa-anchor"></i> Category - <%= event.category.name if event.category.present? %></br>
                  <span class="bold-text">Details :- </span>
                  <p> Need a Freelancer for the content management for a website
                  </p> </br>
                  <span class="bold-text"> Skills</span>- Tags will come in version 2
                  </br>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>
<script>
    $('ul.tabs').tabs();
</script>