
<%= stylesheet_link_tag 'main-company' %>
<%= stylesheet_link_tag 'materialize' %>
<%= stylesheet_link_tag 'font-awesome.min' %>

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #ee6e73" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="float: right; padding: 0px 43px;">
        <% if individual_signed_in?  %>
            <li><%= link_to "Home", root_path, :class => 'header-link' %></li>
            <li><%= link_to "Profile", individual_profile_path(current_individual), :class => 'header-link' %></li>
            <li><%#= link_to 'Edit profile', edit_individual_registration_path, :class => 'header-link' %></li>
            <li><%= link_to "log out", destroy_individual_session_path, method:  :delete, :class => 'header-link' %></li>
        <% elsif company_signed_in? %>
            <li><%= link_to "Home", root_path, :class => 'header-link' %></li>
            <li><%= link_to "Profile", company_company_profile_path(current_company), :class => 'header-link' %></li>
            <li><%#= link_to 'Edit profile', edit_company_registration_path, :class => 'header-link' %></li>
            <li><%= link_to "log out", destroy_company_session_path, method:  :delete, :class => 'header-link' %></li>
        <% else %>
            <li><%= link_to "Home", root_path, :class => 'button' %></li>&nbsp&nbsp
            <li><%= link_to "login(individual)", new_individual_session_path, :class => 'header-link' %></li>
            <li><%= link_to "login(company)", new_company_session_path, :class => 'header-link' %></li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<body id="top" style="background-color: #f5f5f5;">

<!-- Header -->
<header id="header">
  <div id="header-top"style="margin-top: -69px;">
    <% if @company_profile.company_avatar_file_name.nil? %>
        <a href="#test-popup" id="inline-popups" class="image avatar" data-effect="mfp-zoom-in"><img src="/assets/avatar.jpg" class="image avatar"  alt="" /></a>
    <% else %>
        <a href="#test-popup" id="inline-popups" class="image avatar"  data-effect="mfp-zoom-in"> <%= image_tag @company_profile.company_avatar.url, :class => 'image avatar' %></a>
    <% end %>
    <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
      <%= form_for @company_profile, :url => { :action => "update"} do |avatar| %>
          <%= avatar.file_field :company_avatar %>
          <%= avatar.submit 'Update Picture', :class=> 'btn', :style=> 'background-color: #26a69a !important' %>
      <% end %>
    </div>

    <h1><strong><%= @company_profile.company_name %></strong>, <% %><br />
      <!--responsive site template freebie<br />-->
      <!--crafted by <a href="http://html5up.net">HTML5 UP</a>.-->
    </h1></br>
  </div>
  <a href="#" class="" style="color: #fff; font-size: large">Followers : </a> <span class="follower-count" style="color: #fff; font-size: large;" id="followed-count"><%= @company_profile.followers_count %></span></br>
  <span style="color: #fff; font-size: large;">Total  Jobs : <%= @company_event.count %></span>
  <div id="follow-button">
    <% if individual_signed_in? %>
        <% if current_individual.following?(@company_profile)  %>
            <%= form_tag (unfollow_company_company_company_profile_path), :remote => true, :id => 'unfollow-form' do  %>
                <%= button_tag 'unfollow', :type => 'submit', :class => 'btn btn-default' %>
            <% end %>
        <% else %>
            <%= form_tag (follow_company_company_company_profile_path), :remote => true, :id => 'follow-form' do  %>
                <%= button_tag 'follow', :type => 'submit', :class => 'btn btn-default' %>
            <% end %>
        <% end %>
    <% elsif company_signed_in? %>
        <% if current_company.following?(@company_profile) %>
            <%= form_tag (unfollow_company_company_company_profile_path), :remote => true, :id => 'unfollow-form' do  %>
                <%= button_tag 'unfollow', :type => 'submit', :class => 'btn btn-default' %>
            <% end %>
        <% elsif @company_profile.company_id == current_company.id %>
        <% else %>
            <%= form_tag (follow_company_company_company_profile_path), :remote => true, :id => 'follow-form' do  %>
                <%= button_tag 'follow', :type => 'submit', :class => 'btn btn-default' %>
            <% end %>
        <% end %>
    <% else %>
        please sign in to follow
    <% end %>
  </div>



</header>

<!-- Main -->
<div id="main">

  <%= link_to "Jobs Status", job_status_company_company_profiles_path(current_company), :class => 'btn btn-large waves-effect waves-light create-button' %>
  <%#= link_to "Create Event", new_company_event_path, :class => 'btn btn-large waves-effect waves-light create-button' %>
  <%= link_to "Create Job", new_job_company_events_path, :class => 'btn btn-large waves-effect red waves-light create-button' %>
  <!-- One -->
  <section id="one">
    <header class="major">

      <h2>A Short Description About Us<br /></h2>
    </header>
    <div class="row" >
      <div class="card-panel job_card" style="width: 100% !important;">
        <p><%= @company_profile.bio %></p>
      </div>
    </div>

    <ul class="actions">
      <!--<li><a href="#" class="btn btn-large waves-effect blue waves-light ">Learn More</a></li>-->
    </ul>
  </section>

  <!-- Two -->
  <section id="two">
    <h2>Recent Jobs by us</h2>
    <% if @company_event.present? == false %>
        <div class="col s12 m4 center">
          </br><p> No Data Available</p>
        </div>
    <% end %>



    <% @company_event.each do |event| %>


        <div class="row" >
          <div class="card-panel hoverable job_card" style="width: 100% !important;">
            <div class="card-image">
              <!--<span class="card-title">Card Title</span>-->
            </div>
            <h5><%= link_to event.name, company_event_path(event.company.id, event.id), :style => 'color :#000;' %> <sup style="color: #ff4408;"><%= event.type_job %></sup>
            </h5>
            By <span class="blue-text text-darken-2"> <%= link_to event.company.company_profile.company_name  %> </span></br>
            <i class="fa fa-map-marker"></i> <span> <%= event.locality %></span></br>
            <i class="fa fa-anchor"></i> Category - <%= event.category.name if event.category.present? %></br>
            <span class="bold-text">Details :- </span>
            <p> Need a Freelancer for the content management for a website
            </p> </br>
            <span class="bold-text"> Skills</span>- Tags will come in version 2
            </br>
          </div>
        </div>




    <% end %>



    <hr>
    </br>




    <!--<ul class="actions">-->
    <!--<li><a href="#" class="button">Full Portfolio</a></li>-->
    <!--</ul>-->
  </section>

  <!-- Three -->
  <section id="three">
    <h2>Get In Touch</h2>
    <p>Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.</p>

  </section>

  <!-- Four -->
  <!--
      <section id="four">
          <h2>Elements</h2>

          <section>
              <h4>Text</h4>
              <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
              This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
              This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p>
              <hr />
              <header>
                  <h4>Heading with a Subtitle</h4>
                  <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
              </header>
              <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
              <header>
                  <h5>Heading with a Subtitle</h5>
                  <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p>
              </header>
              <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
              <hr />
              <h2>Heading Level 2</h2>
              <h3>Heading Level 3</h3>
              <h4>Heading Level 4</h4>
              <h5>Heading Level 5</h5>
              <h6>Heading Level 6</h6>
              <hr />
              <h5>Blockquote</h5>
              <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
              <h5>Preformatted</h5>
              <pre><code>i = 0;

while (!deck.isInOrder()) {
print 'Iteration ' + i;
deck.shuffle();
i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
          </section>

          <section>
              <h4>Lists</h4>
              <div class="row">
                  <div class="6u 12u$(xsmall)">
                      <h5>Unordered</h5>
                      <ul>
                          <li>Dolor pulvinar etiam magna etiam.</li>
                          <li>Sagittis adipiscing lorem eleifend.</li>
                          <li>Felis enim feugiat dolore viverra.</li>
                      </ul>
                      <h5>Alternate</h5>
                      <ul class="alt">
                          <li>Dolor pulvinar etiam magna etiam.</li>
                          <li>Sagittis adipiscing lorem eleifend.</li>
                          <li>Felis enim feugiat dolore viverra.</li>
                      </ul>
                  </div>
                  <div class="6u$ 12u$(xsmall)">
                      <h5>Ordered</h5>
                      <ol>
                          <li>Dolor pulvinar etiam magna etiam.</li>
                          <li>Etiam vel felis at lorem sed viverra.</li>
                          <li>Felis enim feugiat dolore viverra.</li>
                          <li>Dolor pulvinar etiam magna etiam.</li>
                          <li>Etiam vel felis at lorem sed viverra.</li>
                          <li>Felis enim feugiat dolore viverra.</li>
                      </ol>
                      <h5>Icons</h5>
                      <ul class="icons">
                          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                          <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                          <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                          <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                          <li><a href="#" class="icon fa-tumblr"><span class="label">Tumblr</span></a></li>
                      </ul>
                  </div>
              </div>
              <h5>Actions</h5>
              <ul class="actions">
                  <li><a href="#" class="button special">Default</a></li>
                  <li><a href="#" class="button">Default</a></li>
              </ul>
              <ul class="actions small">
                  <li><a href="#" class="button special small">Small</a></li>
                  <li><a href="#" class="button small">Small</a></li>
              </ul>
              <div class="row">
                  <div class="6u 12u$(small)">
                      <ul class="actions vertical">
                          <li><a href="#" class="button special">Default</a></li>
                          <li><a href="#" class="button">Default</a></li>
                      </ul>
                  </div>
                  <div class="6u$ 12u$(small)">
                      <ul class="actions vertical small">
                          <li><a href="#" class="button special small">Small</a></li>
                          <li><a href="#" class="button small">Small</a></li>
                      </ul>
                  </div>
                  <div class="6u 12u$(small)">
                      <ul class="actions vertical">
                          <li><a href="#" class="button special fit">Default</a></li>
                          <li><a href="#" class="button fit">Default</a></li>
                      </ul>
                  </div>
                  <div class="6u$ 12u$(small)">
                      <ul class="actions vertical small">
                          <li><a href="#" class="button special small fit">Small</a></li>
                          <li><a href="#" class="button small fit">Small</a></li>
                      </ul>
                  </div>
              </div>
          </section>

          <section>
              <h4>Table</h4>
              <h5>Default</h5>
              <div class="table-wrapper">
                  <table>
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Description</th>
                              <th>Price</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Item One</td>
                              <td>Ante turpis integer aliquet porttitor.</td>
                              <td>29.99</td>
                          </tr>
                          <tr>
                              <td>Item Two</td>
                              <td>Vis ac commodo adipiscing arcu aliquet.</td>
                              <td>19.99</td>
                          </tr>
                          <tr>
                              <td>Item Three</td>
                              <td> Morbi faucibus arcu accumsan lorem.</td>
                              <td>29.99</td>
                          </tr>
                          <tr>
                              <td>Item Four</td>
                              <td>Vitae integer tempus condimentum.</td>
                              <td>19.99</td>
                          </tr>
                          <tr>
                              <td>Item Five</td>
                              <td>Ante turpis integer aliquet porttitor.</td>
                              <td>29.99</td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td colspan="2"></td>
                              <td>100.00</td>
                          </tr>
                      </tfoot>
                  </table>
              </div>

              <h5>Alternate</h5>
              <div class="table-wrapper">
                  <table class="alt">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Description</th>
                              <th>Price</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Item One</td>
                              <td>Ante turpis integer aliquet porttitor.</td>
                              <td>29.99</td>
                          </tr>
                          <tr>
                              <td>Item Two</td>
                              <td>Vis ac commodo adipiscing arcu aliquet.</td>
                              <td>19.99</td>
                          </tr>
                          <tr>
                              <td>Item Three</td>
                              <td> Morbi faucibus arcu accumsan lorem.</td>
                              <td>29.99</td>
                          </tr>
                          <tr>
                              <td>Item Four</td>
                              <td>Vitae integer tempus condimentum.</td>
                              <td>19.99</td>
                          </tr>
                          <tr>
                              <td>Item Five</td>
                              <td>Ante turpis integer aliquet porttitor.</td>
                              <td>29.99</td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td colspan="2"></td>
                              <td>100.00</td>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </section>

          <section>
              <h4>Buttons</h4>
              <ul class="actions">
                  <li><a href="#" class="button special">Special</a></li>
                  <li><a href="#" class="button">Default</a></li>
              </ul>
              <ul class="actions">
                  <li><a href="#" class="button big">Big</a></li>
                  <li><a href="#" class="button">Default</a></li>
                  <li><a href="#" class="button small">Small</a></li>
              </ul>
              <ul class="actions fit">
                  <li><a href="#" class="button special fit">Fit</a></li>
                  <li><a href="#" class="button fit">Fit</a></li>
              </ul>
              <ul class="actions fit small">
                  <li><a href="#" class="button special fit small">Fit + Small</a></li>
                  <li><a href="#" class="button fit small">Fit + Small</a></li>
              </ul>
              <ul class="actions">
                  <li><a href="#" class="button special icon fa-download">Icon</a></li>
                  <li><a href="#" class="button icon fa-download">Icon</a></li>
              </ul>
              <ul class="actions">
                  <li><span class="button special disabled">Special</span></li>
                  <li><span class="button disabled">Default</span></li>
              </ul>
          </section>

          <section>
              <h4>Form</h4>
              <form method="post" action="#">
                  <div class="row uniform 50%">
                      <div class="6u 12u$(xsmall)">
                          <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name" />
                      </div>
                      <div class="6u$ 12u$(xsmall)">
                          <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
                      </div>
                      <div class="12u$">
                          <div class="select-wrapper">
                              <select name="demo-category" id="demo-category">
                                  <option value="">- Category -</option>
                                  <option value="1">Manufacturing</option>
                                  <option value="1">Shipping</option>
                                  <option value="1">Administration</option>
                                  <option value="1">Human Resources</option>
                              </select>
                          </div>
                      </div>
                      <div class="4u 12u$(small)">
                          <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                          <label for="demo-priority-low">Low Priority</label>
                      </div>
                      <div class="4u 12u$(small)">
                          <input type="radio" id="demo-priority-normal" name="demo-priority">
                          <label for="demo-priority-normal">Normal Priority</label>
                      </div>
                      <div class="4u$ 12u(small)">
                          <input type="radio" id="demo-priority-high" name="demo-priority">
                          <label for="demo-priority-high">High Priority</label>
                      </div>
                      <div class="6u 12u$(small)">
                          <input type="checkbox" id="demo-copy" name="demo-copy">
                          <label for="demo-copy">Email me a copy of this message</label>
                      </div>
                      <div class="6u$ 12u$(small)">
                          <input type="checkbox" id="demo-human" name="demo-human" checked>
                          <label for="demo-human">I am a human and not a robot</label>
                      </div>
                      <div class="12u$">
                          <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                      </div>
                      <div class="12u$">
                          <ul class="actions">
                              <li><input type="submit" value="Send Message" class="special" /></li>
                              <li><input type="reset" value="Reset" /></li>
                          </ul>
                      </div>
                  </div>
              </form>
          </section>

          <section>
              <h4>Image</h4>
              <h5>Fit</h5>
              <div class="box alt">
                  <div class="row 50% uniform">
                      <div class="12u$"><span class="image fit"><img src="images/fulls/05.jpg" alt="" /></span></div>
                      <div class="4u"><span class="image fit"><img src="images/thumbs/01.jpg" alt="" /></span></div>
                      <div class="4u"><span class="image fit"><img src="images/thumbs/02.jpg" alt="" /></span></div>
                      <div class="4u$"><span class="image fit"><img src="images/thumbs/03.jpg" alt="" /></span></div>
                      <div class="4u"><span class="image fit"><img src="images/thumbs/04.jpg" alt="" /></span></div>
                      <div class="4u"><span class="image fit"><img src="images/thumbs/05.jpg" alt="" /></span></div>
                      <div class="4u$"><span class="image fit"><img src="images/thumbs/06.jpg" alt="" /></span></div>
                      <div class="4u"><span class="image fit"><img src="images/thumbs/03.jpg" alt="" /></span></div>
                      <div class="4u"><span class="image fit"><img src="images/thumbs/02.jpg" alt="" /></span></div>
                      <div class="4u$"><span class="image fit"><img src="images/thumbs/01.jpg" alt="" /></span></div>
                  </div>
              </div>
              <h5>Left &amp; Right</h5>
              <p><span class="image left"><img src="images/avatar.jpg" alt="" /></span>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
              <p><span class="image right"><img src="images/avatar.jpg" alt="" /></span>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
          </section>

      </section>
  -->

</div>

<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
    <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
  </ul>
  <!--<ul class="copyright">-->
  <!--<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>-->
  <!--</ul>-->
</footer>


</body>


<script>
    $('#inline-popups').magnificPopup({

        removalDelay: 500, //delay removal by X to allow out-animation
        callbacks: {
            beforeOpen: function() {
                this.st.mainClass = this.st.el.attr('data-effect');
            }
        },
        midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
    });

</script>

<style>
    /* text-based popup styling */
    .white-popup {
        position: relative;
        background: #FFF;
        padding: 25px;
        width: auto;
        max-width: 400px;
        margin: 0 auto;
    }

    /*

    ====== Zoom effect ======

    */
    .mfp-zoom-in {
        /* start state */
        /* animate in */
        /* animate out */
    }
    .mfp-zoom-in .mfp-with-anim {
        opacity: 0;
        transition: all 0.2s ease-in-out;
        transform: scale(0.8);
    }
    .mfp-zoom-in.mfp-bg {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .mfp-zoom-in.mfp-ready .mfp-with-anim {
        opacity: 1;
        transform: scale(1);
    }
    .mfp-zoom-in.mfp-ready.mfp-bg {
        opacity: 0.8;
    }
    .mfp-zoom-in.mfp-removing .mfp-with-anim {
        transform: scale(0.8);
        opacity: 0;
    }
    .mfp-zoom-in.mfp-removing.mfp-bg {
        opacity: 0;
    }
    .icon-over-image  {

        margin-left: 155px;
        margin-top: -19px;
        height: 16px;
    }

</style>

