<%= stylesheet_link_tag 'mainwelcome' %>
<%= stylesheet_link_tag 'cmc_css_profile' %>
<%= stylesheet_link_tag 'font-awesome.min' %>
<link rel="stylesheet" href="source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css">
<style>
    .sas {
        background-image: url("/assets/sas.png");
        background-repeat: no-repeat;
    }
</style>
<%= render partial: 'shared/header_profiles' %>

<!-- Side Navigation -->
<div class="col l2">
  <ul id="slide-out" class="side-nav side-nav-cmc fixed">
    <i class="material-icons small" style="color: #fff;">work</i>

    <% if company_signed_in? && current_company.id == @company_profile.company_id   %>
    <i class="material-icons green circle editButton">add</i>
    <li class="center-align nohover editImage valign-wrapper">
      <% if @company_profile.company_avatar_file_name.nil? %>
          <a class="modal-trigger" href="#modal1" style="margin-bottom:100px;">
            <img src="/assets/person.png" style="width:130px;" alt="profile-picture" class="circle" />
          </a>
      <% else %>
          <a class="modal-trigger" href="#modal1" style="margin-bottom:100px;"> <%= image_tag @company_profile.company_avatar.url, :style => 'width: 146px;height: 135px;', :class => 'circle' %></a>
      <% end %>
    </li>
        <% else %>

        <li class="center-align nohover editImage valign-wrapper">
          <% if @company_profile.company_avatar_file_name.nil? %>
              <img src="/assets/person.png" style="width:130px;" alt="profile-picture" class="circle" />
          <% else %>
              <%= image_tag @company_profile.company_avatar.url, :class => 'circle', :style => 'width: 90%' %>
          <% end %>
        </li>

        <% end %>
    <li class="nohover anchor"><a href="#"><p style="color:white; font-size:1.3em;"><%=@company_profile.company_name %></p></a></li>
    <li class="nohover anchor"><a href="#"><p style="color:white; font-size:1.1em;"><%=@company_profile.type_company %></p></a></li>
    <li id="follow-count-placeholder" class="nohover anchor"><a id="followed-count" href="#"><p  style="color:white; font-size:1.1em;"> Followers <i class="material-icons">supervisor_account</i> : &nbsp<span class="follower-count" ><%= @company_profile.followers_count %></span></p></a></li>
    <li class="nohover anchor"><a href="#"><p style="color:white; font-size:1.1em;"> Total  Jobs : <%= @company_event.count %></p></a></li>

    <div class=" section table-of-contents">
      <li class="nohover anchor"><a href="#about"><p style="color:white;">About</p></a></li>
      <li class="nohover anchor"><a href="#description"><p style="color:white;">Description</p></a></li>
      <li class="nohover anchor"><a href="#jobs"><p style="color:white;">jobs</p></a></li>
      <!--<li class="nohover anchor"><a href="#video"><p style="color:white;">Video</p></a></li>-->
      <!--<li class="nohover anchor"><a href="#projects"><p style="color:white;">Projects</p></a></li>-->
    </div>
    <br />
    <div id="follow-button-placeholder">
    <div id="follow-button">

      <% if individual_signed_in? %>
          <% if current_individual.following?(@company_profile)  %>
              <%= form_tag (unfollow_company_company_company_profile_path), :remote => true, :id => 'unfollow-form' do  %>
                  <li class="nohover anchor"><%= button_tag 'unfollow', :type => 'submit', :class => 'btn btn-default' %> </li>
              <% end %>
          <% else %>
              <%= form_tag (follow_company_company_company_profile_path), :remote => true, :id => 'follow-form' do  %>
                  <!--<a href="#" class="btn" style="height:50px; width:80%;"><p>Follow</p></a></li>-->
                  <li class="nohover anchor"><%= button_tag 'follow', :type => 'submit', :class => 'btn btn-default' %></li>
              <% end %>
          <% end %>
      <% elsif company_signed_in? %>
          <% if current_company.following?(@company_profile) %>
              <%= form_tag (unfollow_company_company_company_profile_path), :remote => true, :id => 'unfollow-form' do  %>
                  <li class="nohover anchor"> <%= button_tag 'unfollow', :type => 'submit', :class => 'btn btn-default' %></li>
              <% end %>
          <% elsif @company_profile.company_id == current_company.id %>
          <% else %>
              <%= form_tag (follow_company_company_company_profile_path), :remote => true, :id => 'follow-form' do  %>
                  <li class="nohover anchor"> <%= button_tag 'follow', :type => 'submit', :class => 'btn btn-default' %></li>
              <% end %>
          <% end %>
      <% else %>
          please sign in to follow
      <% end %>
      <br />
    </div>
    </div>

    <!--<a class="waves-effect waves-light btn" >Accept</a>-->
    <!--<a class="waves-effect waves-light btn yellow" >Onhold</a>-->
    <!--<a class="waves-effect waves-light btn red " >Reject</a>-->

  </ul>
</div>







<div id="modal1" class="modal">
  <div class="modal-content">
    <%= form_for @company_profile, :url => { :action => "update"} do |avatar| %>
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <%= avatar.file_field :company_avatar %>
          </div>
          <!--<div class="file-path-wrapper">-->
          <!--<input class="file-path validate" type="text">-->
          <!--</div>-->
        </div>
        <hr />
        <!--<div class="input-field">-->
        <!--<input placeholder="URL" id="first_name2" type="text" class="validate">-->
        <!--</div>--></br>
        <%= avatar.submit 'Update Picture', :class => 'btn btn-large blue waves center' %>
    <% end %>
  </div>
  <div class="modal-footer">
    <!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</a>-->
    <!--<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>-->
  </div>
</div>
<ul class="right hide">
  <i class="material-icons green circle editButton">add</i>
  <li class="center-align nohover editImage valign-wrapper">
    <a class="modal-trigger" href="#modal1" style="margin-bottom:100px;">
      <img src="assets/person.png" style="width:130px;" alt="profile-picture" class="circle" />
    </a>
  </li>
  <li class="nohover anchor"><a href="#"><p style="color:white; font-size:1.3em;"><%=@company_profile.company_name %></p></a></li>
  <li class="nohover anchor"><a href="#"><p style="color:white; font-size:1.1em;"><%=@company_profile.type_company %></p></a></li>
  <li class="nohover anchor"><a href="#"><p style="color:white; font-size:1.1em;">Followers <i class="material-icons">supervisor_account</i></p></a></li>
  <div class=" section table-of-contents">
    <li class="nohover anchor"><a href="#portfolio"><p style="color:white;">Portfolio</p></a></li>
    <li class="nohover anchor"><a href="#aboutus"><p style="color:white;">About</p></a></li>
    <li class="nohover anchor"><a href="#description"><p style="color:white;">Description</p></a></li>
    <li class="nohover anchor"><a href="#video"><p style="color:white;">Video</p></a></li>
    <li class="nohover anchor"><a href="#projects"><p style="color:white;">Projects</p></a></li>
  </div>
  <br />
  <li class="nohover anchor"><a href="#" class="btn" style="height:50px; width:70%;"><p>Follow</p></a></li><br />
  <li ><a href="#"><i class="material-icons green circle editButton">face</i></a></li>
  <li ><a href="#"><i class="material-icons green circle editButton">face</i></a></li>
</ul>

<!-- Side Navigation ends -->
<!-- Site Content -->

<% if company_signed_in? && params[:company_id] == current_company.id.to_s %>
<div class="row section scrollspy" >
  <div class="col l9 col s12 offset-l2">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" style="margin-left: 14%;">
          <h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;"> Actions</h5>
          <h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> Actions </h5>
          <div class="col l3 card offset-l1 s12  " style="width: 84.5%;">

            <%= link_to "Jobs Status", job_status_company_company_profiles_path(current_company), :class => 'btn btn-large waves-effect waves-light', :style => 'background: #ee6e73; float: left; width: 49%; font-weight: 600;' %>
            <%= link_to "Create Job", new_job_company_events_path, :class => 'btn btn-large waves-effect  waves-light ',:style => 'background: #ee6e73; float: right; width: 49%; font-weight: 600;' %>

          </div>

        </div>
      </div>
    </section>
  </div>
</div>
<% end %>

<!-- About us -->
<div class="row section scrollspy" id="about">
  <div class="col l9 col s12 offset-l2">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" style="margin-left: 14%;">
          <h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;"> About </h5>
          <h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> About </h5>
          <p class="hide-on-med-and-down" style="padding-left:55px; padding-right:85px;"><%= @company_profile.bio %></p>
          <p class="hide-on-large-only"><%= @company_profile.bio %></p>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- About us ends -->
<style>
    .left_td {
        font-weight :700 !important;
    }
</style>

<!--descripton-->
<div class="row section scrollspy" id="description" >
  <div class="col l9 col s12 offset-l2">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc"  style="margin-left: 14%;">
          <h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;"> Description </h5>
          <h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> Description </h5>
          <table class="highlight">
            <thead>
            <tr>
              <th data-field="id"></th>
              <th data-field="name"></th>

            </tr>
            </thead>

            <tbody>
            <tr>
              <td class="left_td">Member Since</td>
              <td><%= time_ago_in_words(@company_profile.created_at) %>ago </td>

            </tr>
            <tr>
              <td class="left_td">Jobs Posted</td>
              <td><%= @company_event.count %></td>

            </tr>
            <tr>
              <td class="left_td">People Hired</td>
              <td>0</td>

            </tr>
            <tr>
              <td class="left_td">situated</td>
              <td><%= @company_profile.city %></td>

            </tr>
            <tr>
              <td class="left_td">Category</td>
              <td><%= @company_profile.category.name unless @company_profile.category.blank? %></td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>
<!--discription ends-->

<!-- Portfolio start -->
<div class="row section scrollspy" id="jobs">
  <div class="col l9 col s12 offset-l2">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" style="margin-left: 14%;">
          <h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;"> Jobs Posted </h5>
          <h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> Jobs Posted </h5>
      <% if @company_job.blank? %>
              <p class="hide-on-med-and-down center" style="padding-left:55px; padding-right:85px;"><h4 style="margin-left: 39%">No Data Available </h4></p>
              <% else %>
          <% @company_job.each do |event| %>
          <div class="col l3 borderless" style="margin-left: 5%;">
            <div class="card" style=" width: 130%;height: 280px !important;">
              <div class="card-image  sas"  style="height: 155px;">
                <h4 style="width:70%; font-size:1.4em; padding-left:10px;font-weight: 500 !important; color: rgba(0, 0, 0, 0.71);"><%= link_to event.name, company_event_path(event.company.id, event.id) %></h4>

              </div></br></br>
              <p style="padding-left:10px; float: left; margin-top: -40px; ">Category: <%= event.category.name %></p>
              <a class="btn-floating waves-effect waves-light orange accent-4 right" style="margin-top:-55px; margin-right:10px; ">
                <i class="fa  <% case event.job_classify
                                   when "Freelance" %>
                          fa-child
                          <% when "Corporate" %>
                          fa-area-chart
                          <% when "Startup" %>
                          fa-cloud
                          <% when "Event" %>
                          fa-star
                          <% end %>"></i>
              </a>
              <div class="card-content" style="padding-bottom:0px;">
                <p class="row" style="margin-top:-35px;">
	                        <span class="left" style="margin-left:-40px;">
	                          <p  style="font-size: 19px;font-weight: 400; color:#ff6d00"><%= event.type_job %></p>
	                        </span>
	                        <span class="right">
	                          <%= time_ago_in_words(event.created_at) %>&nbsp Ago
	                        </span>
                </p>
              </div>
            </div>
          </div>


        <% end %>
    <% end %>


        </div>
      </div>
    </section>
  </div>
</div>

<!--for mobile ends -->
<!-- Portfolio ends -->



<!-- video -->
<!--<br />-->
<!--<div class="row section scrollspy" id="jobs">-->
  <!--<div class="col l9 col s12 offset-l2">-->

    <!--<section>-->
      <!--<div class="row">-->
        <!--<div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" style="margin-left: 14%;">-->
          <!--<h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;"> Jobs Posted </h5>-->
          <!--<h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> Jobs Posted </h5>-->
          <!--<p class="hide-on-med-and-down center" style="padding-left:55px; padding-right:85px;"><h4 style="margin-left: 39%">No Data Available </h4></p>-->

        <!--</div>-->
      <!--</div>-->
    <!--</section>-->
  <!--</div>-->
<!--</div>-->


<!--<div class="row hide-on-large-only">-->
  <!--<div class="col l3   offset-l2 video-cmc">-->
    <!--<div class="video-container" controls>-->
      <!--<iframe width="533" height="300" src="https://www.youtube.com/embed/uxTXp0-iZrY" frameborder="0" allowfullscreen></iframe>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col l3 video-cmc">-->
    <!--<div class="video-container" controls>-->
      <!--<iframe width="533" height="300" src="https://www.youtube.com/embed/uxTXp0-iZrY" frameborder="0" allowfullscreen></iframe>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col l3 video-cmc">-->
    <!--<div class="video-container" controls>-->
      <!--<iframe width="533" height="300" src="https://www.youtube.com/embed/uxTXp0-iZrY" frameborder="0" allowfullscreen></iframe>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- video ends -->

<!--projects starts -->

<!--<div class="row section scrollspy" id="description">-->
  <!--<div class="col l9 col s12 offset-l2">-->

    <!--<section>-->
      <!--<div class="row">-->
        <!--<div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" style="margin-left: 14%;">-->
          <!--<h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;"> Projects </h5>-->
          <!--<h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> Projects </h5>-->
          <!--<p class="hide-on-med-and-down center" style="padding-left:55px; padding-right:85px;"><h4 style="margin-left: 39%">No Data Available </h4></p>-->

        <!--</div>-->
      <!--</div>-->
    <!--</section>-->
  <!--</div>-->
<!--</div>-->

<!--projects end -->
<!-- Footer -->

<footer class="page-footer center-align">
  <div class="container">
    <div class="row">
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text">Lets Login</h5>
        <p class="grey-text text-lighten-4">Our vision is to find the best opportunity for every talent. Since its inception, the company aims to flourish the part-time culture in the country and set a trend. The part-time industry in India is on boom but highly disorganised and untapped</p>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text"> About </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/"> Home </a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="/about_us"> About Us </a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="/#working-how"> How it Works ?</a></li>
          <!--<li><a class="grey-text text-lighten-3" href="#!"> Team </a></li>-->
        </ul>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text"> Site Map </h5>
        <ul>
          <li><%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'All Jobs',  events_path, :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Lets Login  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Made with <i class="material-icons" style="padding-top:0px;">favorite</i> by <a style="color:white;" href="http://www.letslogin.in">LetsLogin Team</a>
      <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
      <ul class="icons">
        <li><a href="https://twitter.com/Letsloginhere" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/JobzGO" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="in.linkedin.com/in/letslogin" class="icon fa-linkedin"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- Footer ends -->


<!-- Site content ends -->

<section>
  <div class="row">
    <div class="col l2 offset-l2"></div>
    <div class="col l2 "></div>
    <div class="col l2 "></div>
    <div class="col l2 "></div>
  </div>
</section>

<!-- Scripts -->

<script type="text/javascript">
    $(document).ready(function(){
        $(".button-collapse").sideNav();
        //$('.collapsible').collapsible();
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
        $('.modal-trigger2').leanModal();
        $('.modal-trigger3').leanModal();
        $('.scrollspy').scrollSpy();
        $('.dropdown-button').dropdown({
                    inDuration: 300,
                    constrain_width: false,
                    outDuration: 225,
                    hover: false, // Activate on hover
                    belowOrigin: true, // Displays dropdown below the button
                    alignment: 'right' // Displays dropdown with edge aligned to the left of button
                }
        );
    });
</script>

<!--<script src="js/carousel.js"></script>-->
<!--<script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>-->
<!--<script type="text/javascript" src="source/jquery.fancybox.pack.js?v=2.1.5"></script>-->
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
<script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('a.popper').webuiPopover({placement:'right',animation: 'pop'});
    });
</script>
<!-- All scripts ends -->




