<%= form_for @event, :url => { :action => "update"} do |f| %>
    <%= f.text_area :event_info, :class => 'ckeditor' %>
    <%= f.submit 'submit' %>
    <input type="button" id="close-editor"  value="Cancel"> </input>


<% end %>
<script type="text/javascript" >

    $('#close-editor').click(function() {
        $('#update-info-update').hide();
        $('#update-click').show();
        $('#update-info-show').show();

    });
</script>