
      <% if @events.present?  %>
      <% @events.each do |event| %>

                <div class=" col s12 z-depth-1  position-cmc hide-on-med-and-down" style="background: #fff;">
                  <span style="background-color: #4db6ac !important; float: left; color: #fff; font-size: 21px; font-weight: 500; margin-left: -1%"><%= event.job_classify %></span><br>
                  <% if event.company.company_profile.company_avatar_file_name.nil? %>
                      <div class="logo z-depth-1"><img class="circle responsive-img activator" src="/assets/company-icon.png"></div>
                  <% else %>
                      <div class="logo z-depth-1 "> <%= image_tag event.company.company_profile.company_avatar.url, :class => 'circle responsive-img activator', :style => 'height:100%; width: 100%;' %></div>
                  <% end %>

                  <h4> <%= link_to event.name, company_event_path(event.company.id, event.id), :style => ' font-size:20px;font-weight: 500;' %> <sup style="color: #f44336;font-size: 14px;"><%= event.type_job %></sup> </h4>

                  </br>


                  <p style="margin: -40px 0 0 0;"><SPAN> By </SPAN> <%= link_to event.company.company_profile.company_name, company_company_profile_path(event.company) %> </p>
                  <span style="font-weight:500;">Category - </span><%= event.category.name %>
                  <p><% event.tag_list.each do |tag| %>
                        <span class="chip"><%= link_to tag, tag_path(tag) %></span>
                    <% end %></p>


                    <div>

                    <% unless company_signed_in? %>
                    <div class="">
                      <%= link_to '<i class="material-icons left">cloud</i> Apply Now'.html_safe,  company_event_path(event.company.id, event.id), :target => '_blank', :class => 'waves-effect waves-light btn btn-1-color red darken-1 ' %>

                    </div>
                        <% end %>
                    </div>
                       </br>
                        <span style="width: 103.2%;float: left;background: #ccc;margin-left: -1.6%;">
                          Posted <%= time_ago_in_words(event.created_at) %> ago
                        </span>



                </div>



              <div class=" col s12 z-depth-1  position-cmc hide-on-large-only" style="background: #fff; margin-left: -5% !important;">
                <span style="background-color: #4db6ac !important; float: left; color: #fff; font-size: 21px; font-weight: 500; margin-left: -1%"><%= event.job_classify %></span><br>
                <% if event.company.company_profile.company_avatar_file_name.nil? %>
                    <div class="logo z-depth-1"><img class="circle responsive-img activator" src="/assets/company-icon.png"></div>
                <% else %>
                    <div class="logo z-depth-1 "> <%= image_tag event.company.company_profile.company_avatar.url, :class => 'circle responsive-img activator', :style => 'height:100%; width: 100%;' %></div>
                <% end %>

                <h4> <%= link_to event.name, company_event_path(event.company.id, event.id), :style => ' font-size:20px;font-weight: 500;' %> <sup style="color: #f44336;font-size: 14px;"><%= event.type_job %></sup> </h4>

                </br>


                <p style="margin: -40px 0 0 0;"><SPAN> By </SPAN> <%= link_to event.company.company_profile.company_name, company_company_profile_path(event.company) %> </p>
                <span style="font-weight:500;">Category - </span><%= event.category.name %>
                <p><% event.tag_list.each do |tag| %>
                      <span class="chip"><%= link_to tag, tag_path(tag) %></span>
                  <% end %></p>


                <div>

                  <% unless company_signed_in? %>
                      <div class="">
                        <%= link_to '<i class="material-icons left">cloud</i> Apply Now'.html_safe,  company_event_path(event.company.id, event.id), :target => '_blank', :class => 'waves-effect waves-light btn btn-1-color red darken-1 ' %>

                      </div>
                  <% end %>
                </div>
                </br>
                        <span style="width: 103.2%;float: left;background: #ccc;margin-left: -1.6%;">
                          Posted <%= time_ago_in_words(event.created_at) %> ago
                        </span>



              </div>

              </br>


  <% end %>
            <% else %> </br>
          <div class="col s12 z-depth-1" style="background: #fff;">
        <h4 class="center">No Jobs Available</h4>
          </div>
      <% end %>

      <div class="paginate" style="margin-left: 16%;">
        <%= will_paginate unless @events.blank?  %>
      </div>
