<!--<script src="//connect.facebook.net/en_US/all.js"></script>-->
<!--<div id="fb-root"></div>-->

<%# content_for :for_head do %>
    <!-- You can use Open Graph tags to customize link previews.
      Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <!--<meta property="fb:app_id" content="113237559022655" />-->
    <!--<meta property="og:type"   content="LetsLogin:Job" />-->
    <!--<meta property="og:url" content="http://www.letslogin.in/events/<%=params[:id] %>" />-->
    <!--<meta property="og:title" content="Your Website Title" />-->
    <!--<meta property="og:description" content="Your description" />-->

<%# end %>
<style>
  .whatsapp-icon {
    background-image: url("/assets/whatsapp-icon.png");
  }
  .mobile-font {
      font-size: 2rem !important;
  }
  .mobile-font-heading {
      font-size: 2.5rem !important;
      font-weight: 500 !important;
  }
</style>
<div class="container" style="width: 90% !important;">
  <div class="row hide-on-med-and-down" style="margin-top:30px !important;">
    <div class="col s8 z-depth-1" style="background-color:#ffffff;">
        <h5><%= @event.name %></h5><h6><%= @event.type_job %></h6>


      <!--<a href="https://www.facebook.com/dialog/feed?app_id=113237559022655&amp;display=popup&amp;caption=An%20example%20caption&amp;link=https%3A%2F%2Fletslogin.in%2Fcompanies%2F12%2Fevents%6%2F&amp;redirect_uri=http://www.letslogin.in/companies/<%=params[:company_id]%>/events/<%= params[:id] %>"> share this</a>-->
      <!--<a href="https://www.facebook.com/dialog/feed?app_id=113237559022655&amp;display=popup&amp;caption=<%= @event.name %>&amp;link=https%3A%2F%2Fletslogin.in%2Fcompanies%2F12%2Fevents%6%2F&amp;redirect_uri=http://www.letslogin.in/companies/<%=params[:company_id]%>/events/<%= params[:id] %>" target="_blank"> share this</a>-->
      <a href="http://www.letslogin.in/companies/<%=params[:company_id]%>/events/<%= params[:id] %>" data-image="https://s3.amazonaws.com/letslogin/individual_photos/portfolio_photos/000/000/005/original/10174788_1016144805125529_8183902077235174322_n.png" data-title="<%= @event.name %>" data-desc="<%= @event.job_classify %> Job" class="btnShare btn waves waves-effect blue darken-3"> <i class="fa fa-facebook-official" style="width: 30px;"></i>Share </a>
      <a href="#" data-text="<%= @event.name %>" data-link="http://www.letslogin.in/companies/<%=params[:company_id]%>/events/<%= params[:id] %>" class="whatsapp btn waves waves-effect"><i class="fa fa-whatsapp" style="width: 30px;" ></i>Share</a>
      <!--<div class="whatsapp-button "><a href="whatsapp://send?text=The text to share!" data-action="share/whatsapp/share">Share via Whatsapp</a></div>-->
      <!--<div class="fb-share-button" data-href="https://www.letslogin.in/companies/<%#=params[:company_id]%>/events/<%#= params[:id] %>" data-image="/assets/1.jpg" data-layout="button"></div>http://www.letslogin.in/companies/12/events/6-->
<script>
    $(document).on("click",'.whatsapp',function() {

        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

            var text = $(this).attr("data-text");
            var url = $(this).attr("data-link");
            var message = encodeURIComponent(text)+" - "+encodeURIComponent(url);
            var whatsapp_url = "whatsapp://send?text="+message;
            window.location.href= whatsapp_url;
        } else {
            alert("Please share this article in mobile device");
        }

    });
</script>
      <ul>
        <li class="divider"></li>
        <li style="margin-top:10px;">By <%= link_to @event.company.company_profile.company_name, company_company_profile_path(@event.company) %></li>
        <li><%= @event.locality %></li>
        <li>Posted <%= time_ago_in_words(@event.created_at) %> ago<li>
        <li><% @event.tag_list.each do |tag| %>
              <span class="chip"><%= link_to tag, tag_path(tag) %></span><% end %><li>
      </ul>
<hr>
      <h5>Job Description</h5>
      <table class="striped">
        <thead>
        <tr>
          <th data-field="id"></th>
          <th data-field="name"></th>

        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Type of job</td>
          <td><%= @event.type_job %></td>

        </tr>
        <tr>
          <td>No. of vacancy</td>
          <td><%= @event.person_req %></td>

        </tr>
        <tr>
          <td>Education</td>
          <td><%= @event.education %></td>

        </tr>
        <tr>
          <td>salary</td>
          <td><%= @event.salary %> </td>

        </tr>
        <tr>
          <td>Gender Required</td>
          <td><% if @event.gender == 'Both' %><%= 'Male and female' %><% else %><%= @event.gender %><% end %></td>

        </tr>
        </tbody>
      </table>

<hr>
      <h5>Detailed Description</h5>
      <% if company_signed_in? && @event.company_id == current_company.id %>
          <%=  link_to "edit info", "#", :id => 'update-click', :class=>".btn-success", :remote => true %>
      <% end %>
      <div id="update-info-show">
        <p> <%= raw(@event.event_info) %> </p>
      </div>
      <div id="update-info-update" style="display: none">

      </div>
      <script type="text/javascript">

          $('#update-click').click(function() {

              $("#update-info-show").hide();
              $("#update-click").hide();
              $('#update-info-update').show();

              $("#update-info-update").html("<%=j render :partial => 'event_info' %>");
              $('.ckeditor').ckeditor({
                  // optional config

              });
          });
      </script>


    </div>

    <div class="col s3 offset-s1 z-depth-1 " style="background-color:white; padding:20px !important">
   <div class="row">
      <% if @event.company.company_profile.company_avatar_file_name.nil? %>
          <div class="circle-cmc circle center" style="margin-left: 30%;"><img class="circle responsive-img activator" src="/assets/company-icon.png"></div>
      <% else %>
          <div class="circle-cmc circle center" style="margin-left: 30%;"> <%= image_tag @event.company.company_profile.company_avatar.url, :class => 'circle responsive-img activator', :style => 'height:100%;' %></div>
      <% end %>
     </br>
      <div class="center-align"><h5><%= link_to @event.company.company_profile.company_name, company_company_profile_path(@event.company) %> </h5></div>
   </div>
      </br>
      <hr>
      </br>
<div class="row">
      <div id="request-button-display">
        <% if individual_signed_in? %>
            <% if @request_presence.present?  %>
                <% if @find_req.status == "inprocess" %>
                    <input type="button" value="Request Sent" class="btn request-btn btn-info disabled red darken-1"  >
                <% elsif @find_req.status == "onhold"  %>
                    <input type="button" value="onhold" class="btn request-btn btn-info disabled red darken-1">
                <% elsif @find_req.status == "approved" %>
                    <input type="button" value="Approved " class="btn request-btn btn-info disabled red darken-1"  >
                <% else %>
                    <input type="button" value="Declined" class="btn request-btn btn-info disabled red darken-1"  >
                <% end %>
            <% else %>
                <%= form_for @request_event, :url => {:action => "request_create"}, :remote => true do|f| %>
                    <%= f.hidden_field :event_id, :value => params[:id] %>
                    <%= f.hidden_field :individual_id, :value => current_individual.id %>
                    <%= f.hidden_field :company_id, :value => params[:company_id] %>
                    <button class="btn left waves-effect waves-light red darken-1" type="submit" name="action">Apply Now
                      <i class="material-icons right">send</i>
                    </button>


                <% end %>
            <% end %>
        <% elsif  company_signed_in? %>
            <% if current_company.id.to_s == params[:company_id].to_s %>



                <a href="#test-popup" id="inline-popups" data-effect="mfp-zoom-in"><%= @count_request %> Request</a>

                <!--popup for requested individual-->
                <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
                  <% @name.each do |name| %>
                      <%= link_to name.first_name, individual_profile_path(name.id) %>
                  <% end %>
                </div>

            <% end %>
        <% else %>

            <button type="btn request-btn btn-info" value="Nothing"  ></button>
        <% end %>

        </br>
        <h6 class="left"><%=@applied_people %> People have already applied </h6>
      </div>
</div>
    </div>


  </div>

  <div class="row hide-on-large-only" style="margin-top:30px !important; font-size: 2rem!important;">

    <div class="col s12 z-depth-1" style="background-color:#ffffff;">
      <h5 class="mobile-font-heading"><%= @event.name %></h5><h6 class="mobile-font"><%= @event.type_job %></h6>


      <!--<a href="https://www.facebook.com/dialog/feed?app_id=113237559022655&amp;display=popup&amp;caption=An%20example%20caption&amp;link=https%3A%2F%2Fletslogin.in%2Fcompanies%2F12%2Fevents%6%2F&amp;redirect_uri=http://www.letslogin.in/companies/<%=params[:company_id]%>/events/<%= params[:id] %>"> share this</a>-->
      <!--<a href="https://www.facebook.com/dialog/feed?app_id=113237559022655&amp;display=popup&amp;caption=<%= @event.name %>&amp;link=https%3A%2F%2Fletslogin.in%2Fcompanies%2F12%2Fevents%6%2F&amp;redirect_uri=http://www.letslogin.in/companies/<%=params[:company_id]%>/events/<%= params[:id] %>" target="_blank"> share this</a>-->
      <a href="http://www.letslogin.in/companies/<%=params[:company_id]%>/events/<%= params[:id] %>" data-image="https://s3.amazonaws.com/letslogin/individual_photos/portfolio_photos/000/000/005/original/10174788_1016144805125529_8183902077235174322_n.png" data-title="<%= @event.name %>" data-desc="<%= @event.job_classify %> Job" class="btnShare btn waves waves-effect blue darken-3"> <i class="fa fa-facebook-official" style="width: 30px;"></i>Share </a>
      <a href="#" data-text="<%= @event.name %>" data-link="http://www.letslogin.in/companies/<%=params[:company_id]%>/events/<%= params[:id] %>" class="whatsapp btn waves waves-effect"><i class="fa fa-whatsapp" style="width: 30px;" ></i>Share</a>
      <!--<div class="whatsapp-button "><a href="whatsapp://send?text=The text to share!" data-action="share/whatsapp/share">Share via Whatsapp</a></div>-->
      <!--<div class="fb-share-button" data-href="https://www.letslogin.in/companies/<%#=params[:company_id]%>/events/<%#= params[:id] %>" data-image="/assets/1.jpg" data-layout="button"></div>http://www.letslogin.in/companies/12/events/6-->
      <script>
          $(document).on("click",'.whatsapp',function() {

              if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {

                  var text = $(this).attr("data-text");
                  var url = $(this).attr("data-link");
                  var message = encodeURIComponent(text)+" - "+encodeURIComponent(url);
                  var whatsapp_url = "whatsapp://send?text="+message;
                  window.location.href= whatsapp_url;
              } else {
                  alert("Please share this article in mobile device");
              }

          });
      </script>
      <ul>
        <li class="divider"></li>
        <li style="margin-top:10px;">By <%= link_to @event.company.company_profile.company_name, company_company_profile_path(@event.company) %></li>
        <li><%= @event.locality %></li>
        <li>Posted <%= time_ago_in_words(@event.created_at) %> ago<li>
        <li><% @event.tag_list.each do |tag| %>
              <span class="chip"><%= link_to tag, tag_path(tag) %></span><% end %><li>
          </ul>
      <hr>
      <h5>Job Description</h5>
      <table class="striped">
        <thead>
        <tr>
          <th data-field="id"></th>
          <th data-field="name"></th>

        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Type of job</td>
          <td><%= @event.type_job %></td>

        </tr>
        <tr>
          <td>No. of vacancy</td>
          <td><%= @event.person_req %></td>

        </tr>
        <tr>
          <td>Education</td>
          <td><%= @event.education %></td>

        </tr>
        <tr>
          <td>salary</td>
          <td><%= @event.salary %> </td>

        </tr>
        <tr>
          <td>Gender Required</td>
          <td><% if @event.gender == 'Both' %><%= 'Male and female' %><% else %><%= @event.gender %><% end %></td>

        </tr>
        </tbody>
      </table>

      <hr>
      <h5>Detailed Description</h5>
      <% if company_signed_in? && @event.company_id == current_company.id %>
          <%=  link_to "edit info", "#", :id => 'update-click', :class=>".btn-success", :remote => true %>
      <% end %>
      <div id="update-info-show">
        <p> <%= raw(@event.event_info) %> </p>
      </div>
      <div id="update-info-update" style="display: none">

      </div>
      <script type="text/javascript">

          $('#update-click').click(function() {

              $("#update-info-show").hide();
              $("#update-click").hide();
              $('#update-info-update').show();

              $("#update-info-update").html("<%=j render :partial => 'event_info' %>");
              $('.ckeditor').ckeditor({
                  // optional config

              });
          });
      </script>


    </div>

    <div class="col s6 offset-s3 z-depth-1 " style="background-color:white; padding:20px !important">
      <div class="row">
        <% if @event.company.company_profile.company_avatar_file_name.nil? %>
            <div class="circle-cmc circle center-align "><img class="circle responsive-img activator" src="/assets/company-icon.png"></div>
        <% else %>
            <div class="circle-cmc circle center-align"> <%= image_tag @event.company.company_profile.company_avatar.url, :class => 'circle responsive-img activator', :style => 'height:100%;' %></div>
        <% end %>
        <div class="right"><h5><%= link_to @event.company.company_profile.company_name, company_company_profile_path(@event.company) %> </h5></div>
      </div>
      </br>
      <hr>
      </br>
      <div class="row">
        <div id="request-button-display">
          <% if individual_signed_in? %>
              <% if @request_presence.present?  %>
                  <% if @find_req.status == "inprocess" %>
                      <input type="button" value="Request Sent" class="btn request-btn btn-info disabled red darken-1"  >
                  <% elsif @find_req.status == "onhold"  %>
                      <input type="button" value="onhold" class="btn request-btn btn-info disabled red darken-1">
                  <% elsif @find_req.status == "approved" %>
                      <input type="button" value="Approved " class="btn request-btn btn-info disabled red darken-1"  >
                  <% else %>
                      <input type="button" value="Declined" class="btn request-btn btn-info disabled red darken-1"  >
                  <% end %>
              <% else %>
                  <%= form_for @request_event, :url => {:action => "request_create"}, :remote => true do|f| %>
                      <%= f.hidden_field :event_id, :value => params[:id] %>
                      <%= f.hidden_field :individual_id, :value => current_individual.id %>
                      <%= f.hidden_field :company_id, :value => params[:company_id] %>
                      <button class="btn left waves-effect waves-light red darken-1" type="submit" name="action">Apply Now
                        <i class="material-icons right">send</i>
                      </button>


                  <% end %>
              <% end %>
          <% elsif  company_signed_in? %>
              <% if current_company.id.to_s == params[:company_id].to_s %>



                  <a href="#test-popup" id="inline-popups" data-effect="mfp-zoom-in"><%= @count_request %> Request</a>

                  <!--popup for requested individual-->
                  <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
                    <% @name.each do |name| %>
                        <%= link_to name.first_name, individual_profile_path(name.id) %>
                    <% end %>
                  </div>

              <% end %>
          <% else %>

              <button type="btn request-btn btn-info" value="Nothing"  ></button>
          <% end %>

          </br>
          <h6 class="left"><%=@applied_people %> People have already applied </h6>
        </div>
      </div>
    </div>
  </div>



  <div class="row">

    <div class="col l10 s12 z-depth-1" style=" background-color: #ffffff !important;">
      <h5>How to reach venue</h5>
      <div class="input-field col s6" style=" background-color: #ffffff !important;">
        <form>
          <input id="geocomplete-show"  placeholder="Type in an address" disabled size="90" data-remote="true" />
        </form>

      </div>
      <div class="col s12 map_canvas_show"></div>
    </div>
  </div>



</div>

<footer class="page-footer center-align">
  <div class="container">
    <div class="row">
      <div class="col l4 s12" >
        <h5 class="white-text">Lets Login</h5>
        <p class="grey-text text-lighten-4">Our vision is to find the best opportunity for every talent. Since its inception, the company aims to flourish the part-time culture in the country and set a trend. The part-time industry in India is on boom but highly disorganised and untapped</p>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text"> About </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/"> Home </a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="/about_us"> About Us </a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="/#working-how"> How it Works ?</a></li>
          <!--<li><a class="grey-text text-lighten-3" href="#!"> Team </a></li>-->
        </ul>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text"> Site Map </h5>
        <ul>
          <li><%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'All Jobs',  events_path, :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
        </ul>
      </div>
      <!--<ul class="icons" style="margin-left: 38%; color: #757575;">-->
        <!--<li><a href="https://twitter.com/Letsloginhere" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
        <!--<li><a href="https://www.facebook.com/JobzGO" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
        <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
        <!--<li><a href="in.linkedin.com/in/letslogin" class="icon fa-linkedin"><span class="label">Github</span></a></li>-->
        <!--<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
        <!--<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>-->
      <!--</ul>-->
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Lets Login  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Made with <i class="material-icons" style="padding-top:0px;">favorite</i> by <a style="color:white;" href="http://www.letslogin.in">LetsLogin Team</a>
      <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->

    </div>
  </div>
</footer>

<script>
    window.fbAsyncInit = function(){
        FB.init({
            appId: '113237559022655', status: true, cookie: true, xfbml: true });
    };
    (function(d, debug){var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if(d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id;
        js.async = true;js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
        ref.parentNode.insertBefore(js, ref);}(document, /*debug*/ false));
    function postToFeed(title, desc, url, image){
        var obj = {method: 'feed',link: url, picture: image,name: title,description: desc};
        function callback(response){}
        FB.ui(obj, callback);
    }
    $('.btnShare').click(function(){
        elem = $(this);
        postToFeed(elem.data('title'), elem.data('desc'), elem.prop('href'), elem.data('image'));

        return false;
    });

</script>