

    <div class="row" id="event-posts">

 <% @events.each do |event| %>
        <div class="col s12 m4">
      <div class="card" style="max-height: 432px;">
        <div class="card-image">
          <% if event.event_avatar_file_name.present? %>
          <%= image_tag event.event_avatar.url, :size => '260x180' %>
              <% else %>
          <img src="/assets/1.jpg"/>
          <% end %>
        </div>
        <div class="card-action-buttons icon-over-image">
      <a class="btn-floating waves-effect waves-light green accent-4"><img src="/assets/Entertainment.png" style="margin-left: 6px;"> </a>
        </div>
        <div class="card-content">
          <h5><%= link_to event.name, company_event_path(event.company.id, event.id) %>
          </h5>
          <span class="location-event">
        <i class="fa fa-map-marker"></i> <%= event.locality %>
      </span></br>
          <span class="timing-event">
            <i class="fa fa-clock-o"></i> Mon, 30 oct 2015
          </span>
        </div>

        <div class="card-action row">
      <span class="col s6">
        stars
      </span>
      <span class="col s6">
        timing
      </span>
        </div>
      </div>
    </div>

 <% end %>
  </div>
    <div class="scroll" id="infinite-scrolling" style="display: none">

      <%= will_paginate  %>

    </div>


<!--row ends-->


<script>

    $('.collapsible').collapsible({
        accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
</script>

<style>
    .icon-over-image  {

        margin-left: 78%;
        margin-top: -19px;
        height: 16px;
    }
    .scroll {
margin-left: 45%;
    }

</style>