




<%= form_for_filterrific @filterrific, :class => 'col s12' do |f| %>
    <%= render_filterrific_spinner %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field(
                    :search_query,
                    class: 'filterrific-periodically-observed validate',
                    id: 'first_name'
            ) %>

        <label for="first_name">Enter keyword</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.select(
                    :with_category_id,
                    @filterrific.select_options[:with_category_id],
                    { include_blank: '- Any -' },
                    class: 'select-filter'
            ) %>

        <label>select category</label>
      </div>
    </div>
    <%= link_to(
                'Reset filters',
                reset_filterrific_url,
        ) %>
<% end %>