<% if  params[:filterrific].nil? == false %>
<% js = escape_javascript(
  render(partial: 'events/job_list')
) %>
$("#filterrific_results").html("<%= js %>");
$('#filterrific_results').removeClass('blur');
//$('#filterrific_results').load(document.URL +  ' #filterrific_results_job');

<% end %>



<%# if  params[:filterrific].nil? == false %>
<%# js = escape_javascript(
  render(partial: 'events/job_list')
) %>
//$("#filterrific_results").html("<%#= js %>");

//$('#filterrific_results').load(document.URL +  ' #filterrific_results_job');

<%# end %>

//$('#event-posts').append('<%#= escape_javascript render 'events/job_list' %>');

//$('.pagination').replaceWith('<%#= escape_javascript will_paginate %>');
//$('.scroll').hide();

