
<%= stylesheet_link_tag 'lets_all_jobs' %>
<%= stylesheet_link_tag 'cmc_css' %>
<%= stylesheet_link_tag 'materialize' %>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">






<style>
    #header .button {
        box-shadow: none !important;
    }
    body {
        background: url("/assets/background.jpg");
    }
    .header-avatar {
        width: 36px;
        height: 33px;
        margin-bottom: -9px;
    }
    .dropdown-content {
        overflow: hidden;
    }

    .dropdown-content li {
        margin-left: -10.8%;
        width: 111%;

    }

    .collapsible-header {
        padding: 30px 20rem;

    }
    .dropdown-content li > a {
        font-size: 1rem;
        color: #fff;
        display: block;
        padding: 1rem 2rem;

    }
    .blur {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -ms-filter: blur(4px);
        -o-filter: blur(4px);
        filter: blur(4px);
    }

</style>

<style>
    nav ul a {
        font-size: 1rem;
    }
    .icon_margin {
        margin-top : 5px;
    }

    .quick{
        height: 200px;
        width: 15.666667% !important;
        float: right;
        background-color: #FFFFFF;
        z-index: 1;
        position: fixed;

    }
</style>

<%= render partial: 'shared/header_profiles' %>
<div class="container" style="width: 95% !important;">
<div class="row" style="margin-top:30px !important;">

  <div class="col l2 s12 z-depth-1" style="background: rgba(35, 46, 53, 0.89) !important">
  <div class="filter-head" >
    <i class="material-icons small" style="color: #fff; float: left;">search</i><h5 style="color: #fff; font-weight: 500 !important;">Filter Search</h5>
  </div>
    <hr>
    <div>
    <%= form_for_filterrific @filterrific do |f| %>
        <%= f.hidden_field :source , :value => 'event' %>


       <div class="row title">
         <h6 class="center-align" style="color: #fff; font-weight: 500 !important;">Title Search</h6>
         <div class="input-field col s12" style="background: #fff;">
         <%= f.text_field(
                     :search_query,
                     class: 'filterrific-periodically-observed validate',
                     id: 'first_name'
             ) %>
         <label for="first_name">Textarea</label>
       </div>
         </div>


       <div class=" row category">
         <h6 class="center-align" style="color: #fff; font-weight: 500 !important;">Category Search</h6>
         <div class="input-field col s12" style="background: #fff; height: 270px; overflow: scroll;">
         <% Category.all.each_with_index do |a, index| %>

             <%= check_box_tag("with_category_id[]", a.id, false, id: index) %>
             <label style="color: #000 !important;" for=<%= index %>  ><%= a.name %></label></br>
         <% end %>
       </div>
          </div>

          <div class=" row place">
            <h6 class="center-align" style="color: #fff; font-weight: 500 !important;">Location Search</h6>
            <div class="input-field col s12" style="background: #fff; height: 185px; overflow: scroll;">
              <p class="field">
                <%= check_box_tag("with_place[]", "Noida", false, id: "noida") %>
                <label style="color: #000 !important;" for="noida">Noida</label>
              </p>
              <p class="field">
                <%= check_box_tag("with_place[]", "Ghaziabad", false, id: "ghaziabad") %>
                <label style="color: #000 !important;" for="ghaziabad">Mumbai</label>
              </p>
              <p class="field">
                <%= check_box_tag("with_place[]", "Delhi", false, id: "delhi") %>
                <label style="color: #000 !important;" for="delhi">Delhi</label>
              </p>
            </div>
          </div>

          <div class=" row place">
            <h6 class="center-align" style="color: #fff; font-weight: 500 !important;">Type Search</h6>
            <div class="input-field col s12" style="background: #fff; height: 185px; overflow: scroll;">
              <p class="field" >
                <%= check_box_tag("with_type[]", "Fulltime", false, id: "Fulltime") %>
                <label style="color: #000 !important;" for="Fulltime">Fulltime</label>
              </p>
              <p class="field" >
                <%= check_box_tag("with_type[]", "Part-time", false, id: "Part-time") %>
                <label style="color: #000 !important;" for="Part-time">Part Time</label>
              </p>
            </div>
          </div>

        <% end %>
      </div>
  </div>


<div class="col l7 s12"  style=" margin-left: 5%;">
  <div id="filter-focus"></div>
  <div class="row">
    <div class="col l3 card offset-l2 s12 center-align hide-on-med-and-down " style="width: 60%;background: #ee6e73;color: #fff;height: 49px;">
      <h4 style="font-size: 24px;color: #fff;font-weight: 500 !important;margin-top: 10px;" ><%= params[:with_classify].present? ? params[:with_classify] : 'All'  %> Jobs</h4>
    </div>
    <div class="col s12 card  center-align hide-on-large-only " style="margin-left: -5% !important;background: #ee6e73;color: #fff;height: 49px;">
      <h4 style="font-size: 24px;color: #fff;font-weight: 500 !important;margin-top: 10px;" ><%= params[:with_classify].present? ? params[:with_classify] : 'All'  %> Jobs</h4>
    </div>
  </div>

  <div id="filter-spinner" >

    <%#= render_filterrific_spinner %>
        <span class="filterrific_spinner" style="display:none;">
          <div class="preloader-wrapper big active" style="margin-left: 25%;z-index: 99999 !important;margin-top: 14%;position: absolute;">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
            </div>
          </div>
        </span>
  </div>

  <div class="row" id="filterrific_results">



    <%= render(
                partial: 'events/job_list',

        ) %>


  </div>

</div>

</div>

  <div class="row hide" style="font-size: 3.5rem !important; background: #fff;">
<div class="col s12">
  <%= form_for_filterrific @filterrific do |f| %>
      <%= f.hidden_field :source , :value => 'event' %>
  <ul class="collapsible col s12" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Title</div>
      <div class="collapsible-body">
        <div class="input-field">
        <%= f.text_field(
            :search_query,
            class: 'filterrific-periodically-observed validate',
            id: 'first_name'
                        ) %>
        <label for="textarea1">Textarea</label>
        </div>
        </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body">
        <div class="col s12" style="background: #fff; height: 270px; overflow: scroll;">

              <% Category.all.each_with_index do |a, index| %>

                  <%= check_box_tag("with_category_id[]", a.id, false, id: a.name) %>
                  <label style="color: #000 !important;" for=<%= a.name %>  ><%= a.name %></label></br>
              <% end %>

        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
      <% end %>


</div>

  </div>




  </div>
<footer class="page-footer center-align">
  <div class="container">
    <div class="row">
      <div class="col l4 s12" >
        <h5 class="white-text">Lets Login</h5>
        <p class="grey-text text-lighten-4">Our vision is to find the best opportunity for every talent. Since its inception, the company aims to flourish the part-time culture in the country and set a trend. The part-time industry in India is on boom but highly disorganised and untapped</p>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text"> About </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/"> Home </a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="/about_us"> About Us </a></li>
          <li><a class="grey-text text-lighten-3" target="_blank" href="/#working-how"> How it Works ?</a></li>
          <!--<li><a class="grey-text text-lighten-3" href="#!"> Team </a></li>-->
        </ul>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text"> Site Map </h5>
        <ul>
          <li><%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'All Jobs',  events_path, :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
        </ul>
      </div>
      <!--<ul class="icons" style="margin-left: 38%; color: #757575;">-->
      <!--<li><a href="https://twitter.com/Letsloginhere" class="icon fa-twitter"><span class="label">Twitter</span></a></li>-->
      <!--<li><a href="https://www.facebook.com/JobzGO" class="icon fa-facebook"><span class="label">Facebook</span></a></li>-->
      <!--<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>-->
      <!--<li><a href="in.linkedin.com/in/letslogin" class="icon fa-linkedin"><span class="label">Github</span></a></li>-->
      <!--<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
      <!--<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>-->
      <!--</ul>-->
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Lets Login  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Made with <i class="material-icons" style="padding-top:0px;">favorite</i> by <a style="color:white;" href="http://www.letslogin.in">LetsLogin Team</a>
      <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->

    </div>
  </div>
</footer>

<!-- Scripts -->

<script type="text/javascript">

    $('#profile-dropdown-events').dropdown({
        belowOrigin: true

    });
    $('.collapsible').collapsible({
        accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
    $(".button-collapse").sideNav();

</script>
