
<%= stylesheet_link_tag 'materialize' %>

<%= stylesheet_link_tag 'cmc_css_profile' %>
<%= render :partial => 'shared/header' %>
<div class="row">
  <div class="col l3 card offset-l1 s12 center-align " style="width: 42.5%;margin-left: 28.7%;background: #ee6e73;color: #fff;">
    <h4 style="font-weight: 500 !important;">Job Pending</h4>
  </div>
</div>
<div class="row section scrollspy" id="description">
  <div class="col l9 col s12 offset-l2">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" style="margin-left: -4%;">
          <h4 style="font-size: 1.2rem;">Thank you for Posting a job Please wait while our team will verify , you will get a confirmation mail when your job will be active </h4>
          <p>go to your <%= link_to 'profile', company_company_profile_path(current_company) %> or see your <%= link_to 'Jobs Status',job_status_company_company_profiles_path(current_company) %></p>
        </div>
      </div>
    </section>
  </div>
</div>



