</br>
</br>
<%= stylesheet_link_tag 'style-event-filter' %>

<%= stylesheet_link_tag 'materialize' %>

<header class="cd-header">
  <h1>Search Jobs</h1>



</header>



<div class="row">
  <div class="col s12">
    <%= link_to 'Events', events_path, :class => 'btn btn-large waves-effect waves-light switch-button' %>
    <%= link_to 'Jobs', jobs_events_path, :class => 'btn btn-large waves-effect waves-light red switch-button' %>
  </div>
  <div id="test1" class="col s12">
    <%= form_for_filterrific @filterrific_job, :class => 'col s12' do |f| %>

        <%= render_filterrific_spinner %>

        <div class="col s12 m3 ">

          <div class="filter-container">
            <strong class="big-font">Filter by</strong>
            <ul class="collapsible" data-collapsible="expandable">
              <li>
                <div class="collapsible-header"><i class="fa fa-search"></i>Name</div>
                <div class="collapsible-body">
                  <div class="input-field col s12">
                    <%= f.text_field(
                                :search_query,
                                class: 'filterrific-periodically-observed validate',
                                id: 'first_name'
                        ) %>

                    <label for="first_name">Enter keyword</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-anchor"></i>Category</div>
                <div class="collapsible-body">
                  <div class="input-field col s12">
                    <% Category.all.each_with_index do |a, index| %>

                        <%= check_box_tag("with_category_id[]", a.id, false, id: index) %>
                        <label for=<%= index %> ><%= a.name %></label></br>
                    <% end %>

                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="fa fa-globe"></i>Place</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
              </li>
            </ul>

          </div>
          <%= link_to(
                      'Reset filters',
                      reset_filterrific_url,
              ) %>
        </div>
    <% end %>

    <%= render(
                partial: 'events/job_list',

        ) %>
  </div>



</div>



















<script>
    $('.select-filter').material_select();
</script>