<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>

<%= stylesheet_link_tag 'materialize' %>
<%= stylesheet_link_tag 'stepsForm' %>
<style type="text/css">
    .map_canvas {
        width: 800px;
        height: 400px;
        margin: 10px 20px 10px 0;
    }
    .map_canvas { float: left; }

    .switch-button {
        width: 49%;
    }

</style>


</br>
</br>
</br>
<br>
<br>
<br>

<div class="row">
  <%= link_to 'Events Form', new_company_event_path, :class => 'btn btn-large waves-effect waves-light switch-button' %>
  <%= link_to 'Jobs Form', new_job_company_events_path, :class => 'btn btn-large waves-effect waves-light red switch-button' %>
  </div>
<div class="row">
  <div class="col s12 m4 l8">
    <h4>Events form</h4>
  </div>
</div>
<div class="row">
<div id="form-container">

  <%= form_for [current_company, @event] do |f| %>
      <%= f.hidden_field :is_job, :value => false %>
      <div class="stepsForm">
        <form>
          <div class="sf-steps">
            <div class="sf-steps-content">
              <div>
                <span>1</span> About
              </div>
              <div>
                <span>2</span> Venue
              </div>
              <div>
                <span>3</span> Social links
              </div>
            </div>
          </div>
          <div class="sf-steps-form sf-radius">
            <ul class="sf-content"> <!-- form step one -->
              <li>
                <div class="sf_columns column_3">
                  <label>Event Name</label>
                  <%= f.text_field :name, :placeholder => 'Please Enter The Event Name', 'data-required' => 'true'  %>

                </div>
                <div class="sf_columns column_3">
                  <label>Name</label>
                  <input name="name" type="text" value="">
                </div>

              </li>
              <li>
                <div class="sf_columns column_3">
                  <%= f.text_field :event_date, :placeholder => 'Please select event date',:id => 'datepicker', 'data-required' => 'true'  %>


                </div>
                <div class="sf_columns column_3">
                  <%= f.text_field :event_time, :placeholder => 'Please select event date',:id => 'timepicker', 'data-required' => 'true'  %>
                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label class="sf-select">
                    <%= f.collection_select :category_id, @categories, :id, :name,{prompt: "Select a category"}, {class: "form-control"} %>
                    <span></span>
                  </label>
                </div>
                <!--<div class="sf_columns column_3">-->
                <!--<div class="sf-radio">-->
                <!--Gender :-->
                <!--<label><input type="radio" value="M" name="gender" data-required="true"><span></span> Male</label>-->
                <!--<label><input type="radio" value="F" name="gender" data-required="true"><span></span> Female</label>-->
                <!--</div>-->
                <!--</div>-->
              </li>
              <li>
                <div class="sf_columns column_6">
                  <div id="demo-form" class="demo-description" style="display: none; ">
                    <p>

                    </p>

                  </div>



                </div>
              </li>
              <li>
                <div class="sf_columns column_6">
                  <div class="sf-check">
                    <label><input type="checkbox" value="test" name="test" data-required="true"><span></span> By checking this box you agree that the provided information is true.</label>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="sf-content"> <!-- form step two -->
              <li>

                <div class="sf_columns column_3">
                  <label>Find Your Venue</label>
                  <%= f.text_field :find_name, :id => "geocomplete"  %> </br>

                </div>
                <div class="sf_columns column_3">
                  <a href="#" class="btn btn-large waves-effect waves-light " id="find">Show Map</a>
                  <input name="lat" type="hidden" value=""></br>
                  <%= f.hidden_field :lattitude, "fill-name" => "lat" %>
                  <%= f.hidden_field :longitude, "fill-name" => "lng" %>
                  <input name="lng" type="hidden" value=""></br>

                </div>
              </li>
              <li>
                <div class="map_canvas" id="gmap" style="display: none"></div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>Name</label>
                  <%= f.text_field :venue_name, "fill-name" => "name"  %>


                </div>
                <div class="sf_columns column_3">
                  <label>Sub Locality</label>
                  <%= f.text_field :sub_locality, "fill-name" => "sublocality"  %>


                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>Locality</label>
                  <%= f.text_field :locality, "fill-name" => "locality"  %>


                </div>
                <div class="sf_columns column_3">
                  <label>State</label>
                  <%= f.text_field :state, "fill-name" => "administrative_area_level_1"  %>


                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label>Country</label>
                  <%= f.text_field :country, "fill-name" => "country"  %>


                </div>
                <div class="sf_columns column_3">
                  <label>Country Code</label>
                  <%= f.text_field :country_code, "fill-name" => "country_short"  %>


                </div>
              <li>
                <div class="sf_columns column_3">

                  <label>Postal Code</label>
                  <%= f.text_field :postal_code, "fill-name" => "postal_code"  %>


                </div>
                <div class="sf_columns column_3">
                  <label>Formatted Address</label>
                  <%= f.text_field :full_address, "fill-name" => "formatted_address"  %>

                </div>
              </li>
            </ul>

            <ul class="sf-content"> <!-- form step tree -->
              <li>
                <div class="sf_columns column_3">
                  <%= f.text_field :event_info, :placeholder => 'Facebook Profile link' %>

                </div>
                <div class="sf_columns column_3">
                  <input type="text" placeholder="Extra">
                </div>
              </li>
              <li>
                <div class="sf_columns column_6">
                  <%= f.submit 'Submit', :class => 'sf-button' %>
                </div>
              </li>

            </ul>
          </div>

          <div class="sf-steps-navigation sf-align-right">
            <span id="sf-msg" class="sf-msg-error"></span>
            <button id="sf-prev" type="button" class="sf-button">Previous</button>
            <button id="sf-next" type="button" class="sf-button">Next</button>
          </div>

        </form>
      </div>
  <% end %>
</div>
</div>









