<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'materialize' %>
<%= render :partial => 'shared/header' %>
<%= stylesheet_link_tag 'stepsForm' %>
<%= javascript_include_tag 'bootstrap-tagsinput' %>
<style type="text/css">
    .map_canvas {
        width: 800px;
        height: 400px;
        margin: 10px 20px 10px 0;
    }
    .map_canvas { float: left; }

    .switch-button {
        width: 49%;
    }
     .bootstrap-tagsinput {
         width: 379px;
     }
    .bootstrap-tagsinput > input {
        width: 10em !important;
    }
    label {
        color: #000 !important;
    }
</style>

<div class="row" style="background: #fff !important;">
  <div id="form-container">

    <%= form_for [current_company, @event] do |f| %>
        <%= f.hidden_field :is_job, :value => true %>
        <div class="stepsForm">
          <form>
            <div class="sf-steps">
              <div class="sf-steps-content">
                <div>
                  <span>1</span> About
                </div>
                <div>
                  <span>2</span> Job Requirement
                </div>
                <div>
                  <span>3</span> Job reach
                </div>
              </div>
            </div>
            <div class="sf-steps-form sf-radius">

              <ul class="sf-content"> <!-- form step one -->
                <li>
                  <label>Type of job :</label>
                  <div class="sf-radio">
                    <label><%= f.radio_button :type_job, 'Temporary', 'data-required' => 'true' %><span></span> Temporary</label>
                    <label><%= f.radio_button :type_job, 'Part-time', 'data-required' => 'true' %><span></span> Part-time</label>
                    <label><%= f.radio_button :type_job, 'Fulltime', 'data-required' => 'true' %><span></span> Fulltime</label>
                    <label><%= f.radio_button :type_job, 'Project', 'data-required' => 'true' %><span></span> Project</label>
                  </div>
                </li>
                <li>
                  <label>This is the : </label>
                  <div class="sf-radio">
                    <label><%= f.radio_button :job_classify, 'Freelance', 'data-required' => 'true' %><span></span> Freelance Job</label>
                    <label><%= f.radio_button :job_classify, 'Corporate', 'data-required' => 'true' %><span></span> Corporate Job</label>
                    <label><%= f.radio_button :job_classify, 'Startup', 'data-required' => 'true' %><span></span> Startup Job</label>
                    <label><%= f.radio_button :job_classify, 'Event', 'data-required' => 'true' %><span></span> Event Job</label>
                  </div>
                </li>
                <li>
                  <div class="sf_columns column_3">
                    <label>Job Title</label>
                    <%= f.text_field :name, :placeholder => 'Please Enter The Job Title', 'data-required' => 'true' %>

                  </div>
                  <div class="sf_columns column_3">
                    <label>Job Category</label>
                    <label class="sf-select">
                      <%= f.collection_select :category_id, @categories, :id, :name,{prompt: "Select a category"}, {class: "form-control", 'data-required' => 'true'} %>
                      <span></span>
                    </label>
                  </div>

                </li>
                <li>

                  <div class="sf_columns column_3">
                    <label>Date of Interview(if any)</label>
                    <%= f.text_field :event_date, :placeholder => 'Please select event date',:class => 'datepicker1' %>


                  </div>
                  <script>
                      $('.datepicker1').pickadate({
                          selectMonths: true, // Creates a dropdown to control month
                          selectYears: 15 // Creates a dropdown of 15 years to control year

                      });

                  </script>
                  <div class="sf_columns column_3">
                    <label>Timings(if any)</label>
                    <%= f.text_field :event_time, :placeholder => 'Please select event date',:id => 'timepicker'  %>
                  </div>
                </li>
                <li>



                  <!--<div class="sf_columns column_3">-->
                  <!--<div class="sf-radio">-->
                  <!--Gender :-->
                  <!--<label><input type="radio" value="M" name="gender" data-required="true"><span></span> Male</label>-->
                  <!--<label><input type="radio" value="F" name="gender" data-required="true"><span></span> Female</label>-->
                  <!--</div>-->
                  <!--</div>-->
                </li>
                <li>


                    <!--<label>Select Categories you want to find people for this job</label>-->
                    <!--<%# @categories.each do |category| %>-->
                        <!--<div class="sf-check">-->
                          <!--<label><%#= check_box_tag "event[interests][]", category.id %><span></span> <%#= category.name %></label>-->

                    <!--<%# end %>-->
                    <!--</div>-->


                </li>
                <li>
                  <div class="sf_columns column_6">
                    <div class="sf-check">
                      <label><input type="checkbox" value="test" name="test" data-required="true" ><span></span> By checking this box you agree that the provided information is true.</label>
                    </div>
                  </div>
                </li>
              </ul>

              <ul class="sf-content"> <!-- form step two -->
                <li>
                  <div class="sf_columns column_3">
                    <label>Education</label>
                    <%= f.text_field :education, :placeholder => 'Please enter the Last Education', 'data-required' => 'true' %>

                  </div>
                  <div class="sf_columns column_3">
                    <label>Skills needed</label>
                    <%= f.text_field :tag_list, 'data-role'=>'tagsinput', :id => 'tags-field', 'data-required' => 'true' %>
                  </div>

                </li>
                <li>
                  <div class="sf_columns column_3">
                    <label>Gender Rquired</label>
                    <label class="sf-select">
                      <%= f.select(:gender, ['Male', 'Female', 'Both'], {include_blank: "Select Type"}, { :class => 'form-control', 'data-required' => 'true' }) %>

                      <span></span>
                    </label>
                  </div>
                  <div class="sf_columns column_3">
                    <label>Experience Required</label>
                    <%= f.text_field :experience, :placeholder => 'Experience required' %>
                  </div>

                </li>
                <li>
                  <div class="sf_columns column_3">
                    <label>No. of vacancy (if any)</label>
                    <%= f.text_field :person_req, :placeholder => 'vacancy available', 'data-required' => 'true' %>

                  </div>
                  <div class="sf_columns column_3">
                    <label>Salary offered</label>
                    <%= f.text_field :salary, :placeholder => 'Enter in rupees and time' %>
                  </div>
                </li>
                <li>
                    <label>Job Description</label>
                  <%= text_area_tag(:event_info, :text, size: '50x10') %>
                    <%# = f.text_area :event_info, :placeholder => 'Please fill all the details about this job', 'data-required' => 'true' %>

                  <script>
                      console.log($('input'));
                  </script>

                </li>
              </ul>

              <ul class="sf-content"> <!-- form step tree -->
                <li>

                  <div class="sf_columns column_3">
                    <label>Find Your Venue</label>
                    <%= f.text_field :find_name, :id => "geocomplete", 'data-required' => 'true'  %> </br>

                  </div>
                  <div class="sf_columns column_3">
                    <a href="#" class="btn btn-large waves-effect waves-light " id="find">Show Map</a>
                    <input name="lat" type="hidden" value=""></br>
                    <%= f.hidden_field :lattitude, "fill-name" => "lat" %>
                    <%= f.hidden_field :longitude, "fill-name" => "lng" %>
                    <input name="lng" type="hidden" value=""></br>

                  </div>
                </li>
                <li>
                  <div class="map_canvas" id="gmap" style="display: none"></div>
                </li>
                <li>
                  <div class="sf_columns column_3">
                    <label>Name</label>
                    <%= f.text_field :venue_name, "fill-name" => "name"  %>


                  </div>
                  <div class="sf_columns column_3">
                    <label>Sub Locality</label>
                    <%= f.text_field :sub_locality, "fill-name" => "sublocality"  %>


                  </div>
                </li>
                <li>
                  <div class="sf_columns column_3">
                    <label>Locality</label>
                    <%= f.text_field :locality, "fill-name" => "locality"  %>


                  </div>
                  <div class="sf_columns column_3">
                    <label>State</label>
                    <%= f.text_field :state, "fill-name" => "administrative_area_level_1"  %>


                  </div>
                </li>
                <li>
                  <div class="sf_columns column_3">
                    <label>Country</label>
                    <%= f.text_field :country, "fill-name" => "country"  %>


                  </div>
                  <div class="sf_columns column_3">
                    <label>Country Code</label>
                    <%= f.text_field :country_code, "fill-name" => "country_short"  %>


                  </div>
                <li>
                  <div class="sf_columns column_3">

                    <label>Postal Code</label>
                    <%= f.text_field :postal_code, "fill-name" => "postal_code"  %>


                  </div>
                  <div class="sf_columns column_3">
                    <label>Formatted Address</label>
                    <%= f.text_field :full_address, "fill-name" => "formatted_address"  %>

                  </div>
                </li>
                <li>
                  <div class="sf_columns column_3">
                    <%= f.text_field :event_info, :placeholder => 'Facebook Profile link' %>

                  </div>
                  <div class="sf_columns column_3">
                    <input type="text" placeholder="Extra">
                  </div>
                </li>
                <li>
                  <div class="sf_columns column_6">
                    <%= f.submit 'Submit', :class => 'sf-button' %>
                  </div>
                </li>

              </ul>
            </div>

            <div class="sf-steps-navigation sf-align-right">
              <span id="sf-msg" class="sf-msg-error"></span>
              <button id="sf-prev" type="button" class="sf-button">Previous</button>
              <button id="sf-next" type="button" class="sf-button">Next</button>
            </div>

          </form>
        </div>
    <% end %>
  </div>
</div>









