
<%= stylesheet_link_tag 'materialize' %>
<%= stylesheet_link_tag 'font-awesome.min' %>


<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<style>
    .circle-cmc{
    height: 100px;
    width: 100px;
    background-color: #e0e0e0;
    border-radius: 50px;
}
    nav ul a {
         font-size: .9rem;
     }

        body {
            font-size: .9rem;
        }


</style>

<style type="text/css">

    .map_canvas_show {
        width: 800px;
        height: 400px;
        margin: 10px 20px 10px 0;
    }
    .map_canvas { float: left; }




</style>
<%= render partial: 'shared/header' %>
<% if @event.job_status != 'pending' || params[:inspect_event].present? %>
    <% if @event.is_job == true %>
        <%= render 'job_page' %>
    <% else %>
<div class="container">
  <div class="row " style="margin-top:30px !important;">
    <div class="col l7 z-depth-1" style="background-color:#ffffff;">
      <h4>This is the Event name</h4><h5> Part Time</h5>
      <ul>
        <li class="divider"></li>
        <li style="margin-top:10px;">By company ABC</li>
        <li>New Delhi SS</li>
        <li>Posted on 24th sep 15 SSS</li>
      </ul>
    </div>
    <div class="col l4 offset-l1 z-depth-1 " style="background-color:white; padding:20px !important">
      <div class="circle-cmc circle left "></div>
      <div class="right"><h5>google india </h5><h6> part time </h6></div>
    </div>
  </div>

  <div class="row">

    <div class="col l7 z-depth-1" style="background-color:#ffffff;">
      <h5>Job Description</h5>
      <table class="striped">
        <thead>
        <tr>
          <th data-field="id">Name</th>
          <th data-field="name">Item Name</th>
          <th data-field="price">Item Price</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
        </tr>
        <tr>
          <td>Alan</td>
          <td>Jellybean</td>
          <td>$3.76</td>
        </tr>
        <tr>
          <td>Jonathan</td>
          <td>Lollipop</td>
          <td>$7.00</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col l4 offset-l1 z-depth-1" style="background-color: #ffffff !important; padding: 20px;">
      <button class="btn left waves-effect waves-light" type="submit" name="action">Apply Now
        <i class="material-icons right">send</i>
      </button>
      <h6 class="right">5 Request </h6>
      <p class="right">6 people have already applied </p>
    </div>
  </div>

  <div class="row">

    <div class="col l7 z-depth-1" style="margin-right:0px !important;background-color:#ffffff;">
      <h5>Detailed Description</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>
    <div class="col l4 offset-l1 z-depth-1" style=" background-color: #ffffff !important;">
      <h5>Side Widget Well</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>
  </div>

  <div class="row z-depth-1" style=" background-color: #ffffff !important;">

    <div class="col l7" style=" background-color: #ffffff !important;">
      <h5>How to reach venue</h5>
      <div class="input-field col s6" style=" background-color: #ffffff !important;">
        <input  id="first_name2" type="text" class="validate">
        <label for="first_name2">First Name</label>
      </div>
    </div>
  </div>

</div>

<footer class="page-footer center-align">
  <div class="container">
    <div class="row">
      <div class="col l4 s12" >
        <h5 class="white-text">Lets Login</h5>
        <p class="grey-text text-lighten-4">Our vision is to find the best opportunity for every talent. Since its inception, the company aims to flourish the part-time culture in the country and set a trend. The part-time industry in India is on boom but highly disorganised and untapped</p>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text"> About </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/"> Home </a></li>
          <li><a class="grey-text text-lighten-3" href="/"> About Us </a></li>
          <li><a class="grey-text text-lighten-3" href="/"> How to Work </a></li>
          <li><a class="grey-text text-lighten-3" href="#!"> Team </a></li>
        </ul>
      </div>
      <div class="col l3 offset-l1 s12">
        <h5 class="white-text"> Site Map </h5>
        <ul>
          <li><%= link_to 'Freelance Jobs',  with_classify_path('Freelance'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Corporate Jobs',  with_classify_path('Corporate'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Startup Jobs',  with_classify_path('Startup'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'Event Jobs',  with_classify_path('Event'), :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'All Jobs',  events_path, :target => '_blank', :class => 'grey-text text-lighten-3' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Lets Login  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Made with <i class="material-icons" style="padding-top:0px;">favorite</i> by <a style="color:white;" href="http://www.creativemammoth.com">LetsLogin Team</a>
      <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
      <ul class="icons">
        <li><a href="https://twitter.com/Letsloginhere" class="icon fa-twitter"><i class="icon fa fa-twitter"> </i></a></li>
        <li><a href="https://www.facebook.com/weloggedin/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="in.linkedin.com/in/letslogin" class="icon fa-linkedin"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
      </ul>
    </div>
  </div>
</footer>

    <% end %>
<% else%>
    <div class="row section scrollspy" id="description" style="background: #fff">
      <div class="col l9 col s12 offset-l2">

        <section>
          <div class="row">
            <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" style="margin-left: -4%;background: #fff">
              <h5 style="">This job has not yet been approved </h5>

            </div>
          </div>
        </section>
      </div>
    </div>
<% end %>

<!--Import jQuery before materialize.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

<script type="text/javascript">
//    $(document).ready(function(){
//
//
////        $(".button-collapse").sideNav();
//
//    });

    var options = {
        map: ".map_canvas_show",
        location: "<%= @event.find_name %>"
    };

    $("#geocomplete-show").geocomplete(options);
</script>
