</br>
</br>
</br>

<%= stylesheet_link_tag 'bootstrap' %>

<div class="container" style="width: 95%;">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h3 class="page-header">
        <%= @event.name %>
        <small>Part-time</small>
      </h3>
      <!-- First Blog Post -->
      <p class="lead">
        by <%= link_to @event.company.company_profile.company_name, company_company_profile_path(@event.company.company_profile) %>
      </p>
      <i class="fa fa-map-marker"></i> <span> <%= @event.locality %></span>
      <p><i class="fa fa-clock-o"></i> Posted on <%= @event.created_at.strftime("%B %d, %Y") %></p>
      <hr>
      <h2><small>Job Description</small></h2>
      <div class="well">
        <table class="table table-striped">
          <tbody>
          <tr>
            <td>Type of job</td>
            <td><%= @event.type_job %></td>
          </tr>
          <tr>
            <td>No. of vacancy</td>
            <td><%= @event.person_req %></td>
          </tr>
          <tr>
            <td>Education</td>
            <td><%= @event.education %></td>
          </tr>
          <tr>
            <td>salary</td>
            <td><%= @event.salary %> </td>
          </tr>
          <tr>
            <td>Gender Required</td>
            <td><% if @event.gender == 'Both' %><%= 'Male and female' %><% else %><%= @event.gender %><% end %></td>
          </tr>
          </tbody>
        </table>
      </div>


      <h2><small>Detailed Description</small></h2>
      <% if company_signed_in? && @event.company_id == current_company.id %>
          <%=  link_to "edit info", "#", :id => 'update-click', :class=>".btn-success", :remote => true %>
      <% end %>
      <div class="well">
        <div id="update-info-show"  >
          <p> <%= raw(@event.event_info) %> </p>
        </div>
      </div>
      <div id="update-info-update" style="display: none">

      </div>

      <script type="text/javascript">

          $('#update-click').click(function() {

              $("#update-info-show").hide();
              $("#update-click").hide();
              $('#update-info-update').show();

              $("#update-info-update").html("<%=j render :partial => 'event_info' %>");
              $('.ckeditor').ckeditor({
                  // optional config

              });
          });
      </script>

      <hr>
      <h2><small>How To Reach the Venue</small></h2>

      <form>
        <input id="geocomplete-show" type="text" placeholder="Type in an address" size="90" data-remote="true" />
      </form>
      <div class="map_canvas_show"></div>

      <hr>

      <!-- Third Blog Post -->

      <hr>

      <hr>


      <hr>

      <!-- Pager -->


    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Blog Search Well -->
      <div class="well">
        <div class="row" style="margin-left: 25%;">
          <% if @event.company.company_profile.company_avatar_file_name.nil? %>
              No Image
          <% else %>
              <%= image_tag @event.company.company_profile.company_avatar.url, :class => 'img-circle', :style=> 'height: 100px; width: 100px; margin-left: 11%;' %>
          <% end %>
          <h3><%= link_to @event.company.company_profile.company_name, company_company_profile_path(@event.company.company_profile) %></h3>
        </div>
        <!-- /.input-group -->
      </div>

      <!-- Blog Categories Well -->
      <div class="well">

        <div class="row">
          <div class="col-lg-6">
            <% if individual_signed_in? %>
                <% if @request_presence.present?  %>
                    <% if @find_req.status == "inprocess" %>
                        <input type="button" value="Request Sent" class="btn request-btn btn-info disabled "  >
                    <% elsif @find_req.status == "onhold"  %>
                        <input type="button" value="onhold" class="btn request-btn btn-info disabled">
                    <% elsif @find_req.status == "approved" %>
                        <input type="button" value="Approved " class="btn request-btn btn-info disabled"  >
                    <% else %>
                        <input type="button" value="Declined" class="btn request-btn btn-info disabled"  >
                    <% end %>
                <% else %>
                    <%= form_for @request_event, :url => {:action => "request_create"} do|f| %>
                        <%= f.hidden_field :event_id, :value => params[:id] %>
                        <%= f.hidden_field :individual_id, :value => current_individual.id %>
                        <%= f.hidden_field :company_id, :value => params[:company_id] %>
                        <input type="submit" value="Apply Now" class="btn request-btn btn-info" value="Submit Button">

                    <% end %>
                <% end %>
            <% elsif  company_signed_in? %>
                <% if current_company.id.to_s == params[:company_id].to_s %>



                    <a href="#test-popup" id="inline-popups" data-effect="mfp-zoom-in"><%= @count_request %> Request</a>

                    <!--popup for requested individual-->
                    <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
                      <% @name.each do |name| %>
                          <%= link_to name.first_name, individual_profile_path(name.id) %>
                      <% end %>
                    </div>

                <% end %>
            <% else %>

                <button type="btn request-btn btn-info" value="Nothing"  ></button>
            <% end %>
          </div>
          <!-- /.col-lg-6 -->
          <div class="row">

          </div>
          <!-- /.col-lg-6 -->
        </div>
        <%=@applied_people %> People have already applied
      </div>

      <!-- Side Widget Well -->
      <div class="well">
        <h4>Side Widget Well</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
      </div>

    </div>

  </div>
</div>


