<%= stylesheet_link_tag 'bootstrap' %>
<%#= stylesheet_link_tag 'prettyPhoto' %>
<%= stylesheet_link_tag 'main-gallery' %>
<%= stylesheet_link_tag 'event-style' %>


<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<style type="text/css">

    .map_canvas_show {
        width: 800px;
        height: 400px;
        margin: 10px 20px 10px 0;
    }
    .map_canvas { float: left; }




</style>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #ee6e73" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" style="float: right; color: #fff !important;">
        <% if individual_signed_in?  %>
            <li><%= link_to "Home", root_path, :class => 'header-link', :style => 'color: #fff' %></li>
            <li><%= link_to "Profile", individual_profile_path(current_individual), :class => 'header-link', :style => 'color: #fff' %></li>
            <li><%#= link_to 'Edit profile', edit_individual_registration_path, :class => 'header-link' %></li>
            <li><%= link_to "log out", destroy_individual_session_path, method:  :delete, :class => 'header-link', :style => 'color: #fff' %></li>
        <% elsif company_signed_in? %>
            <li><%= link_to "Home", root_path, :class => 'header-link' %></li>
            <li><%= link_to "Profile", company_company_profile_path(current_company), :class => 'header-link', :style => 'color: #fff' %></li>
            <li><%#= link_to 'Edit profile', edit_company_registration_path, :class => 'header-link' %></li>
            <li><%= link_to "log out", destroy_company_session_path, method:  :delete, :class => 'header-link', :style => 'color: #fff' %></li>
        <% else %>
            <li><%= link_to "login(individual)", new_individual_session_path, :class => 'header-link', :style => 'color: #fff' %></li>
            <li><%= link_to "login(company)", new_company_session_path, :class => 'header-link', :style => 'color: #fff' %></li>
        <% end %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<% if @event.job_status != 'pending' %>
    <% if @event.is_job == true %>
        <%= render 'job_page' %>
    <% else %>

        <div class="container">
          <div class="row">
            <div class="col-md-8">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li role="presentation" class="active"><a href="#about" aria-controls="home" role="tab" data-toggle="tab">About</a></li>
                <li role="presentation"><a href="#images" aria-controls="profile" role="tab" data-toggle="tab">Images</a></li>
                <li role="presentation"><a href="#videos" aria-controls="messages" role="tab" data-toggle="tab">Videos</a></li>
                <li role="presentation"><a href="#contact" aria-controls="settings" role="tab" data-toggle="tab">Contact</a></li>
              </ul>


              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="about">

                  <!--Cover image starts-->


                  <% if @event.event_avatar_file_name.nil? %>
                      <a href="#test-popup" id="inline-popups" class="image avatar img-responsive" data-effect="mfp-zoom-in"><img src="/assets/upload-cover.png" class="event-avatar" alt="" /></a>
                  <% else %>
                      <a href="#test-popup" id="inline-popups" class="image avatar img-responsive" data-effect="mfp-zoom-in"> <%= image_tag @event.event_avatar.url, :class => 'event-avatar' %></a>
                  <% end %>
                  <div id="test-popup" class="white-popup mfp-with-anim mfp-hide">
                    <%= form_for @event, :url => { :action => "update"} do |avatar| %>
                        <%= avatar.file_field :event_avatar %>
                        <%= avatar.submit 'Update Picture' %>
                    <% end %>
                  </div>


                  <div id="update-cover" style="display: none">
                    <%= form_for @event, :url => { :action => "update"} do |avatar| %>
                        <%= avatar.file_field :event_avatar %>
                        <%= avatar.submit 'Update Picture' %>
                    <% end %>
                  </div>

                  <script type="text/javascript">
                      $('#update-click').click(function() {

                          $("#update-info-show").hide();
                          $("#update-click").hide();
                          $('#update-info-update').show();

                          $("#update-info-update").html("<%=j render :partial => 'event_info' %>");
                          $('.ckeditor').ckeditor({
                              // optional config

                          });
                      });
                      $("#new-video-form").show();
                      $("#new-video-click").click(function(){

                          $("#new-video-form").show();
                      });




                  </script>

                  <!--cover image ends-->


                  <p class="lead">
                  <h1 class="page-header">
                    <%= @event.name %>
                  </h1>
                  by <%= link_to @event.company.company_profile.company_name, company_company_profile_path(@event.company.company_profile) %>
                  </p>
                  <i class="fa fa-map-marker"></i> <span> <%= @event.locality %></span>
                  <p><i class="fa fa-clock-o"></i> Posted on August 28, 2013 at 10:00 PM</p>
                  <hr>
                  <h2><small>Event Description</small></h2>
                  <div class="well">
                    <table class="table table-striped">
                      <tbody>
                      <tr>
                        <td>type of Event</td>
                        <td><%= @event.category.name if @event.category.present? %></td>
                      </tr>
                      <tr>
                        <td>Place</td>
                        <td><%= @event.find_name %></td>
                      </tr>
                      <tr>
                        <td>timing</td>
                        <td>8:00 am to 11 pm </td>
                      </tr>
                      <tr>
                        <td>Ticket available</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Gender Required</td>
                        <td>Male and Female </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <h2><small>Detailed Description</small></h2>
                  <%=  link_to "edit info", "#", :id => 'update-click', :class=>".btn-success", :remote => true %>
                  <div class="well">
                    <div id="update-info-show"  >
                      <p> <%= raw(@event.event_info) %> </p>
                    </div>
                  </div>
                  <div id="update-info-update" style="display: none">
                  </div>
                  <script type="text/javascript">

                      $('#update-click').click(function() {

                          $("#update-info-show").hide();
                          $("#update-click").hide();
                          $('#update-info-update').show();

                          $("#update-info-update").html("<%=j render :partial => 'event_info' %>");
                          $('.ckeditor').ckeditor({
                              // optional config

                          });
                      });
                  </script>

                  <hr>
                  <h2><small>How To Reach the Venue</small></h2>

                  <form>
                    <input id="geocomplete-show" type="text" placeholder="Type in an address" size="90" data-remote="true" />
                  </form>
                  <div class="map_canvas_show"></div>

                  <hr>

                </div>

                <div role="tabpanel" class="tab-pane fade" id="images">


                  <ul class="thumbnails">
                    <li class="span3">
                      <a class="thumbnail" rel="lightbox[group]" href="/assets/1.jpg"><img class="group1" src="/assets/1.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                      <a class="thumbnail" rel="lightbox[group]" href="/assets/2.jpg"><img class="group1" src="/assets/2.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                      <a class="thumbnail" rel="lightbox[group]" href="/assets/3.jpg"><img class="group1" src="/assets/3.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                      <a class="thumbnail" rel="lightbox[group]" href="/assets/4.jpg"><img class="group1" src="/assets/4.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                      <a class="thumbnail" rel="lightbox[group]" href="/assets/5.jpg"><img class="group1" src="/assets/5.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                      <a class="thumbnail" rel="lightbox[group]" href="/assets/6.jpg"><img class="group1" src="/assets/6.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                      <a class="thumbnail" rel="lightbox[group]" href="/assets/7.jpg"><img class="group1" src="/assets/7.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                    <li class="span3">
                      <a class="thumbnail" rel="lightbox[group]" href="/assets/8.jpg"><img class="group1" src="/assets/8.jpg" title="Image Title" /></a>
                    </li> <!--end thumb -->
                  </ul><!--end thumbnails -->
                  <script>

                      $("[rel^='lightbox']").prettyPhoto();
                  </script>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="videos">


                  <div id="new-video-form" %>
                    <%= form_tag (videos_path(@event)), method: :post do %>
                        <%= hidden_field_tag :event_id, params[:id] %>
                        <%= text_field_tag :link %>
                        <%= button_tag "create video", :type => 'submit' %>
                    <% end %>
                  </div>
                  <% @video.each do |f| %>
                      <div class="lazyYT event-youtube" data-youtube-id="<%= youtube_embed(f.link) %>" data-ratio="16:9">see on youtube</div>
                  <% end %>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="contact">Contact</div>


              </div> <!-- tab content-->

            </div>





            <!--about page ends-->




            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

              <!-- Blog Search Well -->
              <div class="well">
                <h4>company avatar</h4>
                <a href="#test-popup" class="image avatar"> <%= image_tag @event.company.company_profile.company_avatar.url, :class => ' company-avatar'  %></a>
                <!-- /.input-group -->
              </div>

              <!-- Blog Categories Well -->
              <div class="well">
                <h4>Event Stats</h4>
                <div class="row">
                  <div class="col-lg-6">
                    <div id="followed-count">
                      <i class="fa fa-users fa-2x"></i>  <%= @event.followers_count %> followers</div> </br>

                    <!--follow_unfollow-->
                    <div id="follow-button">
                      <% if individual_signed_in? %>
                          <% if current_individual.following?(@event) %>
                              <%= form_tag (unfollow_event_company_event_path), :remote => true, :id => 'unfollow-form' do  %>
                                  <%= button_tag 'unfollow', :type => 'submit', :class => 'btn btn-info' %>
                              <% end %>
                          <% else %>
                              <%= form_tag (follow_event_company_event_path), :remote => true, :id => 'follow-form' do  %>
                                  <%= button_tag 'follow', :type => 'submit', :class => 'btn btn-info' %>
                              <% end %>
                          <% end %>
                      <% elsif company_signed_in? %>
                          <% if current_company.following?(@event) && @event.company_id != current_company.id %>
                              <%= form_tag (unfollow_event_company_event_path), :remote => true, :id => 'unfollow-form' do  %>
                                  <%= button_tag 'unfollow', :type => 'submit', :class => 'btn btn-info' %>
                              <% end %>
                          <% elsif @event.company_id == current_company.id %>
                          <% else %>
                              <%= form_tag (follow_event_company_event_path), :remote => true, :id => 'follow-form' do  %>
                                  <%= button_tag 'follow', :type => 'submit', :class => 'btn btn-info' %>
                              <% end %>
                          <% end %>
                      <% else %>
                          please sign in to follow
                      <% end %>
                    </div>
                  </div>
                  <!-- /.col-lg-6 -->
                  <div class="col-lg-6">
                    <ul class="list-unstyled">
                      <li><a href="#">Category Name</a>
                      </li>
                      <li><a href="#">Category Name</a>
                      </li>
                      <li><a href="#">Category Name</a>
                      </li>
                      <li><a href="#">Category Name</a>
                      </li>
                    </ul>
                  </div>
                  <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->
              </div>

              <!-- Side Widget Well -->
              <div class="well">
                <h4>Side Widget Well</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
              </div>

            </div>

          </div>
        </div>






    <% end %>
<% else%>
    this job is not yet approved
<% end %>

<script>
    var options = {
        map: ".map_canvas_show",
        location: "<%= @event.find_name %>"
    };

    $("#geocomplete-show").geocomplete(options);


    $('#inline-popups').magnificPopup({

        removalDelay: 500, //delay removal by X to allow out-animation
        callbacks: {
            beforeOpen: function() {
                this.st.mainClass = this.st.el.attr('data-effect');
            }
        },
        midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
    });

</script>


<style>
    /* text-based popup styling */
    .white-popup {
        position: relative;
        background: #FFF;
        padding: 25px;
        width: auto;
        max-width: 400px;
        margin: 0 auto;
    }

    /*

    ====== Zoom effect ======

    */
    .mfp-zoom-in {
        /* start state */
        /* animate in */
        /* animate out */
    }
    .mfp-zoom-in .mfp-with-anim {
        opacity: 0;
        transition: all 0.2s ease-in-out;
        transform: scale(0.8);
    }
    .mfp-zoom-in.mfp-bg {
        opacity: 0;
        transition: all 0.3s ease-out;
    }
    .mfp-zoom-in.mfp-ready .mfp-with-anim {
        opacity: 1;
        transform: scale(1);
    }
    .mfp-zoom-in.mfp-ready.mfp-bg {
        opacity: 0.8;
    }
    .mfp-zoom-in.mfp-removing .mfp-with-anim {
        transform: scale(0.8);
        opacity: 0;
    }
    .mfp-zoom-in.mfp-removing.mfp-bg {
        opacity: 0;
    }

</style>