<%= stylesheet_link_tag 'stepsForm' %>
<%= javascript_include_tag 'stepsForm'%>
<br>
<br>
<br>
<div id="form-container">

  <%= form_for @project do |f| %>
      <div class="stepsForm" >
        <form>
          <div class="sf-steps">
            <div class="sf-steps-content">
              <div>
                <span>1</span> Profile
              </div>
              <div>
                <span>2</span> Contact
              </div>
              <div>
                <span>3</span> Social links
              </div>
            </div>
          </div>
          <div class="sf-steps-form sf-radius">

            <ul class="sf-content"> <!-- form step one -->
              <li>
                <div class="sf_columns column_3">
                  <%= f.text_field :name, :placeholder => 'Please Enter the project name', 'data-required' => 'true'  %>

                </div>
                <div class="sf_columns column_3">
                  <label class="sf-select">
                    <%= f.select :type_project, :collection => Project.type_projects.keys.to_a %>
                    <%#= f.collection_select :category_id, @categories, :id, :name,{prompt: "Select a category"}, {class: "form-control"} %>
                    <span></span>
                  </label>
                </div>
                <div class="sf_columns column_3">
                  <%#= f.text_field :last_name, :placeholder => 'Please Enter Your Last Name', 'data-required' => 'true'  %>
                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <label class="sf-select">
                    <select name="country" data-required="true">
                      <option value="" selected="selected" >Select country...</option>
                      <option value="de">Germany</option>
                      <option value="en">England</option>
                      <option value="us">United States</option>
                      <option value="tr">Turkey</option>
                      <option value="jp">Japan</option>
                    </select>
                    <span></span>
                  </label>
                </div>
                <div class="sf_columns column_3">
                  <div class="sf-radio">
                    Gender :
                    <label><input type="radio" value="M" name="gender" data-required="true"><span></span> Male</label>
                    <label><input type="radio" value="F" name="gender" data-required="true"><span></span> Female</label>
                  </div>
                </div>
              </li>
              <li>
                <div class="sf_columns column_6">
                  <textarea placeholder="Address" name="address"></textarea>
                </div>
              </li>
              <li>
                <div class="sf_columns column_6">
                  <div class="sf-check">
                    <label><input type="checkbox" value="test" name="test" data-required="true"><span></span> By checking this box you agree that the provided information is true.</label>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="sf-content"> <!-- form step two -->
              <li>
                <div class="sf_columns column_3">
                  <input type="text" placeholder="Username" data-required="true">
                </div>
                <div class="sf_columns column_3">
                  <input type="text" placeholder="Email" data-required="true" data-email="true">
                </div>
              </li>
              <li>
                <div class="sf_columns column_3">
                  <input type="password" placeholder="Password" data-required="true" data-confirm="true">
                </div>
                <div class="sf_columns column_3">
                  <input type="password" placeholder="Confirm Password" data-required="true" data-confirm="true">
                </div>
              </li>
            </ul>

            <ul class="sf-content"> <!-- form step tree -->
              <li>
                <div class="sf_columns column_3">
                  <%#= f.text_field :facebook_profile, :placeholder => 'Facebook Profile link' %>

                </div>
                <div class="sf_columns column_3">
                  <input type="text" placeholder="Extra">
                </div>
              </li>
              <li>
                <div class="sf_columns column_6">
                  <div class="sf-check">
                    <label><input checked type="checkbox" value="true" name="accept"><span></span> Lorem Ipsum is simply dummy text of the printing and typesetting industry</label>
                  </div>
                </div>
              </li>
              <%= f.submit 'Submit', :class => 'sf-button' %>
            </ul>
          </div>

          <div class="sf-steps-navigation sf-align-right">
            <span id="sf-msg" class="sf-msg-error"></span>
            <button id="sf-prev" type="button" class="sf-button">Previous</button>
            <button id="sf-next" type="button" class="sf-button">Next</button>
          </div>

        </form>
      </div>
  <% end %>
</div>