<%= stylesheet_link_tag 'login' %>


<%= javascript_include_tag 'signup'%>
<%= stylesheet_link_tag 'materialize' %>
<style>
    html {
        background: #e7e7e7;
    }
    body {
        background-color: #e7e7e7;

    }
    nav ul a {
        font-size: 1.5rem;
    }
</style>

<%= render :partial => 'shared/header' %>
<%= devise_error_messages! %>

<div class="logmod__wrapper">
  <!--<span class="logmod__close">Close</span>-->
  <div class="logmod__container">
    <ul class="logmod__tabs">
      <li data-tabtar="lgm-2"><a href="#">Login</a></li>
      <li data-tabtar="lgm-1"><a href="#">Sign Up</a></li>
    </ul>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="logmod__tab-wrapper">
          <div class="logmod__tab lgm-1">
            <div class="logmod__heading">
              <span class="logmod__heading-subtitle">Enter your personal details <strong>to create an acount</strong></span>
            </div>
            <div class="logmod__form">

              <form accept-charset="utf-8" action="#" class="simform">
                <div class="sminputs">

                  <div class="input full">
                    <label class="string optional" for="user-name">Email*</label>
                    <%= f.email_field :email, :class => 'string optional', :id => 'user-email', :placeholder => 'Email' %>
                  </div>
                </div>
                <div class="sminputs">
                  <div class="input string optional">
                    <label class="string optional" for="user-pw">Password *</label>
                    <%= f.password_field :password, :class => 'string optional', :id => 'user-pw', :placeholder => 'Password' %>

                  </div>
                  <div class="input string optional">
                    <label class="string optional" for="user-pw-repeat">Repeat password *</label>
                    <%= f.password_field :password_confirmation, :class => 'string optional', :id => 'user-pw-repeat', :placeholder => 'Repeat Password' %>
                  </div>
                </div>
                <div class="simform__actions">
                  <%= f.submit "Sign up", :class => 'sumbit' %>
                  <span class="simform__actions-sidetext">By creating an account you agree to our <a class="special" href="#" target="_blank" role="link">Terms & Privacy</a></span>
                </div>
              </form>
            </div>
            <div class="logmod__alter">
              <div class="logmod__alter-container">
                <!--<a href="#" class="connect facebook">-->
                <!--<div class="connect__icon">-->
                <!--<i class="fa fa-facebook"></i>-->
                <!--</div>-->
                <!--<div class="connect__context">-->
                <!--<span>Create an account with <strong>Facebook</strong></span>-->
                <!--</div>-->
                <!--</a>-->

                <!--<a href="#" class="connect googleplus">-->
                <!--<div class="connect__icon">-->
                <!--<i class="fa fa-google-plus"></i>-->
                <!--</div>-->
                <!--<div class="connect__context">-->
                <!--<span>Create an account with <strong>Google+</strong></span>-->
                <!--</div>-->
                <!--</a>-->
              </div>
            </div>
    <% end %>

    <%#= render "companies/shared/links" %>
    </div>
    <div class="logmod__tab lgm-2">
      <div class="logmod__heading">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <span class="logmod__heading-subtitle">Enter your email and password <strong>to sign in</strong></span>
            </div>
            <div class="logmod__form">
              <form accept-charset="utf-8" action="#" class="simform">
                <div class="sminputs">
                  <div class="input full">
                    <label class="string optional" for="user-name">Email*</label>
                    <%= f.email_field :email, :class => 'string optional', :id => 'user-email', :placeholder => 'Email' %>
                  </div>
                </div>
                <div class="sminputs">
                  <div class="input full">
                    <label class="string optional" for="user-pw">Password *</label>
                    <%= f.password_field :password, autocomplete: "off", :class => 'string optional', :id => 'user-pw', :placeholder => 'Password' %>
                    <span class="hide-password">Show</span>
                  </div>
                  <% if devise_mapping.rememberable? -%>
                      <div style="padding-left: 20px;">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                  <% end -%>
                </div>
                <div class="simform__actions">
                  <%= f.submit "Log in", :class => 'sumbit', :name => 'commit' %>
                  <span class="simform__actions-sidetext"><%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'special' %><br /></span>
                </div>
              </form>
            </div>
            <div class="logmod__alter">
              <div class="logmod__alter-container">
                <!--<a href="#" class="connect facebook">-->
                <!--<div class="connect__icon">-->
                <!--<i class="fa fa-facebook"></i>-->
                <!--</div>-->
                <!--<div class="connect__context">-->
                <!--<span>Sign in with <strong>Facebook</strong></span>-->
                <!--</div>-->
                <!--</a>-->
                <!--<a href="#" class="connect googleplus">-->
                <!--<div class="connect__icon">-->
                <!--<i class="fa fa-google-plus"></i>-->
                <!--</div>-->
                <!--<div class="connect__context">-->
                <!--<span>Sign in with <strong>Google+</strong></span>-->
                <!--</div>-->
                <!--</a>-->
              </div>
            </div>
        <% end %>
        </div>
    </div>
  </div>
</div>
