<%= stylesheet_link_tag 'login' %>
<%= javascript_include_tag 'signup'%>
<%= stylesheet_link_tag 'materialize' %>

<style>
    html {
        background: #f6cbbc;
    }
    body {
        background-color: #f6cbbc;

    }
    nav ul a {
        font-size: 1.5rem;
    }
</style>

<%= render :partial => 'shared/header' %>

<div class="row">
  <div class="col l3 card offset-l1 s12 center-align " style="width: 42.5%;margin-left: 28.7%;background: #ee6e73;color: #fff;">
    <h5>Forgot Password</h5>
  </div>
</div>




<div class="logmod__wrapper">
  <!--<span class="logmod__close">Close</span>-->
  <div class="logmod__container" style="margin-top: -119px !important;">
    <ul class="logmod__tabs">
      <li data-tabtar="lgm-2"><a style="width: 100%;" href="#">Please Enter Your Email</a></li>
      <!--<li data-tabtar="lgm-1"><a href="#">Sign Up</a></li>-->
    </ul>


        <div class="logmod__tab-wrapper">

    <div class="logmod__tab lgm-2">
      <div class="logmod__heading">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <!--<span class="logmod__heading-subtitle">Enter your email and password <strong>to sign in</strong></span>-->
            </div>
            <div class="logmod__form">
              <form accept-charset="utf-8" action="#" class="simform">
                <div class="sminputs">
                  <div class="input full">
                    <label class="string optional" for="user-name">Email*</label>
                    <%= f.email_field :email, :class => 'string optional', :id => 'user-email', :placeholder => 'Email' %>
                  </div>
                </div>

                <div class="simform__actions">
                  <%= f.submit "Send me reset password instructions", :class => 'sumbit', :style => 'width: 70%', :name => 'commit' %>

                </div>
              </form>
            </div>
            <div class="logmod__alter">
              <div class="logmod__alter-container">
                <!--<a href="#" class="connect facebook">-->
                <!--<div class="connect__icon">-->
                <!--<i class="fa fa-facebook"></i>-->
                <!--</div>-->
                <!--<div class="connect__context">-->
                <!--<span>Sign in with <strong>Facebook</strong></span>-->
                <!--</div>-->
                <!--</a>-->
                <!--<a href="#" class="connect googleplus">-->
                <!--<div class="connect__icon">-->
                <!--<i class="fa fa-google-plus"></i>-->
                <!--</div>-->
                <!--<div class="connect__context">-->
                <!--<span>Sign in with <strong>Google+</strong></span>-->
                <!--</div>-->
                <!--</a>-->
              </div>
            </div>
        <% end %>
        </div>
    </div>
  </div>
</div>






<!--<h2>Forgot your password?aaa</h2>-->

<!--<%#= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>-->
  <!--<%#= devise_error_messages! %>-->

  <!--<div class="field">-->
    <%#= f.label :email %><br />
    <!--<%#= f.email_field :email, autofocus: true %>-->
  <!--</div>-->

  <!--<div class="actions">-->
    <!--<%#= f.submit "Send me reset password instructions" %>-->
  <!--</div>-->
<!--<%# end %>-->

<!--<%#= render "companies/shared/links" %>-->
