<%= stylesheet_link_tag 'mainwelcome' %>
<%= stylesheet_link_tag 'cmc_css_profile' %>


<div class="row section scrollspy" id="description">
  <div class="col s12">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" id="description">
          <h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;"> Description </h5>
          <h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> Description </h5>
          <table id="campaigns-datatable" class="datatable table-striped" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th class="text-left">Name</th>
              <th class="text-left">type</th>
              <th class="text-left">phone</th>
              <th class="text-left">email</th>
            </tr>
            </thead>
            <tbody>
            <% @profiles.each do |p| %>
            <tr>
              <td class="text-left"><%= p.first_name %> <%= p.last_name %></td>
              <td class="text-left"><%= p.category.name unless p.category.blank? %></td>
              <td class="text-left"><%= p.contact_no %></td>
              <td class="text-left"><%= p.individual.email unless p.individual.blank? %></td>
            </tr>
                <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="row">



    </div>