<%= stylesheet_link_tag 'mainwelcome' %>
<%= stylesheet_link_tag 'cmc_css_profile' %>


<div class="row section scrollspy" id="description">
  <div class="col s12">

    <section>
      <div class="row">
        <div class="col l11 offset-l1 col s12 z-depth-2 des-cmc" id="description">
          <h5 class="center-align align-cmc2 hide-on-med-and-down left_td" style="font-size: 2rem;"> Jobs </h5>
          <h5 class="center-align hide-on-large-only left_td" style="font-size: 2rem;"> Jobs </h5>
          <table id="campaigns-datatable" class="datatable table-striped" cellspacing="0" width="100%">
            <thead>
            <tr>
              <th class="text-left">Name</th>
              <th class="text-left">company name</th>
              <th class="text-left">action</th>
            </tr>
            </thead>
            <tbody>
            <% @jobs.each do |p| %>
                <tr>
                  <td class="text-left"><%= link_to p.name, event_path(p, :inspect_event => 'yes'), :style => 'color: blue' %></td>
                  <td class="text-left"><%= p.company.company_profile.company_name unless p.company.blank? %></td>
                  <td class="text-left"><%= link_to 'Approve',job_approve_xviumer_profiles_path(:event_id => p),method: :post, data: { confirm: 'Are you sure you want to approve this?' }, :class => 'btn'  %></td>

                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</div>