@import url(font-awesome.min.css);
body{
	font-family: 'Lato', sans-serif;
	min-height: 100%;
	width: 100%;
	font-size: 14px;
	/* line-height: 22px; */
}

a:link, input, button, select{outline: none!important;}
.r{box-shadow:inset 0px 0px 10px red;}
.g{box-shadow:inset 0px 0px 10px green;}
.b{box-shadow:inset 0px 0px 10px blue;}
/*top main header style*/
.top-header{
	width: 100%;
	height: 60px;
	z-index: 10;
	position: fixed;
	background-color: #333333;
}
.logout{
	border-radius: 2px!important;
	border: 1px solid #4ECDC4;
	padding: 5px 10px;
	box-shadow: none!important;
	margin-top: 12px;
	overflow: hidden;
	background-color: #4ECDC4;
}
/*navigation set*/
.mobile-nav.commonset{}
.wrapper-box.commonset{padding-left: 0px;}
.left-box.commonset{left: -260px;}
.wrapper-box{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
	display: block;
	margin: 0px auto;
	padding-left: 250px;
	box-shadow: 0px 0px 5px #888;
	-webkit-transition:500ms;
	-moz-transition:500ms;
	transition:500ms;
}
.mobile-nav{
	width: 32px;
	height: 32px;
	font-size: 30px;
	line-height: 28px;
	color: #666;
	display: inline-block;
	vertical-align: middle;
	margin-top: 15px;
	cursor: pointer;
	margin-right: 7px;
	-webkit-transition:500ms;
	-moz-transition:500ms;
	transition:500ms;
}
.mobile-nav:hover, .mobile-nav.commonset{
	color: #555;
}
.logo-img{
	width: 100%;
	max-width: 100px;
	height: 65px;
	display: inline-block;
	margin-top: 0px;
	vertical-align: middle;
	position: absolute;
}
.left-box{
	width: 250px;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 4;
	background-color: #3F3F3F;
	-webkit-transition:500ms;
	-moz-transition:500ms;
	transition:500ms;
	padding: 10px;
	padding-top: 80px;
}
.left-navigation{
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

/*Right box*/
.right-box{
	width: 100%;
	height: 100%;
	padding-top: 60px;
	position: relative;
	-webkit-transition:500ms;
	-moz-transition:500ms;
	transition:500ms;
	z-index: 3;
}


.right-box-inner{
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	overflow-scrolling: touch;
	padding: 10px 16px 20px 16px;
	background: #F9F9F9;
}

.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.l{box-shadow: inset 0px 0px 1px red;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.comp_img{
	width: 100px;
	height: 100px;
	border: 1px solid #3F3F3F;
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0px 0px 1px #333;
}
.comp_img img{width: 100%;}
.left-text{
	color:#d5d5d5; 
}
.com_det h4{
	font-size: 16px;
	color: #eee;
	padding: 0px;
	margin: 0px;
}
.det-tab{width: 100%;margin-bottom: 5px!important;}
.det-tab tr td{padding: 6px 0px;}
.det-tab tr td:last-child{font-weight: bold;}
.imgsize img{width: 100%;}
.rating{
	height: 30px;
	line-height: 30px;
	margin-top: 20px;
	clear: both;
}
.ratingL,.ratingR{float: left;}
.ratingL{width: 25%;}
.ratingR{min-width:75%;}
.status{
	margin: 10px 0px;
	padding: 10px; 
	background-color: #4ECDC4; 
	color: #fff; 
	font-size: 15px; 
	border-radius: 1px;
}
.status span{
	display: inline-block;
	width: 20px; 
	text-align: center;
}
.addtext strong{display: block;}
.carddiv{
	background-color: #ffffff;
	border-top: 1px solid #F8F8F8;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.mytable{width: 100%; margin: 0px!important;}
.mytable tr td{padding: 10px 15px;}
.mytable tr td:first-child{
	font-size: 13px;
	font-weight: bold;
}
.card-head{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	color: #666;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 400;
	padding-bottom: 4px;
}
.innerdiv{
	background:#FaFaFa; 
	padding:10px;
	border: 1px solid #F9F9F9; 
	margin-bottom: 15px; 
	min-height: 70px;
}
.innerspan{display:block; font-size:17px;}
.btnmy{
	background-color: #EEEEEE;
	border: 1px solid #E0E0E0;
	border-radius: 1px;
}
.mb8{margin-bottom: 8px;}
.btnmy:hover{background-color: #E0E0E0;}

.cust-tab li{overflow: hidden;}
.nav-tabs .cust-tab li.active a,.nav-tabs .cust-tab li.active a:hover{
	color: #95BCF2!important;
	border-bottom: none!important;
}
.text{
	text-transform: capitalize; 
	font-weight: normal!important; 
	word-spacing:0px!important;
}
.cust-tab li a{
	border: 1px solid #999;
	border-radius: 3px 3px 0px 0px!important;
	background-color: #95BCF2;
	border-bottom-color: #AAA;	
	color: #555;
	font-size: 15px;
	font-weight: bold;
}
.cust-tab li a:hover{
	border: 1px solid #999;
	border-radius: 3px 3px 0px 0px!important;	
	background-color: #95BCF2;
	border-bottom-color: #AAA;
	color: #555;opacity: 0.8;
}
.mytab{
	border: 1px solid #E5E5E5;
	border-top: none;
	padding: 15px;
	margin-bottom: 30px;
}
.createpf input[type="text"],.createpf select,.createpf .input-group-addon{border-radius: 0px; min-height: 38px;}

.mt{margin-top: 3px!important;}
.legend-bdr{border: 1px solid #ddd!important;}
.legend-bdr,.legend-dot-bdr, .legend-dash-bdr{
	position: relative;
	border: 1px dotted #ccc;
	padding: 20px 20px 12px 20px;
}
.legend-dash-bdr{border: 1px dashed #ccc!important;}
.legend-bdr .legend, .legend-dot-bdr .legend,.legend-dash-bdr .legend{
	position: absolute;
	top: -10px;
	font-size: 14px;
	line-height: 14px;
	color: #666;
	left: 14px;
	background: #F9F9F9;
	padding-left: 6px;
	padding-right: 6px;
}
video{width: 100%;}
.line{
	border-top: 1px solid #E5E5E5;
	padding: 0px!important; 
	margin: 20px 0px!important;
}
.btn.btngreen{
	border-radius: 1px; 
	padding: 6px 15px;
	color: #FFFFFF;
	border: 1px solid #59BA41; 
	background-color:#59BA41; 
}
.salary{background-color: #F5F5F5;}
.carddivheigt{min-height: 300px;}
.btn-rad{border-radius: 1px!important;font-size: 12px!important;text-transform: uppercase;font-weight: 500;}

/* ----Add css----- */
.deleteimg,.deletevid{position: relative;margin-bottom: 10px;}
.del{
	display: block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(255,255, 255, 0.4);
	position: absolute;
	right: 17px;
	top: 2px;
	font-weight: 300;
}
.del:hover{
	color: #AB4D47;
	background-color: rgba(255,255, 255, 0.8);
}
.emptybox{
	border: 1px solid #E5E5E5;
	height: 200px;
	padding: 8px;
	border-radius: 4px;
	box-sizing: border-box;
}
.empty-text{
	border: 1px dashed #ddd;
	border-radius: 4px;
	height: 182px;
	box-sizing: border-box;
	text-align: center;
}
.empty-text span{
  color: #aaa;
  display: block;
  cursor: default;
  font-size: 1.6em;
  padding: 65px 10px;
  opacity: 0.5;
}
.divheight{
	min-height: 200px;
}
.divheight input[type="radio"],.divheight label{
	text-transform: capitalize!important;
}
.combinebox{position: relative;}
.buttonsub{
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 0px!important;
	height: 34px;
	box-sizing: border-box;
	line-height: 32px;
	border: 1px solid transparent;
	background-color: #286090;
	color: #fff;
	width: 90px;
	font-size: 13px;
	text-transform: uppercase;
}
.combinebox input[type="text"]{
	border-radius: 2px;
	padding-right: 100px;
}

/* -------create profile form------------- */
.mt3{margin-top: 3px;} .mt5{margin-top: 5px;}
.mt10{margin-top: 10px;} .mt15{margin-top: 15px;}
.mt20{margin-top: 20px;} .mt25{margin-top: 25px;}
.mt30{margin-top: 30px;} .mt35{margin-top: 35px;}
.nav-tabs.tab-cust{
  padding: 0px;
  margin: 0px;
  border: none;
}
.nav-tabs.tab-cust li a{
  background-color: #286090;
  border: 1px solid #666;
  border-radius: 3px!important;
  color: #fff;
  padding: 8px 25px;
  margin-bottom: 15px;
  margin-right: 8px;
}
.nav-tabs.tab-cust li a:hover{
  background-color: #31B0D5;
  border-color: #31B0D5;
  color: #fff!important;
}
.nav-tabs.tab-cust li.active a{
  background-color: #31B0D5;
  border-color: #31B0D5;
  color: #fff!important;
  position: relative;
}
.nav-tabs.tab-cust li.active a:after{
  content: " ";
  width: 0; 
  height: 0; 
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 11px solid #31B0D5;
  position: absolute;
  left: 50%;
  bottom: -11px;
  margin-left: -13px;
}
.tabs-animated .tab-content{
  border: 1px solid #f2f2f2;
  min-height: 250px;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 40px;
  background-color: #F9F9F9;
  /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.04); */
}
.btn-my{
  background-color: #777;
  box-shadow: none;
  border-radius: 2px;
  color: #e5e5e5;
  padding: 6px 25px;
}
.btn-my:hover{
  color: #fff;
  background-color: #555;
}
.tabs-animated .tab-content .tab-pane{
  /* background-color: red; */
  min-height: 250px;
  position: relative;
  padding-bottom: 65px;
}

.tabs-animated .tab-content .tab-pane .btnmyR{
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.tabs-animated .tab-content .tab-pane .btnmyL{
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.btn-success{
  border-radius: 2px;
  padding: 6px 25px;
}
.inputform{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.inputform li{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 10px;
}

/* ------------- */
.radio-custom{
	display: inline-block;
	position: relative;
	padding-left: 24px;
	margin-bottom: 0px;
	font-weight: normal;
	font-size: 15px;
	text-transform: inherit!important;
}
.radio-custom input{
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
}
.radio-desing{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 18px;
	height: 18px;
	line-height: 0px;
	border: 1px solid #777;
	border-radius: 50%;
}
.radio-custom input:checked ~ .radio-desing:before{
	content: '';
	position: absolute;
	width: 10px;
	height: 6px;
	border-left: 2px solid #888;
	border-bottom: 2px solid #888;
	top: 4px;
	left: 3px;
	transform: rotate(-45deg);
}

@keyframes radio-animation{
	from{transform: scale(2); opacity: 0.1}
	to{transform: scale(1);}
}
.padlbox{
	padding-left: 10px;
}
.about_heading.pad{
	padding: 0px;
	margin: 0px;
}
/* --End-- */

/* ------------------------ */
/* .searchDiv{
		background-color: rgba(75, 104, 120, 0.5);
		padding: 5px!important;
		border-radius: 3px;
	}
	.divpadding{
		padding-left: 5px!important;
		padding-right: 5px!important;
	}
	.searchbox{
		float: left;
		width: 28%;
		background-color: transparent;
		padding: 5px;
	}
	.searchbox.last{
		width: 16%!important;
	}
	.searchbox select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
	}
	.searchbox .dropdownicon{
		display: block;
		position: relative;
	}
	.searchbox .dropdownicon:after{
		content: " ";
		position: absolute;
		right: 5px;
		top: 15px;
		color: red;
		width: 0; 
	  height: 0; 
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid #666;
	} */





@media only screen and (min-device-width : 360px) and (max-device-width : 640px){
.divpad{padding: 0px!important;}
.carddiv{
	padding: 5px!important;
	margin-top: 5px!important;
	margin-bottom: 5px!important;
}
.mytable tr td:first-child{width: 100px; padding: 5px 0px!important;}
.div_text{text-align: center;}
.cust-tab{
	height: 43px;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap!important;
}
} 