
<%= stylesheet_link_tag 'style-activity' %>
<%= stylesheet_link_tag 'reset-activity' %>
<section id="cd-timeline" class="cd-container">
<% @follow_activities.each do |activity| %>

    <% if activity.trackable.present? %>
        <%# if current_individual.following?(activity.trackable.follower.profile)  %>
        <%= render_activity activity %></br>
    <% end %>
<% end %>
</section> <!-- cd-timeline -->

<style>
  .feed-name {
   color: #5A67C3 !important;
  font: 17px bold arial, sans-serif !important;


  }

</style>