<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Lets Login</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" href="/assets/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/assets/style.css" type="text/css" />
  <link rel="stylesheet" href="/assets/style-create-profile.css" type="text/css" />
  <link rel="stylesheet" href="/assets/et-line.css" type="text/css" />
  <link rel="stylesheet" href="/assets/dark.css" type="text/css" />
  <link rel="stylesheet" href="/assets/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/animate.css" type="text/css" />
  <link rel="stylesheet" href="/assets/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="/assets/responsive.css" type="text/css" />
  <link rel="stylesheet" href="/assets/components/radio-checkbox.css" type="text/css" />
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= csrf_meta_tags %>
  <meta property="og:image" itemprop="image" content="https://s3.amazonaws.com/letslogin/individual_photos/portfolio_photos/000/000/005/original/10174788_1016144805125529_8183902077235174322_n.png">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>

</head>
<body data-loader="9" data-animation-in="fadeIn" data-speed-in="1500" data-animation-out="fadeOut" data-speed-out="800"
      class="stretched ">


  <%# if individual_signed_in? && current_individual.confirmed_at.blank? %>
<!--<div class="navbar-fixed" style=" height: 21px;"> <nav style="background: #fb8c00; height:21px;"><p style="margin-top: -22px; color: #000;">You have not confirmed your account yet, Please log in to your email account and confirm your email.</p> </nav></div>-->
    <%# end %>

<%= yield %>

</body>
</html>
